[2020-11-27 08:59] gideonairex commented on #60
### Installation and Bootstrap
1.  layouts and basic components

Todo:
1. Update theme on common buttons and inputs
<img width="1221" alt="Screen Shot 2020-11-27 at 4 56 16 PM" src="https://user-images.githubusercontent.com/6386061/100430365-a9343080-30d1-11eb-9649-d066b747aedc.png">
<img width="1229" alt="Screen Shot 2020-11-27 at 4 56 03 PM" src="https://user-images.githubusercontent.com/6386061

[2020-11-28 01:03] CMCDragonkai opened #61 "Internationalisation"
We need to make sure that Polykey can be internationalised. Obviously start with US English. But subsequently most of the text can be swapped out with a language file.

I think there is a JS library designed for this.

Probably the next major language after English should be Chinese.

[2020-11-28 01:04] CMCDragonkai commented on #61
https://phrase.com/blog/posts/the-best-javascript-i18n-libraries/

[2020-11-30 08:36] CMCDragonkai commented on #63
@robert-cronin is this still an error?

[2020-11-30 08:37] CMCDragonkai commented on #63
This really needs to be solved before general release.

[2020-12-01 02:55] robert-cronin commented on #63
Yes this is still an error, I had hoped there would be some guidance from isomorphic git repo but there hasn't been any update since I posted this issue in July: https://github.com/isomorphic-git/isomorphic-git/issues/1198

[2020-12-02 10:31] CMCDragonkai commented on #6
For autofill/autotype on desktop, we should look at this:

* https://keepass.info/help/base/autotype.html
* https://keepass.info/help/v2/autotype_obfuscation.html
* https://community.bitwarden.com/t/auto-type-autofill-for-logging-into-other-desktop-apps/158/106 - see the last few comments describing some of this

I think desktops don't have a direct autofill/autotype feature builtin unlike mobile

[2020-12-02 10:33] CMCDragonkai commented on #6
Since autofill is separate idea compared to os keychains. I've created a separate issue to #63.

[2020-12-02 10:35] CMCDragonkai commented on #44
Since this is a design problem, I'm probably leaving this to Faith to do. Some of the ideas probably applies to Convergence.

[2020-12-02 10:38] CMCDragonkai commented on #44
Closing this for now.

[2020-12-02 10:39] CMCDragonkai commented on #24
Since this is decentralized application, we would need to request the user's permission to send back diagnostic information back to home. Since this is low priority for now, closing it.

[2020-12-02 10:40] CMCDragonkai commented on #23
This is probably too advanced for most users and is unlikely to be needed, closing this. @gideonairex @robert-cronin

[2020-12-02 10:41] CMCDragonkai commented on #31
@gideonairex can you expand on this issue with a few sketches on this idea. Would be important to make sure we have this figured out before we expend more time on designing the vault interface.

[2020-12-02 10:42] CMCDragonkai commented on #41
Given that we are thinking of cryptoforts avatars for Polykey, I wonder if they can be used instead of QR codes.

For higher density QR codes, we can use fountain codes combined with animation and colours.

https://github.com/divan/txqr

[2020-12-02 10:43] CMCDragonkai commented on #41
We should have a general issue for the Keynode Profile.

[2020-12-02 10:47] CMCDragonkai opened #64 "Keynode Profile"
Keynodes are cryptographic entities that form part of the gestalt identity in cyberspace.

Each keynode entity has a public key, and thus has a public certificate.

An x509 certificate can contain custom information like how smallstep has encoded custom information on the certificates that they generation.

We can use this to encode further custom information while remaining standards compliant (a

[2020-12-02 10:51] CMCDragonkai commented on #63
Beware of https://www.theverge.com/2017/12/30/16829804/browser-password-manager-adthink-princeton-research

[2020-12-07 08:58] robert-cronin commented on #128
I am actually not sure that kbpgp does anything like this natively but we can achieve similar functionality by storing a mirrored version of the vault keys in a separate file that is somehow protected by that backup key file

[2020-12-07 09:01] robert-cronin commented on #128
I will add this into the next PR as I think it will be relatively straight forward to implement.

[2020-12-07 10:26] CMCDragonkai commented on #128
We have a recovery code system similar to bip39 mnemonics. That should be sufficient to solve this problem. See the screenshots that @faithveloro has worked on.

[2020-12-08 00:30] CMCDragonkai commented on #130
@robert-cronin ETA for this PR?

[2020-12-08 00:30] CMCDragonkai commented on #130
@gideonairex you should track this PR as well, looks like some things coming here will result in features in the frontend.

[2020-12-08 02:50] robert-cronin commented on #130
I am hoping to be finished by Friday, still need to schedule a meeting with @nzhang-zh to ensure the fixes to the hole punching are working correctly

[2020-12-08 09:25] robert-cronin opened #137 "Implement a gRPC Stream Channel for Polykey Events to the Frontend"
To implement some kind of Pessimistic Concurrency Control, we need to have a gRPC stream that can be subscribed to by the frontend (either CLI REPL or GUI) that tell the front end if any changes happen in a server-push kind of way

[2020-12-08 12:14] CMCDragonkai commented on #137
This isn't PCC. This is just a matter of streaming events to the frontend so it can be eventually consistent and have near-realtime synchronization of UI state.

The CC hasn't come into play yet. It's when you actually have possible ambiguities or write conflicts that's when CC comes into play.

@gideonairex We will need this for both cross-client interaction and KN to KN interaction. So the same

[2020-12-08 12:16] CMCDragonkai commented on #137
Also while we might have been using Req/Rep GRPC calls, this is about the server calling the client now. But our clients establish this streaming connection. But think of the server calling the client. Perhaps GRPC has a way of hooking in client callbacks for the server to be calling? The server is the KN in this case.

[2020-12-08 12:16] CMCDragonkai commented on #137
Will be good practice for Convergence UI.

[2020-12-09 14:42] faithveloro commented on #128
Attaching screenshots here:
![✳️ Desktop - Step 3 1_ Backup or Recovery Code](https://user-images.githubusercontent.com/46587577/101643995-a9d4ab80-3a6f-11eb-863f-597d7b8160b1.jpg)
![✳️ Desktop - Step 3 2_ Backup or Recovery](https://user-images.githubusercontent.com/46587577/101644029-b22ce680-3a6f-11eb-93c3-090da4f5b677.jpg)
![✳️ Desktop - Step 3 3 1_ Backup or Recovery](https://user-images.gith

[2020-12-11 08:18] robert-cronin commented on #128
I am currently integrating https://github.com/bitcoinjs/bip39 into the key manager for mnemonic generation, my one concern is that kbpgp keys are not currently deterministic (strictly speaking they are but not to us) because the salt/seed is not transparent or definable when generating a new keypair. So my alternative thought was to store this mnemonic in the KeyManager and then have the mnemonic

[2020-12-14 03:22] robert-cronin opened #138 "Setting PK_PEERS_PORT Does Not Override Existing Configuration"
Setting PK_PEERS_PORT should override an already set port, I suspect this is due to the configuration file in .agent folder having a higher priority than the environment variables somehow (the priority should be env var's)

[2020-12-14 03:25] robert-cronin commented on #138
Well, a little embarrassing but I was using the code wrong! It should be `PK_PEER_PORT`. Although now I am wondering whether `PEERS` is a better naming convention since that is also the CLI command convention (i.e. `pk peers ...`)

[2020-12-14 03:25] #138 closed, assigned to robert-cronin

[2020-12-16 08:40] gideonairex commented on #60
Closing this as to we are going to update with the latest design #66

[2020-12-16 08:40] #60 closed

[2020-12-16 10:27] robert-cronin commented on #130
Went a bit over schedule, the UDP hole punching was a little more complicated than anticipated but is finally working over the public internet. To keep the code review more manageable, I will be breaking this PR up so that the already solved issues can be reviewed and merged. Issues #113, #128 and #131 will be split into their own PR for social discoverey and other UI/UX issues

[2020-12-16 10:35] robert-cronin commented on #128
another issue here is that the vault keys are currently stored in each vault to localise vault information as well as avoid large cryptographic operations on a single, centralised vault key file in the case of very many vaults. We can just maintain an encrypted file within each vault alongside the existing vault key.

[2020-12-16 11:31] CMCDragonkai commented on #130
@gideonairex Can you cross review this with @robert-cronin.

I will need you guys to review each others code in accordance with coding guidelines in the orientation repository as well and make discussions available here too.

I won't always have time to review all the code.

[2020-12-16 11:31] CMCDragonkai commented on #130
@robert-cronin Make sure to get `lint` and `lintfix` working as well to ensure that all code is formatted.

See: https://gitlab.com/MatrixAI/open-source/js-polykey/-/pipelines/229949699

It's currently failing the build.

Also squash the commits into semantic commits.

[2020-12-16 11:33] CMCDragonkai commented on #130
BTW are the tests intended to work via the CI? Seems like it times out.

[2020-12-16 11:42] robert-cronin commented on #130
There is a discrepancy between the gitlab-runner on my local machine and the one actually on gitlab and I haven't managed to figure out why yet. I can have a look soon in the next PR hopefully.

[2020-12-16 11:51] robert-cronin commented on #130
So in the cleanup for this PR, I remembered a bug in the connection logic that I forgot to deal with; if the direct connection tries and fails (in the case of public to private connections) then the rest of the methods cannot be performed, I was getting around the bug before by commenting out the direct connection method so it would go directly to the hole punching.

The bug seems to be something

[2020-12-17 01:12] CMCDragonkai opened #139 "The ability to launch $EDITOR when editing a file in a vault"
I'm not sure but is this available?

[code]

Will launch $EDITOR and wait till it closes (hopefully using read/writable fds, or it has to be a temporary file (but security is an issue here)).

I feel like we talked about this before.

Not a high priority feature.

@robert-cronin

[2020-12-17 01:14] CMCDragonkai commented on #131
According to our new polykey-design and DI augmentation process, any social part of polykey needs to be abstracted using a strategy pattern. Basically any code that does social needs to be a like plugin. Other people can contribute new social plugins that can be included in a PK distribution or installed. For now we will release our own plugins. So keybase should be just one of the possible IdPs.

[2020-12-17 05:23] robert-cronin commented on #132
Still a bug with getting peers from peer store based on alias.

[2020-12-18 05:55] faithveloro commented on #31
![View My Vaults - View Details](https://user-images.githubusercontent.com/46587577/102579898-6c8bb000-4138-11eb-96ef-a3d9ca365208.jpg)

Something I drafted yesterday for history @CMCDragonkai @gideonairex

[2020-12-18 07:12] gideonairex commented on #50
Migrated to Gitlab closing this.

[2020-12-18 07:12] gideonairex commented on #63
Migrated to Gitlab closing this.

[2020-12-18 07:13] gideonairex commented on #61
Migrated to Gitlab closing this.

[2020-12-18 07:13] #61 closed

[2020-12-18 07:14] gideonairex commented on #59
Migrated to Gitlab closing this.

[2020-12-18 07:14] gideonairex commented on #66
Migrated to Gitlab closing this.

[2020-12-18 07:15] gideonairex commented on #64
Migrated to Gitlab closing this.

[2020-12-18 07:15] #64 closed

[2020-12-18 07:15] gideonairex commented on #58
Migrated to Gitlab closing this.

[2020-12-18 07:16] gideonairex commented on #57
Migrated to Gitlab closing this.

[2020-12-18 07:16] #57 closed

[2020-12-18 07:17] gideonairex commented on #56
Migrated to Gitlab closing this.

[2020-12-18 07:17] gideonairex commented on #51
Migrated to Gitlab closing this.

[2020-12-18 07:17] gideonairex commented on #48
Migrated to Gitlab closing this.

[2020-12-18 07:18] gideonairex commented on #41
Migrated to Gitlab closing this.

[2020-12-18 07:20] gideonairex commented on #40
Migrated to Gitlab closing this.

[2020-12-18 07:20] #40 closed

[2020-12-18 07:20] gideonairex commented on #39
Migrated to Gitlab closing this.

[2020-12-18 07:20] gideonairex commented on #32
Migrated to Gitlab closing this.

[2020-12-18 07:21] gideonairex commented on #31
Migrated to Gitlab closing this.

[2020-12-18 07:22] gideonairex commented on #25
Migrated to Gitlab closing this.

[2020-12-18 07:22] #25 closed

[2020-12-18 07:24] gideonairex commented on #9
Migrated to Gitlab closing this.

[2020-12-18 07:24] gideonairex commented on #6
Migrated to Gitlab closing this.

[2020-12-18 10:07] robert-cronin commented on #139
Closing on account of migration to gitlab

[2020-12-18 10:07] #139 closed, assigned to nobody

[2020-12-18 10:07] robert-cronin commented on #137
Closing on account of migration to gitlab

[2020-12-18 10:07] #137 closed, assigned to robert-cronin

[2020-12-18 10:07] robert-cronin commented on #136
Closing on account of migration to gitlab

[2020-12-18 10:07] #136 closed, assigned to gideonairex, robert-cronin

[2020-12-18 10:07] robert-cronin commented on #135
Closing on account of migration to gitlab

[2020-12-18 10:07] #135 closed, assigned to robert-cronin

[2020-12-18 10:07] robert-cronin commented on #134
Closing on account of migration to gitlab

[2020-12-18 10:07] #134 closed, assigned to robert-cronin

[2020-12-18 10:08] robert-cronin commented on #133
Closing on account of migration to gitlab

[2020-12-18 10:08] #133 closed, assigned to robert-cronin

[2020-12-18 10:08] robert-cronin commented on #132
Closing on account of migration to gitlab

[2020-12-18 10:08] #132 closed, assigned to robert-cronin

[2020-12-18 10:08] robert-cronin commented on #131
Closing on account of migration to gitlab

[2020-12-18 10:08] #131 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #129
Closing on account of migration to gitlab

[2020-12-18 10:09] #129 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #128
Closing on account of migration to gitlab

[2020-12-18 10:09] #128 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #127
Closing on account of migration to gitlab

[2020-12-18 10:09] #127 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #126
Closing on account of migration to gitlab

[2020-12-18 10:09] #126 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #124
Closing on account of migration to gitlab

[2020-12-18 10:09] #124 closed, assigned to robert-cronin

[2020-12-18 10:09] robert-cronin commented on #123
Closing on account of migration to gitlab

[2020-12-18 10:09] #123 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #122
Closing on account of migration to gitlab

[2020-12-18 10:10] #122 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #121
Closing on account of migration to gitlab

[2020-12-18 10:10] #121 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #120
Closing on account of migration to gitlab

[2020-12-18 10:10] #120 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #113
Closing on account of migration to gitlab

[2020-12-18 10:10] #113 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #104
Closing on account of migration to gitlab

[2020-12-18 10:10] #104 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #101
Closing on account of migration to gitlab

[2020-12-18 10:10] #101 closed, assigned to robert-cronin

[2020-12-18 10:10] robert-cronin commented on #95
Closing on account of migration to gitlab

[2020-12-18 10:10] #95 closed, assigned to robert-cronin

[2020-12-18 10:11] robert-cronin commented on #93
Closing on account of migration to gitlab

[2020-12-18 10:11] #93 closed, assigned to robert-cronin

[2020-12-18 10:11] robert-cronin commented on #89
Closing on account of migration to gitlab

[2020-12-18 10:11] #89 closed, assigned to robert-cronin

[2020-12-18 10:11] robert-cronin commented on #88
Closing on account of migration to gitlab

[2020-12-18 10:11] #88 closed, assigned to nobody

[2020-12-18 10:12] robert-cronin commented on #85
Closing on account of migration to gitlab

[2020-12-18 10:12] #85 closed, assigned to robert-cronin

[2020-12-18 10:12] robert-cronin commented on #82
Closing on account of migration to gitlab

[2020-12-18 10:12] #82 closed, assigned to robert-cronin

[2020-12-18 10:12] robert-cronin commented on #81
Closing on account of migration to gitlab

[2020-12-18 10:12] #81 closed, assigned to robert-cronin

[2020-12-18 10:12] robert-cronin commented on #80
Closing on account of migration to gitlab

[2020-12-18 10:12] #80 closed, assigned to nobody

[2020-12-18 10:12] robert-cronin commented on #78
Closing on account of migration to gitlab

[2020-12-18 10:12] #78 closed, assigned to robert-cronin

[2020-12-18 10:12] robert-cronin commented on #76
Closing on account of migration to gitlab

[2020-12-18 10:12] #76 closed, assigned to robert-cronin

[2020-12-18 10:12] robert-cronin commented on #74
Closing on account of migration to gitlab

[2020-12-18 10:12] #74 closed, assigned to nobody

[2020-12-18 10:13] robert-cronin commented on #72
Closing on account of migration to gitlab

[2020-12-18 10:13] #72 closed, assigned to robert-cronin

[2020-12-18 10:13] robert-cronin commented on #71
Closing on account of migration to gitlab

[2020-12-18 10:13] #71 closed, assigned to robert-cronin

[2020-12-18 10:13] robert-cronin commented on #69
Closing on account of migration to gitlab

[2020-12-18 10:13] #69 closed, assigned to robert-cronin

[2020-12-18 10:13] robert-cronin commented on #68
Closing on account of migration to gitlab

[2020-12-18 10:13] #68 closed, assigned to robert-cronin

[2020-12-18 10:13] robert-cronin commented on #66
Closing on account of migration to gitlab

[2020-12-18 10:13] #66 closed, assigned to robert-cronin

[2020-12-18 10:14] robert-cronin commented on #87
Closing on account of migration to gitlab

[2020-12-18 10:14] #87 closed, assigned to robert-cronin

[2020-12-18 10:14] robert-cronin commented on #63
Closing on account of migration to gitlab

[2020-12-18 10:14] #63 closed, assigned to robert-cronin

[2020-12-18 10:15] robert-cronin commented on #58
Closing on account of migration to gitlab

[2020-12-18 10:15] #58 closed, assigned to robert-cronin

[2020-12-18 10:15] robert-cronin commented on #51
Closing on account of migration to gitlab

[2020-12-18 10:15] #51 closed, assigned to robert-cronin

[2020-12-18 10:15] robert-cronin commented on #45
Closing on account of migration to gitlab

[2020-12-18 10:15] #45 closed, assigned to robert-cronin

[2020-12-18 10:16] robert-cronin commented on #41
Closing on account of migration to gitlab

[2020-12-18 10:16] #41 closed, assigned to robert-cronin

[2020-12-18 10:17] robert-cronin commented on #39
Closing on account of migration to gitlab

[2020-12-18 10:17] #39 closed, assigned to robert-cronin

[2020-12-18 10:18] robert-cronin commented on #49
Closing on account of migration to gitlab

[2020-12-18 10:18] #49 closed, assigned to robert-cronin

[2020-12-18 10:18] robert-cronin commented on #34
Closing on account of migration to gitlab

[2020-12-18 10:18] robert-cronin commented on #33
Closing on account of migration to gitlab

[2020-12-18 10:18] #33 closed, assigned to robert-cronin

[2020-12-18 10:18] robert-cronin commented on #15
Closing on account of migration to gitlab

[2020-12-18 10:18] #15 closed, assigned to robert-cronin

[2020-12-18 10:19] robert-cronin commented on #12
Closing on account of migration to gitlab

[2020-12-18 10:19] #12 closed, assigned to CMCDragonkai, robert-cronin

[2020-12-18 10:19] robert-cronin commented on #10
Closing on account of migration to gitlab

[2020-12-18 10:19] #10 closed, assigned to robert-cronin

[2020-12-18 10:19] robert-cronin commented on #5
Closing on account of migration to gitlab

[2020-12-18 10:19] #5 closed, assigned to robert-cronin

[2021-01-26 00:23] CMCDragonkai commented on #130
@robert-cronin is this still relevant?

[2021-03-12 01:28] CMCDragonkai opened #142 "Test Zenhub issue"
Testing some issue

[2021-03-12 01:29] #142 closed, assigned to DrFacepalm

[2021-03-16 11:41] CMCDragonkai commented on #130
Development occurs on gitlab now.

[2021-05-26 08:27] joshuakarp opened #148 "Authenticate the sender of a hole-punching signalling message"
Upon receiving a hole-punching message (`agentService:sendHolePunchMessage()`), there is no reasonable means of ensuring that the message has come from the node ID stated in the message. Verification of a provided signature requires the public key of the source node.

In the future, we plan to move to Ed25519 keys (once this is supported in node-forge). In this event, the node ID will be the publi

[2021-05-26 08:31] joshuakarp opened #149 "Add 'lightweight' primitive connection functions (ping)"
Fundamental network functions ('PING', relaying a message, etc) require a heavyweight connection construction.

For example, in `NodeGraph:getClosestGlobalNodes()`, we only add discovered nodes to our buckets database once we deem the node to be 'active' or 'online'. The Kademlia specification suggests to perform a ping operation to determine whether a node is active. However, our current network

[2021-05-26 08:31] joshuakarp opened #150 "Remove "revoked" node ID -> node address mappings in `NodeGraph`"
The buckets database used to store node ID -> node address (host:port) mappings is a fixed-size structure, of `n` buckets containing `k` mappings each.

Because a public key can be revoked and refreshed, and the node ID is the public key fingerprint, there is the potential for a keynode to require a new node ID (and thus, new certificate/s as well).

This introduces a trade-off:

* We introduce a

[2021-05-26 08:34] joshuakarp opened #151 "Duplex streaming generator issues"
_Created by @DrFacepalm_

There exists an issue with duplex streaming:
[code]

Currently, the code is using callbacks, and using on `data` and on `end` events to deal with the data. and is working fine, however it would be nice to use the generators.

Related file: `./src/grpc/utils.ts`

[2021-05-26 08:40] joshuakarp opened #152 "Refactor Relay for Symmetric NAT"
_Created by @CMCDragonkai_

The following discussion from 'Refactoring Network Module' MR should be addressed:

- [ ] @zachaccino:  (+2 comments)

[2021-05-26 08:46] joshuakarp opened #154 "CSR feature for Keys domain to allow KN root certificates to be signed by an external CA"
_Created by @CMCDragonkai_

Allowing KN root certs to be trusted by an external CA allows PK KNs to be integrated into an existing PKI. Whether that's a public PKI or private PKI, it increases our compatibility with existing infrastructure.

This would be an interactive thing as PK has to generate a CSR. However our certificates don't have any kind of common name with respect to domains or anythin

[2021-05-26 08:53] joshuakarp opened #155 "React Native and Mobile OS (iOS and Android) Compatibility"
_Created by @CMCDragonkai_

No js-polykey cannot be used in browsers. However for NS, we may need to polyfill alot of our dependencies.

The js-polykey doesn't need to do this. But in Polykey-NativeScript we are going to we webpack5 and have to resolve some packages.

Webpack 5 no longer polyfills node core modules, but we can do it manually:

* https://github.com/Richienb/node-polyfill-webpack-pl

[2021-05-26 14:02] CMCDragonkai opened #156 "Add in LinkedIn as an Identity Provider"
We should add LinkedIn as an IdentityProvider. One of the problems we hit was that LinkedIn due to its limited API is not possible for full automation unlike GitHubProvider. So we have to design this provider with manual prompts for the end user to provide certain information.

One of the things is that we cannot search the connections to find other people that a profile is connected to. We have l

[2021-05-26 14:04] CMCDragonkai opened #157 "Add in Twitter as an Identity Provider"
We should add Twitter as an IdentityProvider. One of the problems we met was that Twitter doesn't use OAuth2 but uses an older oauth protocol that we have to build in.

Old code:

<details>

[code]

[code]

</details>

[2021-05-26 14:12] CMCDragonkai opened #158 "Tree-based Kademlia Data Structure - k-bucket library"
This was part of our package.json - https://github.com/tristanls/k-bucket.

It may not be used due our kademlia being persistent. But it may be a valuable source to understand how to make our own kademlia implementation more performant.

For now I'm removing k-bucket from package.json.

[2021-05-26 14:21] CMCDragonkai opened #159 "NAT-Traversal Testing with testnet.polykey.io"
### Specification

To automatically test for NAT-busting is a bit complex, you need to simulate the existence of multiple machines, and then simulate full-cone nat, restricted cone nat and then symmetric nat.

Since we don't have a relay proxy enabled yet, symmetric NATs is going to be left out for now. So we'll focus on all the NAT architectures except for symmetric NAT.

### Additional context

[2021-05-26 14:22] CMCDragonkai commented on #159
This should be incorporated into our automated tests when we run jest. But that would also mean using `nix-build`... etc. Or it can be done outside as a separate command that is only run in our `checkPhase` during the building of the application/library (possibly in our release.nix since our default.nix doesn't have this).

[2021-05-26 14:34] CMCDragonkai opened #160 "Stop using `gh-pages` and instead just generate docs into master"
Docs generation should be done in master branch now to avoid having to synchronise to gh-pages all the time. This represents reference documentation for the library and should be linked in the wiki.

The github repo also allows master branch to be the one used now.

[2021-05-27 01:08] joshuakarp opened #161 "Create automated tests for establishing connection via hole-punch signalling message"
### Specification

In order to establish a unidirectional connection between two nodes (a 'client' and a 'server'), both nodes need to send each other hole-punching packets (that is, we require a relay message to be passed to the 'server' node to send relay packets back to the 'client' node). It's not sufficient enough for a node to simply be in its node table to establish a connection - the node

[2021-05-27 04:06] scottmmorris opened #162 "Vault merge conflicts and vault pull/clone edge cases"
When pulling changes for a vault, if merge conflicts arise, they need to be rejected at this stage as there is no ability for users to resolve the merge conflicts

Also, the edge cases for vault cloning and pulling need to be considered. For example, if a user clones a vault and while pulling from the vault the git history does not match the expected results this should be rejected

## Additional

[2021-05-27 05:00] CMCDragonkai opened #163 "Chain of Attribute Certificates (or sigchain of JWT) for append-only log of ownership claims"
I've been reading about https://en.wikipedia.org/wiki/Authorization_certificate and https://en.wikipedia.org/wiki/JSON_Web_Token and it appears that our ownership claims can instead of being put into the root certificate can be instead be put into the JWTs instead (there's a JAC standard but it's not very popular). Then a chain of JWTs can be presented regarding all the claims that the keynode cla

[2021-05-27 05:05] CMCDragonkai opened #164 "Hierarchical Key Generation"
Right now we have deterministic key generation using the BIP39 standard for the root key.

However this only allows us to recover the root key. It doesn't allow us to recovery any sub asymmetric keys or any sub symmetric keys.

The HD wallet standard in bitcoin seems to be able to allow us to do this as well, thus the seed phrase can be used to recover all keys asymmetric/symmetric.

This might be

[2021-05-27 23:57] joshuakarp opened #165 "Optimise the performance of IdPs"
_Created by @CMCDragonkai_

The following discussion from !141 should be addressed:

- [ ] @CMCDragonkai started a [discussion](https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/141#note_498393381):  (+2 comments)

So basically:

1. Resource caching
2. Rate limit tracking
3. Conditional requests (based on resource caching)

should all be applied where we can do so.

[2021-05-28 00:06] joshuakarp opened #166 "Third Party Integration - HTTP API, OAuth2 Provider API, Plugin API, Library vs Framework, Smart Tokens"
_Created by @CMCDragonkai_

Once we reintroduce OAuth2 into Polykey, because our OAuth2 requirements are pretty simple, it would be beneficial to implement it from scratch to reduce dependency requirements.

We have already implemented an Oauth2 client side from scratch [in MR 141](https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/141).

This would mean these dependencies

[2021-05-28 00:10] joshuakarp opened #167 "Cannot establish a gRPC connection when using Apple M1 processor"
_Created by gideonairex_

### Environment
1. Mac - Big Sur
2. Processor - Apple M1

### Current
1. Everytime the client connects it hangs up
2. Then drops the connection

### Expectation
1. Client should connect to the gRPC server

### Screenshots
![image](https://user-images.githubusercontent.com/49772421/119911574-e3a55a00-bf9c-11eb-982d-d2c7fbbf99cd.png)
![image](https://user-images.githubuserc

[2021-05-28 01:24] joshuakarp opened #168 "Replace node-forge RSA Keypair With ed25519/x25519 Keypair"
_Created by robert-cronin_

This issue is about specifying how we actually intend to use asymmetric crypto to:

* Present identities of keynodes
* Authenticate/verify the identity of keynodes
* Generate subkeys/vault-keys as the encryption/decryption keys for the vaults (which is ultimately symmetric)
* Establish secure communication channels between keynodes

The 2 modern algorithms for signing a

[2021-05-28 01:25] joshuakarp commented on #168
There's a current open PR on the node-forge repo regarding ed25519 in PEM: https://github.com/digitalbazaar/forge/pull/851. This will make this transition much easier.

[2021-05-28 01:46] joshuakarp opened #169 "Pseudo file systems interface"
_Created by robbie-cronin_

Adding another interface when I was thinking about integration into Matrix OS and NixOS.

See: https://en.wikipedia.org/wiki/Synthetic_file_system

Basically we can present certain secrets to the user through presenting a pseudo filesystem and automatically mounting it somewhere.

Of course, this involves things like FUSE since Polykey is likely run by non-root user.

O

[2021-05-28 01:47] joshuakarp opened #170 "File Descriptor Interface"
_Created by robbie-cronin_

## File Descriptor

This is a theoretically elegant way of passing capabilities around. Because of its advanced nature, it will probably only be used by advanced users like Matrix AI, or other people who really care about security.

A file descriptor is a kernel object representing/and acting like a file. But it doesn't exist on the filesystem. It's not a "named" file.

[2021-05-28 01:49] joshuakarp opened #171 "File watching interface"
_Created by @CMCDragonkai_

Related to #169 or #170

We can see that there are many tokens that exists in config files littered on people's computers. Whenever you use anything that requires authenticated usage, this ends up going into files like `~/.config/...`. This includes SSH keys and GPG keys and `GITHUB_TOKEN` or cachix token or `~/.aws/credentials` or ... etc.

Point is, how does one synch

[2021-05-28 01:50] joshuakarp opened #172 "Enforce zero merge conflicts"
_Created by @CMCDragonkai_

I want to explore the idea of making Polykey NEVER have a merge conflict.

How do we do this? Well we must limit the control surface of pushes/pulls and changes so that this can never occur.

One idea is this. As soon as a vault has been pushed to a keynode. If that keynode changes that vault. It doesn't mutate that vault. Instead what happens is that the vault is forke

[2021-05-28 01:53] joshuakarp opened #173 "Integrating PKCS #11 standard for accessing HSM"
_Created by @CMCDragonkai_

Polykey could be used to access HSM.

In particular we can maintain some information in available HSM on the target platform instead of just sitting in in `~/.polykey`.

Or perhaps even an entire keynode could be put into the HSM. Right now we just need a posix filesystem.

Not entirely sure, but I suspect support of HSM would enable alot more corporate usage. And this

[2021-05-28 02:13] joshuakarp opened #174 "External Secret Store Integration e.g. AWS Secrets Manager/ECS, Gitlab CI/CD"
### Specification

External secret stores are stateful systems that often store secrets that are intended for to be used DevOps work. Integrating into external secret stores prevents [**Secret Sprawl**](https://www.google.com/search?q=secret+sprawl) that leads to [**Configuration Divergence**](https://matrix.ai/blog/configuration-divergence/). Unifying secret configuration means there's one place

[2021-05-28 02:54] joshuakarp opened #175 "Node ACL - authentication vs. authorisation of keynodes"
_Created by robbie-cronin_

This is a design concern for the implementation of the ACL (access control list).

---

We need to separate the authentication and authorisation of the keynodes. Authentication is verifying that and agent is known and trustworthy or in other words that agent A knows agent B and trusts that person B controls keynode B. Authorisation is treated as the separate issue of wh

[2021-05-28 03:05] joshuakarp opened #176 "Add password generator"
_Created by @CMCDragonkai_

When users create secrets automatically (for example, when creating an account password on a website), we should have some mechanism that generates a secure password.

For example, in LastPass:

![image](https://user-images.githubusercontent.com/49772421/119923426-080d3080-bfb5-11eb-86f6-58f13db5934e.png)

This can also be used for generating Polykey secrets. For this c

[2021-05-28 05:32] CMCDragonkai opened #177 "Update testnet.polykey.io to point to the list of IPs running seed keynodes"
Done on cloudflare.

![image](https://user-images.githubusercontent.com/640797/119934900-e8ccce00-bfc9-11eb-84b6-dba70b5eb1a5.png)

This will depend on us deploying the js-polykey keynode containers onto AWS.

Also change `bootstrap.polykey.io` to `seed.polykey.io`.

[2021-05-31 05:08] DrFacepalm opened #178 "Timeouts in Testing involving Worker Manager and Async Operations"
Running `npm run test` causes these errors to occur, which causes failures in unrelated modules. The failing test suites fun without error when run in isolation however.

From what I can tell, it seems to be related to the `WorkerManager` @CMCDragonkai

[code]

* https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202

[2021-06-02 00:46] joshuakarp opened #179 "Access Audit Log"
_Created by @CMCDragonkai_

Any access to secret vaults should be logged, and maybe we can use the atime of files/directories. I dont remember how directory atimes are updated.

It can show **who/what/when/how**.

Access logs can go into a file, or go to stderr.

* Going to stderr allows users to integrate external audit logging systems.
* Going to file means pk will then show the logs over time.

[2021-06-02 00:48] joshuakarp opened #180 "Vault FS/Git Consistency - Atomic Writes/Consistent Writes in the Lower FS"
_Created by @CMCDragonkai_

The lower fs provides the persistence of writes to our "files" in Polykey. We allow incremental mutation of "files" in Polykey. So that means given a 1 GiB file, editing the middle of the file doesn't mean rewriting the entire file. It's supposed to just edit and mutate that small partition in the middle.

However let's say that the buffer we are writing into the middle

[2021-06-04 03:49] DrFacepalm commented on #178
This seems to be related to issues in PolykeyAgent tests. Issues in this cause issues elsewhere.

[2021-06-04 05:13] joshuakarp opened #181 "Maintaining cryptolinks of digital identities through a sigchain"
Digital identities are a key part of the gestalt structure. We use cryptolinks to state that keynodes have 'ownership' of a digital identity.

Recall that we have a chain of certificates for a particular keynode. Our cryptolinks are currently stored in the actual certificate itself.

Instead of recreating the entire certificate whenever a new digital identity is augmented with the keynode, or when

[2021-06-04 05:31] joshuakarp opened #182 "Decentralised NAT Relaying"
### Specification

Recall that a network structure that uses symmetric NAT cannot establish a connection between two nodes via hole-punching. For this, we require a relay connection. Suppose we have a keynode `A` that wants to connect to keynode `B`. However, `B` is behind a symmetric NAT structure. Keynode `C` is assumed to already have a direct connection to `B`:

![image](https://uploads.linear

[2021-06-15 07:03] tegefaulkes opened #183 "No vaultId when creating a new vault."
When creating a new vault we set the vaultName and the ID is automatically generated.
However only success returned so we do not know the vaultId at time of creation.
We would have to look this up in the vaults list and work out witch one is the new ID.
It is obvious if there is only one vault the the name given but that is not always unique.

it would be nice to have the new vaultId returned when

[2021-06-20 23:21] joshuakarp opened #184 "Integrate gestalt graph with ACL"
Two comments:

@CMCDragonkai : https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/188#note_589103130

@CMCDragonkai : https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/188#note_601518284

[2021-06-20 23:24] joshuakarp opened #185 "Implement ACL synchronisation across keynodes in gestalt"
From @CMCDragonkai : https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/188#note_591999167

[2021-06-20 23:26] joshuakarp opened #186 "Extend the capcability control (the allowable actions) specified by the ACL"
@CMCDragonkai : https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/188#note_592046967

[2021-06-20 23:32] joshuakarp opened #187 "Incorporate subleveldown, transaction pattern, and serialize encrypt into all subdomains"
Currently our subdomains use a conglomerate of different variations of leveldb, encryption, and control of actions on the database. In the recently introduced ACL subdomain, the expected use of these has been implemented. We can use this as a framework for how we should structure the other subdomains.
* Incorporate subleveldown: usage of a top-level database for the entire subdomain, breaking down

[2021-06-24 00:59] joshuakarp opened #188 "Indexing Domains and DB Levels for Faster & Flexible Lookup"
### Specification

The sigchain currently uses a linear search to locate a particular claim (for example, relating to a specific identity's cryptolink). This should be extended to improve this `O(n)` lookup.

For example, we could incorporate a map of cryptolink ID (or the equivalent) to the sequence number in the chain of the most recent change to this cryptolink.

### Additional context

See:
*

[2021-06-25 03:45] joshuakarp opened #189 "Implement cryptolink revocations in the sigchain"
Currently, all cryptolinks in the sigchain are considered as **additions** to the sigchain. That is, there's no notion of revocation. As such, `getAllCryptolinks()` simply retrieves all claims from the sigchain that have a `claimType` of 'cryptolink'.

To introduce revocations, we'll need to restructure the `Cryptolink` `ClaimData` type a bit to include a flag or different type that signals the cr

[2021-06-27 07:36] CMCDragonkai commented on #184
Done now in client-refactoring. Client-refactoring will be the last MR on Gitlab, the rest will go to GitHub.

[2021-06-27 07:36] #184 closed, assigned to nobody

[2021-06-27 07:37] CMCDragonkai commented on #175
This is bit too abstract and we have worked out an ACL design in client-refactoring now.

[2021-06-27 07:37] #175 closed, assigned to nobody

[2021-06-27 07:38] CMCDragonkai commented on #163
@joshuakarp this was done in the sigchain MR, and now we are proceeding. If there was any materials here worth reading or keeping track of, you can do so in the wiki.

[2021-06-27 07:38] #163 closed, assigned to nobody

[2021-06-27 07:40] CMCDragonkai opened #190 "Gestalt Synchronisation with Gossip Protocol"
This explains gossip protocols

* https://martinfowler.com/articles/patterns-of-distributed-systems/gossip-dissemination.html

Within our gestalt, we should be synchronising:

* ACL state
* GG state
* Notification state

These can be eventually consistent.

[2021-06-27 07:40] CMCDragonkai commented on #187
In client refactoring this is done for DB, ACL, GG.

We are going to apply it to notifications and VM as well.

And any others. The only one that isn't is the key manager which will require its own database.

[2021-06-27 07:40] CMCDragonkai commented on #186
This is done enough until we have a more specific requirements.

[2021-06-27 07:40] #186 closed, assigned to nobody

[2021-06-27 07:42] CMCDragonkai commented on #181
This is done in client-refactoring now.

[2021-06-27 07:42] #181 closed, assigned to nobody

[2021-06-27 07:46] CMCDragonkai opened #191 "Use https://github.com/vercel/pkg to package up js-polykey for release"
Release distributions shouldn't just be NPM packages.

The CLI of this js-polykey should be installable as just standard linux, windows and mac packages.

This can be installed independently of Polykey GUI, and hopefully we work out a way to propagate the CLi in Polykey GUI as well there. But this is just for the CLI for now.

[2021-07-03 07:17] CMCDragonkai opened #73 "Client Refactoring"

[2021-07-03 07:33] CMCDragonkai commented on #151
This is now solved. It's no longer a problem.

[2021-07-03 07:33] #151 closed, assigned to DrFacepalm

[2021-07-03 07:47] CMCDragonkai commented on #152
I beleive @joshuakarp is the best person to help work on this.

[2021-07-03 07:54] CMCDragonkai commented on #167
I'm going to close this issue for now as we don't support Apple M1 yet.

[2021-07-03 07:54] #167 closed, assigned to nobody

[2021-07-03 07:59] CMCDragonkai commented on #180
@scottmmorris this is the key point here:

So we need to be able to detect if we have screwed up a write to the Vault. If this occurs, we would want to rollback to an earlier commit since isogit should have kept a snapshot from before.

First thing first is how do we know if there has been a corruption? Does the user get alerted of this? Is there some hashing mechanism we can make use of?

A poten

[2021-07-03 08:03] #73 closed

[2021-07-03 08:15] CMCDragonkai commented on #160
This is now done in TypeScript-Demo-Lib, so we can just use `./docs` here in master branch instead of `gh-pages`.

[2021-07-03 08:23] CMCDragonkai commented on #183
Is this an client GRPC API problem or does the problem exist somewhere else?

Also can you give an example of an API call where this occurs. Please give an example.

[2021-07-03 08:24] CMCDragonkai commented on #187
I believe this is done for nodes domain as well. And @scottmmorris has done this for the vaults domain.

Still to do:

* IdentitiesManager - for tokens
* SessionManager

There's also the keys domain which currently the DB depends on, I have a plan for making KeyManager also use DB, but that means DB is managing the DB key outside of leveldb.

[2021-07-03 08:25] CMCDragonkai commented on #191
This was achieved in https://github.com/MatrixAI/TypeScript-Demo-Lib/pull/25 recently. So we just need to port it over here.

[2021-07-03 08:27] CMCDragonkai commented on #190
This eventually provides #185

[2021-07-03 08:30] CMCDragonkai opened #192 "Notifications subsystem"
The notifications subsystem allows nodes from different gestalts to send messages to each other.

This is the way that users can tell other gestalts that they have shared a vault with them.

* Number of messages must be limited possibly 10,000, afterwards the messages are dropped
* Must use the ACL notify permission action
* Need to consider that once a message is read by any, that message is kept

[2021-07-03 08:31] CMCDragonkai commented on #179
Our experiment with open telemetry showed that it was too heavyweight to use for an application like Polykey. It's far more used for server side applications.

Since we now have the sigchain, this is something that can be applied to the sigchain instead, but we still have to spec out how this feature would work, and what kind of claim types can be announced on the sigchain, and how this would work

[2021-07-03 08:34] CMCDragonkai commented on #182
This is primarily used by symmetric NAT architectures. See #152.

[2021-07-03 08:34] CMCDragonkai commented on #152
This is superseded by #182.

[2021-07-03 08:34] #152 closed, assigned to joshuakarp

[2021-07-04 05:09] CMCDragonkai opened #193 "Automatic Release Builds using vercel/pkg"
Releases will be a manual thing on GitHub.

However on master, every commit should automatically trigger a release build that will be published as a prerelease.

This is currently done on TypeScript-Demo-Lib, and needs to be ported over to this repository.

This repository has a number of challenges:

* Static assets like the bootstrap certificates (that may be resolved by importing these as types

[2021-07-04 05:09] CMCDragonkai commented on #193
Note that prereleases are not official releases.

Official releases should be manually done with a proper changelog.

[2021-07-04 09:44] Zachaccino opened #194 "Testnet Node Deployment (testnet.polykey.io)"
### Specification

It is now time for our second attempt at testnet deployment.

![image](https://user-images.githubusercontent.com/640797/138802981-b30ccd55-3ede-4cbb-9e2b-fe644695d711.png)

We had previously already done a PK deployment on AWS using ECS back when PK was `0.0.41`. While the AWS deployment worked, we hit a lot of problems which meant we had to go through an 8 month long refactorin

[2021-07-04 09:57] CMCDragonkai commented on #194
@joshuakarp we need to agree on the right wording/name for this concept in both code and the URL.

* bootstrap - this confuses it with the bootstrap phase and the bootstrap command
* seed - I like this word as this makes sense with respect to other P2P apps
* broker - this word is too overloaded in the machine messaging ecosystem

If we use `seed`, we need to use that terminology everywhere so tha

[2021-07-05 03:30] joshuakarp commented on #194
Agreed - `seed` makes most sense to me too, and distinguishes it from the bootstrap phase.

Can you clarify this a bit more?

[2021-07-05 03:41] joshuakarp opened #195 "Change sigchain claim IDs to be timestamped "flake IDs""
We currently use https://github.com/substack/lexicographic-integer to allow the claims in the sigchain to be numerically ordered whilst in LevelDB (that uses a lexicographical ordering on their keys). This allows us to easily iterate across adjacent entries in the sigchain.

However, if we eventually want to replicate our sigchain across different nodes in a gestalt (or across Polykey nodes in gen

[2021-07-05 03:53] CMCDragonkai opened #196 "Vaults should be able to handle hidden files"
Polykey vaults should treat hidden files like any other file.

Hidden files are files that have `.` in front of their name.

When viewing the files in our GUI/CLI, it should show hidden files just like any other file.

From PK, we give no special treatment to hidden files.

To test conformance with this, please create a test for our vaults that involve CRUD of hidden files, or files with `.` in fr

[2021-07-05 04:01] CMCDragonkai opened #197 "Vault Tagging for Classification and Filtering/Sorting"
Vault tagging is the ability to tag vaults to have a taxonomy/folksonomy of vaults.

This allows user to create classification levels of secrets which is useful for certain workflows: https://en.wikipedia.org/wiki/Classified_information

Users should be able create tags arbitrarily, and then assign these tags in a many-to-many relationship to vaults.

Then users can search for vaults with a specif

[2021-07-05 04:17] CMCDragonkai commented on #166
In addition to rebuilding OAuth2 server from scratch, there's a related problem about having an HTTP API.

GRPC is compatible with HTTP API if there's a gateway that translates our GRPC calls to HTTP.

Having an HTTP API will make it easier for Polykey agent to be integrated with other kinds of clients like Web browsers which don't support GRPC.

Right now the GRPC ecosystem has a thing called "gr

[2021-07-05 04:19] CMCDragonkai commented on #166
I'm going to elevate this issue into an Epic, as it is quite relevant multiple potential subissues.

* Native HTTP API for polykey-agent
* How to maintain conformance between GRPC and HTTP API
* Ensuring that this works for browsers to allow browser extensions in the future
* OAuth2 as an authorisation and authentication system to Polykey
* How this integrates with the existing SessionManagement w

[2021-07-05 04:32] CMCDragonkai opened #198 "Re-enabling Dependency Type Checking - Readable Stream Type Errors"
We should re-enable the dependency type checking as this should ensure that our dependencies are also correctly typed.

We currently use:

[code]

To avoid checking the types of our dependencies.

ATM, the readable-stream has type errors however this was fixed upstream: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44828

We should be able to remove the line and renable checking the ty

[2021-07-05 05:38] tegefaulkes opened #199 "Stealth mode feature."
There may be a need for a stealth mode feature for Polykey But it is not currently MVP.
I'm not sure that stealth mode would do. It might just tell the current node to show as offline. @CMCDragonkai could you add any more details?

[2021-07-05 05:47] CMCDragonkai commented on #199
Check the polykey-design issues, is stealth mode mentioned there?

[2021-07-05 09:19] tegefaulkes commented on #199
I can't find anything in the design issues. there is src-old/nodes/NodeManager.ts:179 in the old code.

[2021-07-05 09:41] tegefaulkes opened #200 "Wrapper methods in GRPCClientClient to get parameter types of the wrapped GRPC call"
### Specification
Here is an example of a function from src/client/GRPCClientClient.ts:39:
[code]
While the return type is explicit here as `grpcUtils.promisifyUnaryCall<clientPB.StatusMessage>`.
The type information for the parameters are completely missing. What do I pass to this? is it one parameter or many?
To find out I need to go look at the definition of `this.client.vaultsCreate`
[code]

W

[2021-07-05 12:34] CMCDragonkai commented on #200
@tegefaulkes can you rewrite this issue with the new issue templates? Is this a design issue or development issue? It cannot be both.

[2021-07-05 12:42] CMCDragonkai opened #201 "Integration with OS Keychains"
### Is your feature request related to a problem? Please describe.

Applications often delegate credential storage to a third party program on the OS rather than writing it themselves. Since Polykey is not a well-known credential storage, then PK won't immediately be used as a credential storage system. Therefore this limits the UX of using Polykey. It's an integration problem.

Browsers maintain

[2021-07-05 12:45] CMCDragonkai commented on #201
This is new feature request, and it requires review into our product vision, and if accepted, we are meant to create a design issue for this.

[2021-07-05 12:57] CMCDragonkai opened #202 "Enable un-attended bootstrapping for `pk agent start` and `pk bootstrap` with `PK_RECOVERY_CODE` and `PK_PASSWORD`"
**Block 1** from https://github.com/MatrixAI/js-polykey/issues/194#issuecomment-955904607

Aims to provide support for a Polykey instance to run unattended (i.e. without user prompt) when both the `PK_RECOVERY_CODE` and `PK_PASSWORD` variables are set.

### Requirements of this design

1. User has to supply a root password in order to encrypt a root key that is automatically generated
2. If the us

[2021-07-05 13:07] CMCDragonkai opened #203 "Upload Directory (recursively) to a Vault"
### Requirements of this design

1. PK vaults should be able to accept an entire directory of secrets
2. The Vault system will need to be able to recursively iterative over the directory and copy recursively the directory into the vault
3. It is the equivalent of doing `cp -R ./somedir pk://somevault/somedir`
4. Does not need to work on clients that are on remote hosts for now

### Additional cont

[2021-07-06 01:21] tegefaulkes commented on #200
There still are no templates when creating a new issue. I took this one from the .github development template.
The table at the top doesn't seem to be working. Also, why is there a name and title in it?

[2021-07-06 03:40] scottmmorris commented on #196
There are no tests for this but I believe polykey should handle hidden files in this way regardless.

I will create some tests in the agent MR that:

- Add a hidden file/directory
- Get contents from a hidden file/directory
- Change contents in a hidden file/directory
- Delete a hidden file/directory

[2021-07-06 05:27] scottmmorris commented on #196
So it turns out this wasn't the case for directories but it was simple to rework this.

The question is does this also apply outside the context of Polykey? For example if the user specifies a directory of secrets to add on their disk, are the hidden files there added in as well?

I'm not sure if you had something in mind @CMCDragonkai but my thoughts would be if you are adding a directory of secr

[2021-07-06 05:32] CMCDragonkai commented on #196
Yes hidden files should be maintained and copied in as well.

[2021-07-06 06:10] #196 closed, assigned to scottmmorris

[2021-07-06 06:24] scottmmorris commented on #203
Functionality for this already exists, in the `addSecretDirectory` function. The CLI command takes in an on disk path to a directory and send via grpc to the agent. The agent then passes this into the `addSecretDirectory` function which recursively reads this directory on the agents disk. The GUI I think should be able to make use of this function in `Vault.ts` as well

[2021-07-06 07:37] CMCDragonkai commented on #200
That doesn't happen for me. Go to the GitHub issues and click new issue. You'll see it.

On 6 July 2021 11:21:56 am AEST, Brian Botha ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-07-07 00:29] emmacasolin commented on #76
Does this information go into the Polykey wiki (which is currently empty) or the js-polykey wiki? Above it specifies the Polykey wiki but we were talking about the js-polykey wiki before so just want to double check. @CMCDragonkai

[2021-07-07 01:00] CMCDragonkai commented on #203
Do you have tests for this?

[2021-07-08 04:16] joshuakarp commented on #187
Added these domains as todos in the top-level description.

[2021-07-08 04:40] joshuakarp commented on #187
`Sigchain` also needs to be refactored too (+ changing the sequence number key to use lexicographic integers)

[2021-07-08 04:51] scottmmorris commented on #203
There were tests but not extensive, I've added a few more. Also the function did not preserve the existing paths within the given secret directory which has been changed now. I have also implemented the partial success, with the logger emitting a warning message if an error occurs while adding a secret. So Ill close this issue now

[2021-07-08 04:51] #203 closed, assigned to scottmmorris

[2021-07-08 11:40] CMCDragonkai commented on #76
Goes into js-polykey wiki for now, we will reorganise it soon.

If I go for Polykey, polykey-desktop, polykey-mobile and js-polykey repos. Where we have tutorials, how-to guides and reference for all separate repositories. But then Polykey being the main repo will be where discussions and theory/discussion will be placed. This has some structural sense, but it might make it very difficult to see h

[2021-07-08 11:41] CMCDragonkai commented on #76
@emmacasolin we need first draft by Friday.

[2021-07-08 11:53] CMCDragonkai commented on #76
Introduce social discovery as the BLUF.

Then produce a narrative involving (in-order):

* identities
* gestalts
* trust
* sharing
* discovery

[2021-07-08 11:55] CMCDragonkai commented on #77
https://github.com/MatrixAI/js-polykey/wiki/Secrets-Management

@scottmmorris we just reviewed 3. task involving the developer, there are some things that need to be developed for the CLI to support that usecase we wrote down.

@Zachaccino for the 4. task involving sysadmin/devops, I'll need your help to review.

[2021-07-08 11:57] CMCDragonkai commented on #77
All of the above usecases are what we do inside Matrix AI already @tegefaulkes @DrFacepalm, so I'll be asking you separately to review different parts of this.

[2021-07-08 11:58] CMCDragonkai commented on #187
@joshuakarp did you do it for the IdentitiesManager?

BTW in the future this issue should be a Development spec, and then the checklist is actually in the PR/MR.

[2021-07-08 12:02] CMCDragonkai commented on #200
@tegefaulkes this missing type information is by design. The reason is that `GRPCClientClient.vaultsCreate` is a simple wrapper the actual call.

If we do what you are suggesting, it would require us to update the types twice everytime we changed the protobuf calls. So this is why we used the `...args`.

There is a possible solution using the utility types of typescript to make the types propagate

[2021-07-09 00:30] joshuakarp commented on #187
@CMCDragonkai I haven't had a chance yet.

Re the checklist, didn't we say last meeting that issues should always have a task list? i.e. every issue template has a checklist

Unless its a **Design** issue, where tasks may not be elicited quite yet, I feel that issues should always have a task list.

[2021-07-09 00:42] CMCDragonkai commented on #187
Yea so development issues can have a checklist as well the PRs fixing them. But sometimes you need to write a task list that is copied to the PR and so therefore the checklist is on the PR not on the issue.

So I'm differentiating the checklist from tasklists. Checklists have checkboxes.

[2021-07-09 00:43] CMCDragonkai commented on #187
@DrFacepalm I think he has done it for SessionManager.

[2021-07-09 00:52] joshuakarp commented on #187
Ah gotcha - I didn't realise the distinction between checklist and tasklist. That makes sense.

[2021-07-09 02:48] CMCDragonkai commented on #187
For KeyManager, it requires some special work if we want to do this.

[2021-07-09 02:55] CMCDragonkai commented on #200
Here's an example:

[code]

Suppose we use:

[code]

The problem is that `this.client.vaultsCreate` is a callback style. And we would have to ignore the last argument.

Another problem is that `this.client.vaultsCreate` is also overloaded as well. So I think `Parameters` might work as a union of the all styles. But you then have to somehow ignore the last argument.

I don't know how to slice off t

[2021-07-09 03:06] CMCDragonkai commented on #178
@scottmmorris can you add in your notes regarding what the problem is here too. And what you have tried, as well as @DrFacepalm to add in his suggestions.

There's a nuclear option to just test the domain individually:

[code]

But there may be a way to fix jest properly to be able to do a full `npm run tests` with no problems.

Try search on jest docs/configuration/issues about problems involving

[2021-07-09 03:07] CMCDragonkai commented on #178
Try to find the deadlocks or where 2 test files/test domains are affecting each other's performance.

Also have a read about the jest process architecture.

[2021-07-09 03:10] CMCDragonkai commented on #192
When using the NodesManager, this is just making a call to send a message.

The `Notifications` will probably need the `NodeManager` as a dependency injection.

[2021-07-09 03:11] CMCDragonkai commented on #192
You do need to use the `ACL` to see if the there is a `notify` permission allowed on nodes trying to contact you.

[2021-07-09 03:22] DrFacepalm commented on #183
Put metadata in the `StatusMessage` response. This should solve these issues.

[2021-07-09 03:24] CMCDragonkai commented on #180
We should review edgecases for when partial commits occur, when there is dirty data in the working directory of a vault what happens.

[2021-07-09 03:26] CMCDragonkai commented on #191
Superseded by #193

[2021-07-09 03:26] #191 closed, assigned to CMCDragonkai

[2021-07-09 03:36] emmacasolin commented on #76
Notes for wiki:

keywords
1. identity - authentication/secrets management
2. trust - how do you know you can trust an identity? transitivity ->communication + quality of info - needs to meet certain qualifiers/acceptance criteria
   1. when you trust someone - judegemtn on how to qualify info they provide
   2. don't accept info at face value
   3. not binary -> levels
   4. relationship between 2

[2021-07-09 04:12] scottmmorris commented on #178
[code]

I am going to try and restart my laptop and run these tests again because it seems as if something from the 2nd or 3rd tests has caused failures in subsequent tests.

[2021-07-09 04:30] scottmmorris commented on #178
Restarting the laptop did not fix anything, running the bin tests by themselves resulted in failure. It seems like pinpointing where the source of the async test conflict might be very difficult. I might start to look into issues on jest docs.

[2021-07-09 05:14] CMCDragonkai opened #204 "Session Management Commands"
### Specification

1. Session Management is the matter of acquiring an authenticated session for the PK CLI/GUI against the PK agent
2. It should work for multiple clients connecting to the agent
3. It should work over the network
4. It should be integrated into our GRPC client service
5. We should be able to create and destroy our own session
6. And we should be able to destroy all other client's

[2021-07-09 05:17] CMCDragonkai commented on #204
[code]

For all CLI commands, the exact options `-pf` should always have a long form like `--password-file`.

[2021-07-09 05:18] CMCDragonkai commented on #204
When running `pk agent unlock` twice or more, it's idempotent.

[code]

Basically a new token is created.

[2021-07-09 05:22] CMCDragonkai commented on #204
When unlocking the agent and creating a session, you should show the information about the session. In particular show that the session has an expiry date.

One question do you refresh the session on each command. So if you do:

[code]

Is each `pk vault list` refreshing the session? Ideally it should be, that way the more you use the client, you don't expire it inadvertently.

However if you are

[2021-07-09 05:25] CMCDragonkai commented on #204
Also @DrFacepalm please ensure you have a mutex in your `SessionManager` and wrap all your public API commands with `await this._transaction(...)`.

You have to beware of concurrency here, all our code is running asynchronously!

[2021-07-09 05:29] CMCDragonkai commented on #177
@joshuakarp we have agreed to use the term "seed" rather than "bootstrap" or "broker".

So this should now be called `seed.polykey.io` and all other uses should be seed.

[2021-07-09 05:31] scottmmorris commented on #178
![image.png](https://images.zenhubusercontent.com/60e2599beddded3bdc4e22cb/0ac7e613-c714-43e4-9f7d-15adf178ddd6)

This might be useful if we decide to go with the 'nuclear' option.

[2021-07-09 05:48] scottmmorris commented on #178
Working on logging start and finishing for each test suite and realised that for the GitBackend tests the before and after each hooks were not inside the describe wrapper. I read somewhere in the jest issues that this condition has sometimes lead to similar async issues. Will continue to update for the logging and report on the progress.

EDIT: No difference after changing the 'before/after' hooks

[2021-07-09 06:17] CMCDragonkai opened #206 "Gestalt Discovery Integration into Identities and Nodes CLI"
### Specification

* Gestalt Discovery is the implementation of our social discovery theory/concept
* Gestalt Discovery involves using `links`/`claims`, `identities`, `sigchain`, and `nodes` domain as dependencies
* The discovery is triggered by search requirements and sharing usecases
  - Finding other identities that are augmented
  - To be able to share with an identity, that identity must be l

[2021-07-09 06:24] CMCDragonkai opened #207 "ACL integration into the CLI"
### Specification

* The ACL stores permissions for gestalts and actions
* The CLI should expose the ACL permissions/actions to the `pk identities` for gestalts and `pk vaults` for vaults
* This means being able to set permissions and to show/introspect the permissions available
* The permissions are structured as sets of actions
  - Gestalts:
     - notify
     - scan
  - Vaults:
     - pull

[2021-07-09 06:27] CMCDragonkai commented on #207
Assigning this to you @tegefaulkes since this should give you a full domain to work into the GUI as well after you get it running in the CLI.

[2021-07-09 06:28] CMCDragonkai commented on #207
Please help spec out the tasks above. @tegefaulkes

[2021-07-09 06:48] scottmmorris commented on #178
So after locking through the configuration file [here](https://deltice.github.io/jest/docs/en/configuration.html) I found a config option called `clearMocks`. I remember reading somewhere else about people running into the same issue as us and the problem was that they were not clearing their mocks properly. Initial tests (without the CLI) succeeded but with the CLI added back in the errors came b

[2021-07-09 07:15] emmacasolin commented on #76
First draft has now been written. Some new terms were also added into the glossary (https://github.com/MatrixAI/js-polykey/wiki/Glossary)

[2021-07-09 07:37] CMCDragonkai opened #208 "Vaults should have default nodes acting as remotes"
### Specification

1. Doing `pk vault pull some-vault` should default to a particular node id
2. This should be the equivalent of git remotes, but we don't have to use the remote system in isogit for this, we could have this be tracked inside the vaultmanager system
3. Should evaluate if git remotes can be used for this though

### Additional context

See the developer environment usecase

### Tas

[2021-07-09 07:38] CMCDragonkai commented on #208
Note that use `git branch -vv` to see how branches are related to remotes.

Our vault have only 1 branch, that being of `master`.

They should then be able to pull from a default NodeId to reduce friction.

This default remote can be updated to point to another NodeId.

[2021-07-09 08:42] CMCDragonkai commented on #76
Can you make sure to have the diagrams and screenshots I used in the
issues to illustrate the process also brought into the wiki. Use them as
a props to help explain the gestalt augmentation process and the what an
example of a digital identity is.

On 7/9/21 5:15 PM, emmacasolin wrote:

[2021-07-09 08:42] CMCDragonkai commented on #76
Note that we are now moving these wikis to https://github.com/MatrixAI/Polykey/wiki.

For wikis to have images, those images need to be put into the repo. I'm going to start doing that by moving your article into `Polykey` now.

[2021-07-09 08:43] CMCDragonkai commented on #76
https://github.com/MatrixAI/Polykey/wiki/Gestalts-and-Digital-Identities

[2021-07-09 08:49] CMCDragonkai commented on #76
This is now done, see: https://github.com/MatrixAI/Polykey/wiki We use an image embedded from https://github.com/MatrixAI/Polykey/blob/master/assets/divio_quadrant.png

So you can do the same for the screenshots we have used.

[2021-07-09 08:55] CMCDragonkai commented on #76
Just a note @emmacasolin please use https://raw.githubusercontent.com/MatrixAI/Polykey/master/assets/divio_quadrant.png, this is the raw URL for the image, it is much faster to load.

[2021-07-10 11:00] CMCDragonkai commented on #200
Looks like there is a way: https://stackoverflow.com/questions/63789897/typescript-remove-last-element-from-parameters-tuple-currying-away-last-argum

Basically we just need the remove the last parameter which is the callback.

[2021-07-10 11:03] CMCDragonkai commented on #200
We would have to create our own utility type here in `src/types.ts` for that. Something like `ParametersExceptLast`.

Note that this would have to be different for the stream calls which have different signatures. Would need to check how the protobuf works.

[2021-07-11 01:09] tegefaulkes commented on #207
Expanded spec and updated tasks.

For the commands, do  we want them inside the vaults and identities domains or keep them all inside its own trust domain?
I'm not quite up to speed with Commander so I'm not sure what would be easier to work with.

[2021-07-11 02:09] CMCDragonkai commented on #207
In the GG we now have:

* `getGestaltActionsByNode`
* `getGestaltActionsByIdentity`
* `setGestaltActionByNode`
* `setGestaltActionByIdentity`
* `unsetGestaltActionByNode`
* `unsetGestaltActionByIdentity`

I believe these 6 functions should be exposed directly to GRPC. So in the client service there should be 6 calls one for one here.

As for trust/untrust. Let's think about this.

First there's th

[2021-07-11 02:14] CMCDragonkai commented on #207
@scottmmorris

From the vaults point of view, there's not high level trust/untrust. But there is a high level share/unshare concept. So `share/unshare` is like `trust/untrust` in the sense that it's a high level concept that maps to a simpler permission/action setting, which is just about allowing the other side to pull or clone the vault.

[code]

And the low level commands for ACL manipulation c

[2021-07-11 06:42] CMCDragonkai commented on #207
@tegefaulkes also see (with respect to vault permission actions):

[2021-07-11 07:04] CMCDragonkai commented on #178
For me to figure this out, I'm going to to have to start off from the domains that I know well.

That means:

* acl
* db
* keys
* grpc
* network
* gestalts

So I'm going to try get all these tests running at the same time.

[2021-07-11 07:10] tegefaulkes commented on #207
Do we want the ability to set and unset multiple permissions at a time?
It should be a simple change since the last argument can be variadic.
eg `pk identities trust <nodeId> notify scan`

Thoughts? @CMCDragonkai

[2021-07-11 07:11] CMCDragonkai commented on #207
Let's stick with simple first, and see how it works out then we can add
extensions subsequently.

On 7/11/21 5:10 PM, Brian Botha wrote:

[2021-07-11 07:20] DrFacepalm commented on #204
https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/189  should fix everything except for making normal commands refresh the session, and dealing with the concurrency issues that come with that.

[2021-07-11 07:21] DrFacepalm commented on #187
The session manager task should be completed  by this. https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/189, if this gets merged.

[2021-07-11 07:39] CMCDragonkai commented on #178
I don't think we are using jest mocks anywhere as far as I know so I don't think this will affect anything.

[2021-07-11 07:44] CMCDragonkai commented on #178
Ok here's the sanity test that proves what `jest.setTimeout(...);` actually does.

By default Jest configures this timeout to be `5000` which means 5 seconds.

If you have a test that looks like this (using `sleep` from utils):

[code]

This will result in an timeout error that looks like:

[code]

Therefore the timeout here does not affect the total runtime of testing, but just the time it takes

[2021-07-11 07:48] CMCDragonkai commented on #178
To give specific tests a specific timeout that is not the default, use the third parameter of the `test` function.

Example given here: https://github.com/facebook/jest/issues/5055#issuecomment-350827560

[code]

[2021-07-11 07:51] CMCDragonkai commented on #178
So the first thing I'm going to do is to reset `jest.setTimeout` to using 10000 by default. Therefore we must make the whole team realize that all async tests have a timeout of 10 seconds.

If their test requires more time, either break it up into smaller tests, and if not possible, then use a third parameter to specify a longer length of time.

[2021-07-11 07:51] CMCDragonkai commented on #178
Each test file should be affecting each other's timeout... that's the other important thing.

[2021-07-11 08:03] CMCDragonkai commented on #178
[code]

So for example above, all the time is within 5 seconds. I reckon a rule of thumb.

If a test breaks the 5 seconds limit, then it is likely to double and go over 10 seconds.

In that case, give it a 20 second timer to complete.

So we will need to do that for all tests!

[2021-07-11 08:09] CMCDragonkai commented on #178
The other test I had to do is to see if test files are run in parallel, while tests within a test file are run serially.

This sanity check proves this is the case.

[code]

The way I did did this is by adding `logger.warn('...');` to each test between acl and gestalts.

Running `npm test -- tests/acl tests/gestalts`

Showed that `tests/acl` and `tests/gestalts` all the files within these director

[2021-07-11 08:11] CMCDragonkai commented on #178
This:

[code]

Demonstrates that using `--runInBand` now shows that all the test files are run sequentially. This can be important in case different processes are interfering with each other. But this should not currently happen. Only CPU time can be a problem, especially in CI/CD scenarios. In that case, our Gitlab CI/CD might be better to use `--runInBand`.

[2021-07-11 08:15] CMCDragonkai commented on #178
Note that:

This means jest uses by default the number of workers equal to your core count minus 1. So on my big laptop that's `nproc` which is `8`. So the jest worker pool would be `7`. So by default, there can only be 7 test files running in parallel. Therefore assuming we have similar CPUs between CI/CD, my laptop and all the devs in Matrix AI, then we shouldn't have too much variance in CPU ex

[2021-07-11 08:18] CMCDragonkai commented on #178
I have a hunch that the most troublesome tests are going to be ones involving the networking tests using utp-native.

[2021-07-11 08:20] CMCDragonkai commented on #178
I've noticed that when running more tests, each individual test can double in the time taken to execute. For example:

[code]

[code]

The initial run I had:

[code]

The last run I did:

[code]

Therefore the addition of keys domain into the testing is so heavy that almost all other tests when run in parallel start to double in their execution time.

[2021-07-11 08:22] CMCDragonkai commented on #178
So based on the rule of thumb I can see that a few tests require special time doubling as now they have hit 5 second mark.

[code]

These are the ones to double:

[code]

[2021-07-11 08:34] CMCDragonkai commented on #178
Ok I've made a realization. Our symmetric encryption and decryption is incredibly slow. This significantly slows all DB access including get and put operations. This requires further investigation since this affects ALL domains.

For example:

[code]

Takes at least 2 seconds to execute... This few get, put and delete operations should be ALOT faster than 2 seconds.

[2021-07-11 08:34] CMCDragonkai commented on #178
The default test timeout is now configured here:

[code]

In the `tests/setup.ts`.

Then we are using `global.defaultTimeout * 2` to indicate that this may take twice the default timeout of 10 seconds.

[2021-07-11 08:36] CMCDragonkai commented on #178
I need to figure out if `WorkerManager` can be used for the symmetric encryption and decryption.

[2021-07-11 08:40] CMCDragonkai commented on #178
Checklist of tasks have been created here now https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202

[2021-07-11 08:47] CMCDragonkai commented on #178
So let me identify 2 areas of slowdowns:

* Anything using encryption/decryption is very slow
* Anything using utp-native could be problematic due to unclean shutdown (it's not actually slow)

[2021-07-11 10:05] CMCDragonkai commented on #178
Scratch that, encryption/decryption is fast enough. Something else is slow.

[2021-07-12 00:55] emmacasolin commented on #192
Some previous work on the notifications was done in these two MRs:
https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/146 - discussion of capabilities/potential implementations + a bit of code
https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/161 - copy of above but actually merged

[2021-07-12 05:13] CMCDragonkai commented on #192
That means there may be old code src-old you should check in case there are parts to lift to src. But make sure our new notifications are using all the latest patterns of transactions, Async start and stop... Etc.

On 12 July 2021 10:55:27 am AEST, emmacasolin ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-07-12 06:20] tegefaulkes commented on #207
There is an oddity with types when using the 'as' keyword.
The 'as' keyword doesn't provide any checking, so if we cast a string to an union type of strings, it will not check if the string is valid.
For example...
[code]
Is there a good way to deal with this?
After a quick google search I can't find a quick and easy way to check if a string is valid for such a type.
Right now I can check it with

[2021-07-12 06:46] CMCDragonkai commented on #207
This is fine. We only use `as` when using it as a smart constructor or
when we need to get around the type checker.

On 7/12/21 4:20 PM, Brian Botha wrote:

[2021-07-12 07:25] emmacasolin commented on #192
A merge request has been created for this issue: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/204

[2021-07-12 08:11] tegefaulkes commented on #207
Added the identities trust and allow command with the following format.
[code]
This gives us a simple way of setting and unsetting via Node or Identity with one command.

[2021-07-12 09:38] CMCDragonkai opened #209 "Benchmark Encryption & Decryption Routines"
### Specification

* js-polykey's use of encryption/decryption uses alot of the CPU, and it seems quite slow compared to just using JSON encode/decode
* Consider optimizing with worker manager, and seeing if buffer transfer issue can help here

### Context

See: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202#note_623242122 for performance numbers and ops per second

[2021-07-12 09:42] CMCDragonkai commented on #209
Using the above requires installing `benny` with `npm install --save-dev benny`.

[2021-07-13 00:35] CMCDragonkai commented on #172
Consider that the GitHub wiki has the same problem if there are concurrent editors. I wonder how GitHub wiki enforces zero merge conflicts, since there is no interface to fix merge conflicts if 2 people edit the same wiki page. Good idea to investigate the GitHub wiki and see what we should do our vaults if this occurs.

[2021-07-13 00:37] CMCDragonkai commented on #172
While reviewing the `Vault` class right now in `client-refactoring`, I can see that it's quite high level doesn't expose the underlying fs interface much at all. If we later want to expose the vault has a mountable filesystem, this will need to be changed later.

Actually I might have to change how fs operations translate to git commits quite significantly...

[2021-07-13 04:43] tegefaulkes commented on #207
Updated checklist for vault permissions.

[2021-07-13 04:44] CMCDragonkai commented on #202
The BIP39 spec is here: https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki

The implementation of the function is currently:

[code]

The `seed` is actually called the "mnemonic phrase". This is meant to be generated by a bip39 library: https://www.npmjs.com/package/bip39

The "mnemonic phrase" is converted to a binary seed using PBKDF2. This binary seed is what is used to generate the

[2021-07-13 05:03] tegefaulkes commented on #207
GRPC functions for
- setVaultPerm
- unsetVaultPerm
- getVaultPermissions

Already exist as
- vaultsShare (set, unset)
- vaultsPermissions (get)

No tests for them exist yet.

[2021-07-13 05:55] scottmmorris commented on #208
This may need a reworking of the current `GitManager` class. I realise this may have been the better way to do this from the beginning.

- User passes in the vaultName of the local vault to pull updates to
- Call `getVaultId` to retreive the Id of the local vault to pull updates to
- Pass the vaultId of the local vault to pull updates to int GitManager `pullVault` function
- The vault map can then

[2021-07-13 05:56] scottmmorris commented on #208
Although should you even be able to pull changes from a vault that is not the original vault? Does iso-git even allow this? I will test now.

[2021-07-13 06:15] DrFacepalm opened #211 "Automatic session refresh and expiry information & Sessions Domain Refactoring According to Review"
(I created this issue using the 'reference in new issue' feature)

Currently being handled in: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202

# Expiry Date / Time

When unlocking the agent and creating a session, you should show the information about the session. In particular show that the session has an expiry date.

# Automatic session refresh

The session shou

[2021-07-13 07:20] DrFacepalm commented on #183
The overall design of some of the GRPC calls are proving to be quite confusing and problematic in some cases.

Some examples:
[code]

the `setID` should have been a repeated string, instead of a stingified list.

[code]

Some other things which have an option for node or identity should be using the `oneof` keyword.

[2021-07-13 07:25] tegefaulkes commented on #207
Added tests for the GRPC calls
- vaultsShare
- vaultsPermissions

CLI commands and tests already existed for
- vaults share
- vaults permissions

[2021-07-13 08:13] CMCDragonkai commented on #208
Yes from the point of view of git. We change git remotes all the time.
However from the POV of Polykey this should only be allowed for vaults
with the same vault id. Which should be preserved when shared between
Keynodes.

On 7/13/21 3:56 PM, scottmmorris wrote:

[2021-07-14 02:20] scottmmorris commented on #208
The vault id of a cloned vault is currently not preserved between nodes, if it was then this might cause conflicts. For example if a node clones the same vault twice, they would end up with an error as they own two vaults with the same vault id.

As in my comment above wouldn't it be better to maintain a copy of the original vault id in the vault map which can be referred to when cloning?

[2021-07-14 02:26] CMCDragonkai commented on #208
I thought the vault IDs were made unique so that they can be maintained across keynodes. This ensures that knows that it's the same vault even if the vault names can be different.

Ensuring that all vault IDs are different across keynodes means you have to do bookkeeping on which vault id you are tracking. But is this necessary?

We can make vaultids never conflict by making use of the NodeId. Tha

[2021-07-14 03:14] scottmmorris commented on #208
It's necessary in the case above? If a keynode wants to have two separate vaults that are cloned from the same source. I can imagine this might be useful in some cases as we don't provide the option of creating new branches from a single vault yet.

What do you mean by that last part? I'm talking about the case where a keynode has the same vault id stored locally so they would both come under the

[2021-07-14 03:17] CMCDragonkai commented on #208
I would keep it simple for now. The vault ids should stay the same, and
that should make it easier to pull and get the right remotes too.

When pulling from a different remote, we would look for a vault with the
same vault id. That would allow us to look up remotes that have the same
vault history (or at least expect it to have).

On 7/14/21 1:14 PM, scottmmorris wrote:

[2021-07-14 04:18] tegefaulkes commented on #207
I updated the gestalts list command to show permissions per gestalt. Created a test for it too.

[2021-07-14 05:10] CMCDragonkai commented on #207
For @scottmmorris to review as well.

[2021-07-14 09:29] CMCDragonkai commented on #178
While working on https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202, I've been able to ensure that the tests are all working with timeout boundaries for the domains I worked on.

However now I'm going into other domains, starting with the big one: vaults. In doing so, I'm finding an opportunity to refactor vaults to help address #208, #162 and #172.

These MRs are:

*

[2021-07-14 09:31] CMCDragonkai commented on #172
Designing this requires completing these MRs:

* https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205 - vaults review/refactoring
* https://gitlab.com/MatrixAI/Engineering/Polykey/js-encryptedfs/-/merge_requests/46 - encryptedfs review/refactoring

[2021-07-14 09:33] CMCDragonkai commented on #208
While we are refactoring the vaults domain and encryptedfs domain:

* https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205 - vaults review/refactoring
* https://gitlab.com/MatrixAI/Engineering/Polykey/js-encryptedfs/-/merge_requests/46 - encryptedfs review/refactoring

This problem can still be specced out from the UI/UX point of view of the CLI and GUI.

But earnest eff

[2021-07-14 09:34] CMCDragonkai commented on #172
Copying this comment which is relevant to this design:

Vaults are an abstraction on top of EFS.

Right now we are creating an explicit set of operations for a vault.

But there is a more flexible way to do this.

Instead expose the entire EFS, so it can be used like a normal FS.

The main difference is that all FS operations must be wrapped together to form a "transaction".

That transaction is t

[2021-07-15 07:42] tegefaulkes commented on #207
### Changes:
For all commands that took identitiy as an input:
I removed the `--identity <providerId>` option and identity is now provided as
`identities allow github.com:username`.
The command will parse that as an identitiy instead of a nodeId.

split up `identities allow` command into:
- `identities allow <id> <permission>`
- `identities disallow <id> <permission>`

split up `identities trust`

[2021-07-16 01:32] CMCDragonkai commented on #207
Things to left to do:

1. Squash and rebase
2. Resolve merge conflicts between session management and bin CLI commands and as well as IdentitisManager construction
3. Resolve testing using `pk` and using `jest-mock-process` to test the STDOUT and STDERR
4. Final few commands `authenticate` and `claim`
5. GRPC commands - session management

Probably by Monday ready to merge.

[2021-07-16 01:41] CMCDragonkai commented on #208
* Git merging has lots of edgecases to deal with
* To keep it simple, we can maintain the same vault ID across all the keynodes that are sharing a vault
* Then we should be remembering what is the last node id it was pulled/cloned from, that will automate pulling without needing to specify the node id each time (later this can be generalized to the gestalt)
* When pulling a vault, we need to ensur

[2021-07-16 01:50] CMCDragonkai commented on #178
So after these 2 domains are brought in:

* nodes
* vaults

Then we can be confident that async testing and timeouts are all well specified for all the core domains.

Then finally we would need to add in the the `bin` tests, but I imagine that should be relatively simple as well.

[2021-07-16 02:01] CMCDragonkai commented on #204
Already merged, so this just requires review.

@tegefaulkes I think since you are going to be rebasing on the client-refactoring to make use of this for identities CLI, your comments are going to be relevant.

[2021-07-16 02:02] CMCDragonkai commented on #211
Try to structure it with the new issue templates.

[2021-07-16 02:07] CMCDragonkai commented on #206
For establishing a cryptolink between Node A and Node B, there needs to be an exchange protocol for cross-signing each claim. So the cryptolink claim is signed by both Node A and Node B and stored on the sigchain on both Node A and Node B.

This exchange protocol will eventually have to make use of the notification system: #192.

The development of this exchange protocol will need to be specced ou

[2021-07-16 02:08] CMCDragonkai commented on #206
Seems like all the kinks we've worked out, so we expect this to be ready on Monday.

[2021-07-16 02:21] CMCDragonkai commented on #183
We can do this progressively, adding a message type for specific calls as we see fit.

To improve the reuse of the message types, it would good if protobuf provided ways of extending existing message types. That way common schemas can be reused. However I haven't explored this aspect yet.

In terms of doing it progressively, these 2 are calls in the grpc right now:

[code]

Pulling a vault is not

[2021-07-16 02:22] CMCDragonkai commented on #183
@scottmmorris Maybe we should just incorporate this into our vaults refactoring.

[2021-07-16 02:22] CMCDragonkai commented on #183
This should just be done inside: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205

[2021-07-16 02:24] CMCDragonkai commented on #187
Last things are:

* sigchain
* notifications

@emmacasolin you're also using DB for this one.

[2021-07-16 02:36] CMCDragonkai commented on #192
You can store the count of the number of messages you have received in the domain-level DB. Then you create a sub level to store the actual messages.

Example see how ACL does it:

[code]

Use the `notificationsDb` to store domain-level dynamic configuration like the counter of messages.

The messages need to be ordered with respect to time. So you'll need a `monotonic-lexicographic-integer`. http

[2021-07-16 02:39] CMCDragonkai commented on #192
Also denial of service is reduced because you must trust the other gestalt which relies on the `notify` permission.

[2021-07-16 04:06] CMCDragonkai commented on #206
@tegefaulkes make sure to use the prompt library.

[2021-07-16 04:11] emmacasolin commented on #192
@CMCDragonkai should this be installed as a dependency or a devdependency?

[2021-07-16 04:35] CMCDragonkai commented on #192
It should be a dependency.

[2021-07-18 13:14] CMCDragonkai commented on #207
Are we on track for Monday EOD merge?

[2021-07-18 13:15] CMCDragonkai commented on #207
We can leave the nodes related work to be merged after @joshuakarp merges his gestalts work. Node related identities work/acl/gestalts is going to the Nodes CLI MR.

[2021-07-18 13:16] CMCDragonkai commented on #206
Are we on track for EOD Monday merge. After this is done and also #207, then we can focus on getting Node CLI up and running with ACL integration.

[2021-07-19 01:47] joshuakarp commented on #187
`sigchain` DB integration finished in !195. `IdentitiesManager` has already been done by @CMCDragonkai

[2021-07-21 03:10] joshuakarp commented on #206
!195 has now been merged in. I'll be writing a changelog + creating extra issues from the comments on the MR. Will the changelog + links to issues here.

[2021-07-21 03:10] #206 closed, assigned to joshuakarp

[2021-07-21 08:12] joshuakarp opened #212 "Improve node search over k-buckets (getClosestLocalNode)"
### Specification
To optimise reading out the closes nodes to a target node we need to apply some improvements.

The `getClosestNode` function needs to take a `nodeId` and `limit` as parameters. The nodeId is the node we're calculating the distance relative to. The limit is how many nodes we wish to return. The limit defaults to the `nodeBucketLimit` as per the Kademlia spec.

We need to avoid rea

[2021-07-21 09:54] CMCDragonkai commented on #193
Should start on this asap for client-refactoring branch.

[2021-07-22 01:08] joshuakarp commented on #188
This is related to #189. It would make sense that these be completed together (as it will be essential to have a more efficient claim look-up time when we have different claim types in the chain).

[2021-07-22 01:08] joshuakarp commented on #188
A relevant comment from the gestalt discovery MR https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/195#note_623220960. This is referring to how we are currently storing a node's entire chain of claims in the `GestaltGraph` database (when discovering a user's gestalt):

[2021-07-22 01:50] joshuakarp opened #213 "Creating a cryptolink claim from node to node (cross-signing claims)"
This will be resolved in !209 https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/209

### Specification

!195 has changed the way that node -> node cryptolink claims will need to be created.

Recall that a claim (e.g. a cryptolink) has the following structure:

[code]

For a keynode, these claims are stored on the node's **sigchain**.

Therefore, suppose a node `X` wants t

[2021-07-22 01:56] joshuakarp opened #214 "Create automated tests for discoverGestalt"
### Specification

The `discovery` domain does not currently have automated tests. These are going to be quite heavyweight, integration tests that use various domains (`nodes`, `identities`, `gestalts`) to gradually build a local gestalt graph.

### Additional context

* comments regarding gestalt discovery can be found on !195 https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_req

[2021-07-22 01:59] joshuakarp opened #215 "Fix automated tests for GestaltGraph"
### Describe the bug
The automated tests for `GestaltGraph` are currently broken as a result of the changes to types in !195. These tests simply need to be ported over to using the new types.

### Additional context

* type changes can be found in !195
* a changelog can be found here https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/184#note_631792744

[2021-07-22 02:49] joshuakarp opened #216 "Extend automated tests for NodeConnection"
### Specification

Some extra functionality has been brought into `NodeConnection` from !195. Tests need to be added for them.

### Tasks

Add tests for:
1. `getRootCertChain`/`getExpectedPublicKey`
2. `getChainData`

[2021-07-22 02:54] joshuakarp commented on #177
Uses of `broker` still needs to be refactored as `seed` throughout the nodes domain.

[2021-07-22 02:56] joshuakarp commented on #177
Furthermore, I should remove the separation of `brokerNodeConnections` to just be normal `nodeConnections`. Seed nodes are just nodes that we provide to a new keynode to "introduce" the keynode to the larger Polykey network. They aren't special. See a previous message from me for context:

[2021-07-22 03:11] CMCDragonkai commented on #187
For notifications this is addressed in #192. So we can close this now.

[2021-07-22 03:11] #187 closed, assigned to CMCDragonkai, DrFacepalm, joshuakarp

[2021-07-22 03:13] CMCDragonkai commented on #204
@joshuakarp since you're starting on the Nodes CLI. You can check basically whether everything here is addressed, and if not, the remaining issue is #211 (automatic session refresh on commands and expiry information).

If so, then this issue can be closed. Otherwise subissues should be created.

[2021-07-22 03:15] CMCDragonkai commented on #204
So for the bin CLI commands, they should require session authentication now.

This means for all the `tests/bin` tests, they should have a fixture like `beforeAll` or `beforeEach`, there needs to be an a session authentication with `pk agent unlock`, and then using that token for all subsequent CLI commands.

Instead of relying on a default file path for the session token, it should be able to be

[2021-07-22 03:16] CMCDragonkai commented on #204
@joshuakarp best done while you're working on the Nodes CLI: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/198

@tegefaulkes might have to add some additional stuff to https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/201

[2021-07-22 03:19] CMCDragonkai commented on #192
@emmacasolin hit some difficulties with the iteration of the database. @DrFacepalm is looking into this by Friday and try to get as much done over the weekend as well.

[2021-07-22 03:34] CMCDragonkai commented on #211
See if some of this might be done in Nodes CLI MR @joshuakarp

[2021-07-22 08:36] tegefaulkes commented on #207
Changes here have been merged in with identities-cli.
Closing issue.

[2021-07-22 08:36] #207 closed, assigned to tegefaulkes

[2021-07-23 08:05] scottmmorris commented on #172
'isomorphic-git` does not allow merge conflicts either, so a simple try and catch statement when pulling has been added.

As far as I can see the only case where merge conflicts occur is when `updateSecret` is used on ANY file in the vault has been changed and the content is different to the latest commit on the remote.

[2021-07-23 08:08] CMCDragonkai commented on #172
What about when you try to pull from a vault that is out of date.
Wouldn't that cause a merge conflict.

Right now when you have pulled a vault, if you change that vault, then
it will be a conflict if pull in from upstream.

So we are meant to prevent changes to vaults that are pulled. But we can
consider these vaults to be "immutable".

Otherwise when changes are applied, a new vault is created w

[2021-07-23 08:15] scottmmorris commented on #172
Right, that case is just for pulling from the original repository. I'll make more edits once I tests with vaults that are not the original repository

[2021-07-23 08:20] joshuakarp opened #217 "Nodes CLI integration"
### Specification

Now that gestalt discovery and identities CLI has been merged in, `nodes` is the next domain that needs to be integrated into the CLI.

### Additional context

Previous work on the nodes domain can be found in the following MRs:
* nodes refactoring !178 https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/178
* gestalt discovery !195 https://gitlab.com/Mat

[2021-07-26 00:42] CMCDragonkai commented on #204
Some review notes for https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/189:

1. [ ] This MR brought in the `prompts` package
2. [ ] The `tests/utils.test.ts` has some unnecessary imports, should be fixed up later in a lintfix.
3. [ ] The `tests/sessions/SessionManager.ts` should be described with `SessionManager`.
4. [ ] It should be `src/sessions` not `src/session`. You

[2021-07-26 00:42] CMCDragonkai commented on #204
Changes addressing the above should go into `client-refactoring`.

[2021-07-26 00:44] CMCDragonkai commented on #204
This will go into new issue.

[2021-07-26 00:44] CMCDragonkai commented on #211
Before working on this, please address these review points.

Some review notes for https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/189:

1. [x] This MR brought in the `prompts` package
2. [x] The `tests/utils.test.ts` has some unnecessary imports, should be fixed up later in a lintfix.
3. [x] The `tests/sessions/SessionManager.ts` should be described with `SessionManage

[2021-07-26 00:45] CMCDragonkai commented on #204
Closing this, review points going to #211.

[2021-07-26 00:45] #204 closed, assigned to DrFacepalm

[2021-07-26 00:47] CMCDragonkai commented on #178
@joshuakarp please do this while you're working on the Nodes CLI.

@scottmmorris please do this while you're working on the vaults refactoring.

Then this issue should be closable.

[2021-07-26 00:48] CMCDragonkai commented on #178
Add a comment here when you have done so, then move this to review.

[2021-07-26 00:49] CMCDragonkai commented on #183
@DrFacepalm @tegefaulkes What's the status of this?

We can create a new issue for addressing all the naming of GRPC types.

[2021-07-26 00:51] CMCDragonkai commented on #160
@tegefaulkes can you do this as well for https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/206. Then you can move this for review.

[2021-07-26 00:52] CMCDragonkai commented on #160
I've changed the settings here:

![image.png](https://images.zenhubusercontent.com/604ac1248439e60802e3f597/d3892838-aaa0-4843-9fbe-035bf0408f68)

All you need to do is adjust the docs generation to the same way that TypeScript-Demo-Lib does it.

[2021-07-26 00:53] CMCDragonkai commented on #192
@emmacasolin @DrFacepalm how is this going? What's the final remaining set of tasks?

[2021-07-26 00:59] CMCDragonkai commented on #180
This is primarily about creating test cases for dirty commits, or partial commits. What happens and how do we ensure that the vault stays clean? I think you encountered a bit of this already @scottmmorris in the vaults refactoring. You can address this issue there too.

[2021-07-26 01:03] CMCDragonkai commented on #211
Also added @tegefaulkes on this issue as these changes some of them can be placed directly into client-refactoring, and some can go into the nodes CLI.

[2021-07-26 01:31] CMCDragonkai commented on #211
On 16. the `Session` is only intended to represent the lifetime of a session on the client side. Therefore its async start stop should also deal with the construction of the file on disk, as well as using the lock file mechanism to prevent clobbering.

[2021-07-26 01:34] CMCDragonkai commented on #183
Should be closed when https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205 is merged.

[2021-07-26 01:38] CMCDragonkai commented on #180
One idea is to reset the git repository everytime you start the vault. That way at soon as you start js-polykey, the vaults are on a clean state.

[2021-07-26 01:39] CMCDragonkai commented on #180
Should be addressed in https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205

[2021-07-26 01:52] CMCDragonkai commented on #217
With respect to #211. The tests for Nodes CLI and all other CLI tests except session-specific commands in agent subcommands should just use a fixture that creates the session, and then share that session token for all command tests that end up using the grpc commands calling into client service. So you should plan out a common fixture mechanism for this.

[2021-07-26 02:10] CMCDragonkai commented on #160
@tegefaulkes just have a look at the `npm run docs` command from TypeScript-Demo-Lib repo.

[2021-07-26 02:24] CMCDragonkai opened #218 "Standardize the naming of GRPC Functions/Commands and Message Types"
The naming of GRPC functions/commands and message types is getting confusing. We need to have a standard way of naming with:

* Prefix - use this for hierarchical grouping
* Name - use this for the main intention
* Suffix - use this for creating variants

This is a renaming procedure, no new functionality should be done. But we may identify things that are missing or types that can be merged toget

[2021-07-26 04:29] joshuakarp commented on #218
Also adding my previous comment from nodes CLI MR: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/198#note_633812954

[2021-07-26 05:57] tegefaulkes commented on #160
I've just had a look at js-polykey. it already has the script for docs. `"docs": "typedoc --out ./docs src && touch ./docs/.nojekyll",`.
what exactly do I need to change here if anything? @CMCDragonkai

[2021-07-26 06:25] CMCDragonkai commented on #160
That should be it. You can try later. Our code isn't using the same doc standard yet but it should.

[2021-07-26 08:14] CMCDragonkai opened #219 "Get rid of un-used dependencies"
A few dependencies we should be cleaning prior to merge:

* conf
* configstore

These ones are all about configuration? I'm pretty sure we are now using DB for most things, and just plain old JSON for others.

* crypto-random-string

I'm pretty sure we replaced that with node-forge? And even then that might be replaced with native node in the future. Since mobile version of polykey will require a

[2021-07-26 09:40] CMCDragonkai opened #220 "Integrate Worker Manager into DB for parallel decryption/encryption"
### Specification

* The WorkerManager is intended to parallelize our encryption and decryption operations
* The DB is where all the encryption and decryption is currently done
* Integrate WorkerManager into DB similar to how WorkerManager is integrated into EFS
* If this is not done, every time anything gets encrypted or decrypted, it's going to block the main loop since now everything gets put i

[2021-07-26 23:37] joshuakarp commented on #219
This can be removed - only used in `src-old`, and we're using `jose` for JWTs instead.

[2021-07-27 00:40] scottmmorris commented on #219
`pako` is being used in `gitUtils` to compress some of the git information so it should stay

[2021-07-27 01:03] CMCDragonkai commented on #219
I thought isogit would handle any compression.

On 27 July 2021 10:40:36 am AEST, scottmmorris ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-07-27 01:46] DrFacepalm commented on #211
Another point to address:

There still exists several instances of `@/` aliases in `src`.
* [x] Replace them with relative referencing.

[2021-07-27 02:27] CMCDragonkai commented on #211
I thought these were addressed ages ago lol.

On 27 July 2021 11:47:09 am AEST, DrFacepalm ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-07-27 02:29] DrFacepalm commented on #211
![image](https://user-images.githubusercontent.com/31267481/127085591-3497fd89-37d1-4eb1-b32c-d3248558eb1e.png)
Apparently some new ones popped up

[2021-07-27 02:58] tegefaulkes opened #221 "GRPC call metadata is being overwritten when called from the Polykey GUI"
### Describe the bug

Call metadata is being overwritten when called from the GUI. It seems that the metadata is being overwritten somewhere along the GRPC. We have confirmed that the same happens for the token metadata when doing any GRPC call.

### To Reproduce

This applies to all calls but for the example i'll use the unlock session.

We are attempting to start a sesssion using the `sessionReq

[2021-07-27 03:05] tegefaulkes commented on #221
The commits with this problem can be found at.
- js-polykey 0e3b1294f80d45a6914e0b3163d9bd692dc322b3
- Gitlab Polykey-Desktop 809ef3a57b2b94ab09db8776a204608cb5631793

[2021-07-27 04:33] CMCDragonkai commented on #220
Some things I realised.

The DB serialize and deserialize should be extracted out of the encryption and decryption.

This is because you are transferring data to the workers, you have to serialize and deserialize all the time, and you might as well do it in the main thread.

The serialisation and deserialisation can be made more efficient in these ways:

1. Change the encrypt and decrypt utility f

[2021-07-27 04:35] CMCDragonkai commented on #220
Note that the underlying data is always `ArrayBuffer`. There are `ArrayBufferView` types which view the underlying data in different ways. The most flexible one is `DataView`. We shouldn't really need this all that much since we never change the way we are looking at the data.

[2021-07-27 04:36] CMCDragonkai commented on #220
Changing node-forge for node-crypto is a large operation. And that might involve changing to support ED25519 keys since node-forge still doesn't have it. It will impact how this is done for mobile devices later.

[2021-07-27 06:59] scottmmorris commented on #219
But because we are writing our own custom handler for isomorphic git we should then include it. I just tried to run it without compression and it threw an error because the SHA check failed.

[2021-07-27 08:12] tegefaulkes commented on #221
I've done some testing with both TypeScript-Demo-Lib and TypeScript-Demo-Electron.
The problem seems to be with importing js-polykey and trying to use the GRPC from that.

I'll keep looking.

[2021-07-29 04:11] tegefaulkes commented on #221
I've found the problem, both js-polykey and Polykey were importing `@grpc/grpc-js`. This seemed to work fine except for the fact the the metadata was missing on the server side.

I've fixed this now by:
- removing the `@grpc/grpc-js` package from Polykey.
- created a `createMetadata` function inside `src/client/utils.ts:78` so we can create metadata without importing grpc directly.

[2021-07-29 04:55] tegefaulkes commented on #221
I'm closing this as the issue is resolved now.

[2021-07-29 05:01] CMCDragonkai commented on #221
What does this function|`createMetadata` do?||
|

On 7/29/21 2:12 PM, Brian Botha wrote:

[2021-07-29 05:56] tegefaulkes commented on #221
I just creates and returns a grpc.Metadata() so I don't have to explicitly import grpc when I just need to create some metadata.

[2021-07-30 02:17] DrFacepalm commented on #211
More things:
* [x] We need to lock the token file. If we find that the thing is already locked, we just ignore cause some new thing is already refreshing it.

[2021-08-02 02:16] DrFacepalm commented on #211
Things left for this issue:
* [x] Standardization of `bin` tests
* [x] Make `Session.ts` start method actually perform a read from file on start, if a token is not provided
* [x] Create a lock for the token file that works
* [x] "We should preserve the naming of the actions across CLI commands and GRPC service commands as much as possible. We have lock, unlock and lockall. But the client service h

[2021-08-02 02:42] CMCDragonkai commented on #218
The prefix of GRPC commands should be used to group the  relevant calls together.

We have a natural grouping of calls by default which are the domains:

[code]

Where `X` is the actual call done for that particular domain.

Furthermore `X` itself should be structured with "object-verb" order. Note that "subject" is assumed to be the caller itself. So in linguistic typology we are using SOV order.

[2021-08-02 02:44] CMCDragonkai commented on #218
Another thing is because GRPC calls are always one to one from Client to Server.

The calls are always named with respect to the Client. The Client is the "subject" in the SOV order.

So for example, if the server is meant to receive a notification from the client. Then the call should not be named `ReceiveNotification`, as that would imply "ClientReceiveNotification", but instead it is actually "

[2021-08-02 02:44] CMCDragonkai commented on #218
Interesting that SOV word order is the most common in all human languages.

[2021-08-02 06:47] DrFacepalm commented on #211
There is currently an issue with this test:
![image](https://user-images.githubusercontent.com/31267481/127816128-f5093c0e-3cda-44cc-943c-f15dbbb9d5e7.png)

[2021-08-02 06:52] CMCDragonkai commented on #211
Has this been updated with the fact that Keys now uses DB?

On 8/2/21 4:47 PM, DrFacepalm wrote:

[2021-08-02 07:32] DrFacepalm commented on #211
I believe so. All the other keys tests works

[2021-08-02 07:54] joshuakarp commented on #211
I made a comment on Slack re this a week or so ago, when `gestalt-discovery` was merged in:

https://matrixai.slack.com/archives/CEAUUV5QX/p1626841840454900

[2021-08-03 02:41] scottmmorris commented on #180
It appears iso-git doesn't have a simple way of resetting the repository either through the likes of a `git reset` or `git clean`.

This might mean we need to do a recursive walk through the vault directory, checking the status of each file and deleting it if the status is `added`.

Another possible (but slightly more out there) method would be to clone the repo from itself each time on start up a

[2021-08-03 03:40] CMCDragonkai commented on #180
Please read this:
https://stackoverflow.com/questions/52704/how-do-i-discard-unstaged-changes-in-git

Note that `git checkout`, `git reset` and `git clean` are all porcelain
commands.

That means they are high level commands that end up using lower level
commands.

ISOgit may not have those high level analogues, but it doesn't mean that
if you don't look at how those commands are actually implemen

[2021-08-04 03:22] joshuakarp opened #425 "Introduce support for macOS CI/CD"
### Tasks

Currently in the process of participating in the macOS Build Cloud Runners beta https://gitlab.com/gitlab-com/macos-buildcloud-runners-beta

Queries and responses:

[2021-08-04 04:02] joshuakarp commented on #425
See also the following issue regarding Nix Build Pipelines with macOS: https://github.com/MatrixAI/TypeScript-Demo-Electron/issues/10

[2021-08-04 06:40] joshuakarp commented on #149
Regarding `PingNode` (from nodes CLI MR: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/198#note_635093912):

As such, we may not need to consider this.

[2021-08-05 02:25] scottmmorris commented on #180
So after testing you I couldn't find a way to use `git reset` to discard untracked files. The only command that seems to deal with this is `git clean`. Unfortunately `libgit2` also does not [specify](https://stackoverflow.com/questions/25205592/can-i-do-git-clean-with-libgit2) a `clean` command along with `iso-git`.

[2021-08-05 03:02] scottmmorris commented on #180
The stack overflow answer that Roger provided uses the `git stash` command and that appears to work. `libgit2` does have the stash command and uses it. I think the way it uses it is that it adds and commits all the untracked changes and then this allows it to group all these untracked changes into one commit. This should work for our case, on starting up a vault we add all changes that have not be

[2021-08-05 03:13] scottmmorris commented on #180
So something like this should work (but I will run a test first) when starting up the vault:

[code]

Then the filepath parameter here would have to be changed. Here we would need something that indicated all the file paths within the directory. Then we would add them all and then the checkout would delete them

[2021-08-05 03:50] scottmmorris commented on #180
Okay so I've run into a problem, when trying to `checkout` there are some cases where it will fail. i.e. if you have just started up and your first commit fails, you close and start up again. git will not be able to find the master branch because there isn't one technically. Because no commits have been made to the branch.

I found the solution to this is to just introduce an intial commit on star

[2021-08-05 05:40] CMCDragonkai commented on #180
Have a look at the implementation of `git clean` in the actual git code
base too. It should be pretty clear from the C code what it does.

On 8/5/21 12:25 PM, Scott wrote:

[2021-08-05 07:29] CMCDragonkai commented on #193
@tegefaulkes assigned this to you, you should be able to start on this now.

[2021-08-06 03:45] tegefaulkes commented on #178
We seem to be having problems with the `global.defaultTimeout`
When I run the tests they seem to timeout after 10000ms. This happens regardless of the timeout parameter I set for each test.

After some digging I found inside `setupAfterEnv.ts`
[code]
this seems to be overriding the timeout parameter set for each test.
If i remove the `jest.setTimeout(global.defaultTimeout)` the timeout defaults to

[2021-08-06 03:50] CMCDragonkai commented on #178
Look at the tests I did above, that worked fine. And there was no such problem as you mention.

[2021-08-06 03:54] CMCDragonkai commented on #178
Make sure you're own the same dependency as we are. Maybe the change in pkg.nix has changed things.

[2021-08-06 04:25] tegefaulkes commented on #178
The tests above don't include any bin tests which usually exceed the default timeout of 10000ms.
I'm not sure the tests above would've revealed this issue.

[2021-08-06 04:41] CMCDragonkai commented on #178
Pretty sure I did hit the timeout even without the bin tests. That's why
I added in some overrides for specific test cases that did it...

Can you reproduce in a smaller example like demo lib where the per-test
timeouts are being overridden by the global timeout setting?

On 8/6/21 2:25 PM, Brian Botha wrote:

[2021-08-06 04:44] tegefaulkes commented on #178
I'll look at that in a minuet. just finishing off some small changes for `nodes-cli`

[2021-08-08 08:46] CMCDragonkai commented on #217
This is done in client-refactoring but it is going to take time for me to fully review and create new issues for things to polish on. I'll post links.

[2021-08-08 08:46] #217 closed, assigned to tegefaulkes, joshuakarp

[2021-08-08 08:51] CMCDragonkai commented on #192
Schedule this for merging (even if not entirely clean) for Monday.

New things can be assigned on top of this based on review of issues generated from Nodes CLI.

[2021-08-08 09:36] CMCDragonkai commented on #217
Post-merge review for subsequent fix (this will be updated and posted onto new issue/issues):

1. Use DI for `NodeGraph`, this should allow us to maintain the try except style of `start` in all of our domains and the `started`.
2. Use a lock mutex in `NodeManager`, there are multiple in-memory states that you are managing that may need to be kept consistent. Either way it will future proof future

[2021-08-08 11:10] CMCDragonkai commented on #215
Status of this @joshuakarp ?

[2021-08-08 11:10] CMCDragonkai commented on #214
Status of this @joshuakarp ?

[2021-08-08 11:21] CMCDragonkai commented on #213
Adding @emmacasolin here into this as there is some cross over between the notifications work and this work.

You 2 should meet up to plan out and work out the kinks of the design of this system.

[2021-08-08 11:21] CMCDragonkai commented on #213
Consider this the next priority after you finish up with the Notifications and Gestalts article @emmacasolin and when @joshuakarp finishes up with the R&D article, (while also reviewing my post-merge review of the nodes cli).

[2021-08-08 11:23] CMCDragonkai commented on #193
Move this to review/QA when you're ready.

[2021-08-08 11:23] CMCDragonkai commented on #193
The next thing will be commercial and website distribution, we will need to have some way for users to easily download from polykey.io.

[2021-08-08 11:26] CMCDragonkai commented on #219
Changing this to @DrFacepalm as @joshuakarp has got a lot of issues in the current sprint.

[2021-08-08 11:27] CMCDragonkai commented on #211
@tegefaulkes you should take over this issue and consider the timing issues for all domains as the final polish.

[2021-08-08 11:29] CMCDragonkai commented on #164
Not important atm.

[2021-08-08 11:29] #164 closed, assigned to nobody

[2021-08-08 11:42] CMCDragonkai opened #222 "Vault and File Schema - Ingress and Egress Schemas"
### Specification

#### Egress Schema

#### Schema

The schema is a `.json.schema` file which can have an arbitrary name. This schema file should allow importing other schema files to create a hierarchy of schemas, ensuring minimal repetition. It would also allow for schema composition by creating sub-schemas like one for credit cards and one for login information can be composed to make a AWS cre

[2021-08-08 11:49] CMCDragonkai commented on #220
To achieve this. We should standardize on the usage of DB between js-polykey and EFS. The new DB is being developed in EFS and so changes to it should eventually be ported to polykey.

The worker manager integration requires more tests, requires benchmarking reports produced in the repos themselves, and to be done by our CI/CD. Remember CI/CD will only have 1 or 2 CPU cores, and should be the benc

[2021-08-08 11:55] CMCDragonkai commented on #149
I think you already did this didn't it? In that case, it should go into review.

[2021-08-08 23:52] joshuakarp commented on #215
@CMCDragonkai had a very brief re-look at this at the end of last week, but no progress made as of yet. I imagine it shouldn't take any more than a couple of hours, so can fit in sometime this sprint.

[2021-08-08 23:55] joshuakarp commented on #214
Similar to fixing the gestalt graph test, I didn't look at this last sprint. Now that we're using `PolykeyAgent` instances in the tests though, I imagine this shouldn't be too difficult. Can also find a time to do this in this sprint.

[2021-08-09 00:08] joshuakarp commented on #149
@CMCDragonkai this was more of an issue for investigation any ways that we could improve the efficiency of some of our networking operations (e.g. pinging a node). But given your quoted comment from above, this may not be necessary.

[2021-08-09 00:29] tegefaulkes commented on #193
Progress so far:
- pkg is working with the included native modules. some warnings about Jose but I think that's working.
- currently setting up the gitlab-ci and nix-build. running into odd issue with  node-gyp-build trying to build `/usr/bin/env`

[code]

[2021-08-09 00:50] CMCDragonkai commented on #215
Yea this will be important of course.

[2021-08-09 01:40] tegefaulkes commented on #221
Reopening this issue to tests other methods of solving this problem.
- [ ] Explore other methods of importing.

[2021-08-09 01:57] CMCDragonkai commented on #178
Do a sanity check on this with a single setTimeout test. And then fiddle with the parameters to clarify the behaviour here.

[2021-08-09 02:03] CMCDragonkai commented on #178
To optimise the test cases:

1. Start using `beforeAll` and `afterAll` to share state
2. Try to break up the tests into smaller tests so that each test can be faster to run
3. Don't rely entirely on the jest reported times for benchmarking, a better way is to use the actual bench library, or just use the `Date` and subtract delta

[2021-08-09 02:05] CMCDragonkai commented on #178
Also try tuning the networking delay for the punch packets for optimising the startup of forward and reverse proxy during testing.

[2021-08-09 05:24] joshuakarp commented on #178
To add to the discussion, there's 2 indicators that the jest test timeout parameter isn't working as expected:
* the "Timeout - Async callback was not invoked within the 10000 ms timeout specified by jest.setTimeout.Error: Timeout - Async callback was not invoked within the 10000 ms timeout specified by jest.setTimeout." error message from a timeout error uses the 10000 ms value from the `global.d

[2021-08-09 05:26] joshuakarp commented on #178
Similarly, trying to test the `tests/bin/notifications.test.ts` at the moment, and I was having the same kind of timeout issues, where every test failed (even with the passed test timeout values set as 5 times the global):

<details>

[code]

</details>

But calling `jest.setTimeout(50000)` at the start of the tests resolved this entirely. No more timeouts.

[2021-08-09 05:54] joshuakarp commented on #178
Small sanity tests:

For the following sleep program (6000 ms sleep):

[code]

1. global timeout = 5000ms: failed

[code]

2. global timeout = 10000ms: passed

[code]

For the following sleep program (6000 ms sleep), with a custom 1000 ms timeout:

[code]

1. global timeout = 5000ms: failed (with message stating expected 1000 ms)

[code]

For the following sleep program, **with the global timeout

[2021-08-09 07:40] CMCDragonkai opened #223 "Decentralized Indexing of Gestalt Discovery"
### Is your feature request related to a problem? Please describe.

Many team-based SaaS applications havea quick way of forming a team "workspace". For example Slack and Notion both have the ability to create a workspace based on a company email address which then allows the workspace to allow anybody possessing the email domain to automatically sign up and join that workspace. In addition, they

[2021-08-09 07:41] CMCDragonkai commented on #223
Discussion ideas @joshuakarp @emmacasolin @tegefaulkes

[2021-08-09 08:27] joshuakarp commented on #178
Alright, I think I've figured this out.

After trying to find a minimal example to write up an issue upstream, I built the following test file, just to see what outputs we'd get in the console:

[code]

By passing the timeout of 8000 to the test function, we expect this to override the global timeout of 1000ms. **And it does do this.** However, the test still fails:

[code]

But why does the conso

[2021-08-09 08:33] joshuakarp commented on #178
Therefore, the solution for our case is to also provide this timeout parameter for any `beforeEach`/`afterEach`/`beforeAll`/`afterAll` calls in test files that are expected to exceed our 10000 ms global default timeout.

Alternatively, we increase this default timeout to some large value to not have to think about this.

[2021-08-09 23:20] joshuakarp commented on #178
@DrFacepalm

[2021-08-09 23:45] joshuakarp opened #224 "Propagate networking connection error handling into NodeConnection error handling"
### Specification

When errors are encountered in the `network` domain for a particular connection, we expect these errors to propagate up to the higher-level `NodeConnection`. In this process, an active `NodeConnection` object that experiences a lower-level failure from the `network` domain must also be destroyed and garbage collected, as the underlying connection is no longer valid.

As per Roge

[2021-08-10 07:07] scottmmorris commented on #180
This is being delayed until the changes in EFS are merged as there is a bug in EFS preventing this from being completed

[2021-08-10 07:39] tegefaulkes commented on #214
Do you think we should group all test fixes and optimisations inside an epic?

[2021-08-10 08:45] tegefaulkes commented on #178
I did some testing with optimizing the tests. I started with looking at the `tests/bin/identities.test.ts`
[code]

after applying the optimisations;
- constructing PolykeyAgent only once in a beforeAll
- destroying the temp space once in a afterAll
- cleaning up any possible side effects inside a beforeEach.

The tests ran more than 10 faster..
[code]

Using this method should be mostly safe again

[2021-08-10 22:59] #192 closed, assigned to joshuakarp, emmacasolin

[2021-08-10 23:48] joshuakarp commented on #178
This is great.

@tegefaulkes Are you just doing a full DB clear to achieve this?

[2021-08-11 01:04] tegefaulkes commented on #178
I just removed any possible permissions using.
[code]
Is there a method in the DB to clear everything?

[2021-08-11 01:29] joshuakarp commented on #178
I believe there's a `db.clear` function. However, I'm not sure of the effect with how we're using subleveldown (i.e. can we do a top level `polykeyAgent.db.clear` to completely wipe all db entries in the sublevels? Or will this delete the sublevels completely - might be the latter.) @CMCDragonkai may know about this, otherwise might be worth looking into (especially for tests which require lots of

[2021-08-11 01:30] joshuakarp commented on #178
If this is the case, might be worthwhile to introduce a utils function that recursively goes to the appropriate sublevels and clears them.

[2021-08-11 01:38] tegefaulkes commented on #178
it would be useful to have functions that clears certain aspects of the databases.
e.g. claims, permissions, known nodes, ect. but in the simplest form of just cleaning the slate would be useful for tests. then the process could just be...
1. set up needed state for test.
2. run the test.
3. clean the slate
4. repeat.

[2021-08-11 02:02] CMCDragonkai commented on #178
Yes clear clears all sublevels. Go to the EFS MR. And see the new DB tests there. It demonstrates how it works.

[2021-08-11 02:03] CMCDragonkai commented on #178
However it's not guaranteed that clear is atomic. So when I need atomicity I make sure to generate ops for deletion instead.

[2021-08-11 02:03] CMCDragonkai commented on #178
So if you do a clear from the root level, it will clear everything sublevel. That's how fresh works.

[2021-08-11 03:22] CMCDragonkai commented on #192
Any follow-up issues regarding this issue since merging?

On 8/11/21 8:59 AM, emmacasolin wrote:

[2021-08-11 04:20] emmacasolin commented on #192
Nothing that I'm aware of, although I haven't been working on the code base since merging so others may be more likely to have run into issues if they're there

[2021-08-11 05:07] CMCDragonkai commented on #192
Yea I haven't got around to reviewing the notifications yet. But since
you'll be heading into #213, that will basically lead us to fully
reviewing nodes, sigchain and notifications together.

On 8/11/21 2:20 PM, emmacasolin wrote:

[2021-08-11 05:21] joshuakarp opened #225 "Refactoring Nodes Domain: NodeConnection & NodeConnectionManager and Fixing Bugs"
### Specification

The Nodes domain is an integration of all the other domains that enables Polykey to be a distributed and decentralised application. Right now it's design is causing its tests and its code to be quite brittle as other domains are being iterated on. This is slowing down our development process. At the same time, it has a number of functionalities that time to do such as pinging, t

[2021-08-11 06:31] CMCDragonkai commented on #225
Consider the possibility that each "NodeConnection" object can be
considered a "Data Access Object" that is actually handed to the
relevant domains that require nodes to use. Then NodeManager is about
maintaining a lifecycle of `NodeConnection` objects. This also means no
other domains should maintain or keep the reference long-running. Node
connection objects should only be short-running, and a p

[2021-08-11 06:35] CMCDragonkai commented on #225
I think we should follow an old-school "Connection Pool" design pattern.
Basically how client-server databases like postgresql and mysql is
provided to web applications.

On 8/11/21 3:21 PM, Josh wrote:

[2021-08-12 06:50] tegefaulkes commented on #221
Doing a quick test with the metadata again.
I wrote a small test program. the core of it is here;
[code]
`createMetadata()` is just a util function inside of `js-polykey/src/client/utils.ts` that returns a new metadata object.
This is so we don't need to explicitly import `grpc` or even include it as a package to make use of the `js-polykey` library.
[code]

The result we get is;
[code]

As we can

[2021-08-12 07:03] tegefaulkes commented on #221
Importing via;
- `import * as grpc from '@grpc/grpc-js'`
- `const grpc = require('@grpc/grpc-js');`
- `import { Metadata } from '@grpc/grpc-js';`

All fail to fix the problem. Looking at the source for Metadata, the class doesn't store anything besides the optional options and the internal map for storage. I'm not sure how or why using it from a separate import causes this issue.

I'll do a little

[2021-08-12 07:09] CMCDragonkai commented on #221
Ok If this is the case. You need to write a comment above the utility
function explaining why it exists. You can also post up an upstream
issue indicating this weird property on grpc-js.

On 8/12/21 5:03 PM, Brian Botha wrote:

[2021-08-12 07:22] tegefaulkes commented on #221
Ok, do you have a preference for which MR I should include this change in? @CMCDragonkai

[2021-08-12 07:23] CMCDragonkai commented on #221
Just go straight to client-refactoring.

On 8/12/21 5:22 PM, Brian Botha wrote:

[2021-08-12 07:44] CMCDragonkai commented on #221
It should probably go to `gprc/utils.ts` instead too.

On 8/12/21 5:22 PM, Brian Botha wrote:

[2021-08-12 08:37] tegefaulkes commented on #221
Created an upstream issue at https://github.com/grpc/grpc-node/issues/1881.

[2021-08-13 02:07] CMCDragonkai commented on #149
As soon as we establish a connection at the networking domain without even the GRPC establishment. Then this can be considered a ping success.

[2021-08-13 02:09] CMCDragonkai commented on #149
Avoid GRPC establishment, just try to open a connection on the Forward Proxy and connect this to the `pk nodes ping` CLI command.

[2021-08-13 02:09] CMCDragonkai commented on #149
Close this issue when done.

[2021-08-13 02:15] CMCDragonkai commented on #217
Regarding point 14:

Between agent to agent, tls is on the networking layer and the grpc is plaintext, but client (CLI & GUI) to agent, no networking layer is used, and therefore tls occurs on the grpc level. So I realised that therefore you ignore point 14.

[2021-08-13 02:25] CMCDragonkai commented on #218
There are some message types like `VaultsVaultMessage` or `NodesNodeMessage`.

This is fine for now to represent the input/query message to refer to a vault or node.

We can address other naming issues later. For now as long as the prefix is the domains, this will make it clearer.

[2021-08-13 02:28] CMCDragonkai commented on #193
Can you link the branch where you're doing the experiments here.

[2021-08-13 02:59] tegefaulkes commented on #218
While including the domains inside the GRPC functions makes sense, I'm not sure it does for the message names.
In the case of `NodeMessage` it contains information specific to a node. It can be used in function calls inside the identities domain or the nodes domain and as such. is not really specific to a domain.
Also, it is always used in the context of a grpc call. Such as `NodesGetNode(NodeMess

[2021-08-13 03:16] tegefaulkes commented on #193
The Typescript-Demo-Lib that works is; https://github.com/MatrixAI/TypeScript-Demo-Lib/tree/pkg-integration
The js-polykey branch I'm testing in is; https://github.com/MatrixAI/js-polykey/tree/pkg-integration

[2021-08-13 03:16] joshuakarp commented on #149
Comment for myself: see `NodeConnection.start` for how we currently do this. We call `fwdProxy.openConnection` already there. But we want to do this without needing to setup and start a `GRPCClient`.

Obviously, if the `NodeConnection` object already exists, and we want to check whether the node is still active, we can just use the existing `nodes ping` implementation.

[2021-08-13 03:44] tegefaulkes commented on #221
I've re-exported the Metadata inside `src/client/index` with `export { Metadata } from '@grpc/grpc-js';` so we can import it along side `clientPB`.
This keeps it all in one place.

Just a note, only projects that use js-polykey as a library need to use that import. so far that's just the GUI. The CLI doesn't have this problem.

Also, there are some errors on the `client-refactoring` branch. I'm ce

[2021-08-13 03:51] CMCDragonkai commented on #221
Ok proceed to fixing bugs then. Close this issue once merged into client-refactoring

[2021-08-13 04:26] CMCDragonkai commented on #218
Good point. What we can do is do a hierarchy/taxonomy of message types.

Begin with the basic primitive messages that are used by everything. And
then domain specific message types.

We can figure this out after sessions MR fixes gets merged.

On 8/13/21 1:00 PM, Brian Botha wrote:

[2021-08-13 04:37] #221 closed, assigned to tegefaulkes

[2021-08-13 05:26] joshuakarp commented on #213
To create a cryptolink from `X` to `Y`:
1. `X` sends a "cryptolink request" (a notification with some expected string) to `Y`
2. `Y` (at some point in time) reads this notification and can accept this request (if desired).
3. If accepting, `Y` will need to send a notification back to `X` to say "I accept"
3. `X` creates the claim, and transfers the 'unsigned' claim to `Y`
4. `Y` checks the claim t

[2021-08-13 05:37] joshuakarp commented on #213
From chat with @emmacasolin , I envisage the above process should work out of the box with the `notifications` domain.

I think the only issue I see is steps 2 and 3. If `Y` reads the notification at some later date, but `X` is offline, obviously it can't send this "I accept" notification back. At the present time, I don't believe any kind of async messaging for notifications is possible https://e

[2021-08-13 05:51] CMCDragonkai commented on #213
This is why notification sending should be delay-tolerant.

They enter a queue for sending. So if they cannot be sent now, it can be
retried later.

This is basically the same as email.

This queuing can be done later, we can add delay tolerant feature for
after release.

On 8/13/21 3:37 PM, Josh wrote:

[2021-08-16 01:22] CMCDragonkai commented on #213
Clarifying the steps. This is currently fully synchronous, no delay tolerance.

[code]

So you have to use a bidirectional grpc stream because Y has to send a message to X, and X has to respond with a message and Y has to respond again.

[2021-08-16 01:25] CMCDragonkai commented on #213
For the bidirectional grpc streaming see the grpc utils. And the tests associated. It shows how to use the async generator abstractions for reading and writing on a bidirectional stream. It's better than using stream API. It fits into the promise style.

So Y has to do `write`, `read`, `write`.

X has to do `read`, `write`, `read`.

You'll need to have a timeout applied to both sides. So that the

[2021-08-16 01:29] CMCDragonkai commented on #213
I know we have a connection timeout already inside the underlying `network` domain. However I'm not sure how this timeout error propagates to the GRPC code. You want to test connection breaking edgecases here. Because if an exception is raised at the `network` domain, then how does this get caught on the GRPC calling side and on the serving side? They may need to catch the exception and handle som

[2021-08-16 01:32] CMCDragonkai commented on #213
From the GRPC client's perspective you should be either receiving a connection interruption if there was a `FIN` packet returned from the forward proxy. Or getting a timeout error if the forward proxy just destroys the socket.

[2021-08-16 01:38] CMCDragonkai commented on #213
Imagine on the grpc client.

[code]

[2021-08-16 03:22] CMCDragonkai commented on #219
I'm addressing this issue in https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/206

In that MR I'll be removing all that is mentioned here.

The dependencies relating to the API may be used again in #166 which requires a proper design review.

[2021-08-16 03:43] CMCDragonkai commented on #166
I'm removing these dependencies and they deserve a review on whether they are needed to implement this:

[code]

There are way too many dependencies just to implement a HTTP API from the old code. Any new code should focus on something like this:

1. An http router server - something simpler than express, perhaps `fastify` or `0http` - as minimal as possible because we are doing very basic things

[2021-08-16 03:45] CMCDragonkai commented on #34
Can use zxcvbn for this, and will require #222 to be done before this can be done.

[2021-08-16 03:52] CMCDragonkai commented on #166
Here is the old code that can be revitalised when we investigate this:

<details>
<summary>HttpApi.ts</summary>

[code]

</details>

<details>
<summary>Config.ts</summary>

[code]

</details>

<details>
<summary>OAuth2Store.ts</summary>

[code]

</details>

<details>
<summary>OAuth2.ts</summary>

[code]

</details>

<details>
<summary>utils.ts</summary>

[code]

</details>

<details>
<summary>Vali

[2021-08-16 05:36] CMCDragonkai commented on #219
@scottmmorris is `uuid` library needed? I see it being used for `const vaultId = uuid();`, but any randomly generated id should be sufficient.

See how we generate permission id:

[code]

[2021-08-16 05:37] CMCDragonkai commented on #219
That also ensures that our random generators are the same and wherever else we need random ids.

[2021-08-16 05:51] CMCDragonkai commented on #154
This may require old PKI code. I'm adding the old code for some PKI testing here in case it helps:

<details>
<summary>PKI.test.ts</summary>

[code]

</details>

[2021-08-16 06:24] CMCDragonkai commented on #213
@joshuakarp you also need permission handling here:

1. X when it sends notification to Y, it needs to add a permission to Y's gestalt internally you can call it `GestaltInvite`
2. This permission allows `Y` to call `X`.

This permission is similar to vault sharing permission, in that `Y` elects to be able to join `X` gestalt if they want to.

Once the cross signing completes, the `X` and `Y` gest

[2021-08-16 08:15] joshuakarp opened #226 "Expunge any added "invalid" nodes from k-buckets"
### Specification

We need a means of handling any nodes that are found to be invalid.

I make the initial assumption that an "invalid" keynode can only be introduced by a manual insertion into the buckets database. Therefore, an "invalid" node can only be inserted from the `nodes add` CLI call, or from the specified seed nodes when we instantiate a keynode. I'm of the opinion that nodes added fro

[2021-08-16 08:36] tegefaulkes opened #227 "Registering providers"
### Specification
We need to discuss and specify how providers are registered.
- Will end users be able to register their own providers?
- Bundled providers need to be registered. (just github for now.)
- How do we handle the clientId for a provider?

### Additional context
@joshuakarp @BrianBotha you guys should have a chat about how get this working properly in another MR/issue to client-refacto

[2021-08-16 08:37] tegefaulkes commented on #227
I've created the issue for now. Will be expanded later. @CMCDragonkai

[2021-08-16 08:48] scottmmorris commented on #219
We discussed using uuid library here https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205#note_625776187

[2021-08-16 10:01] CMCDragonkai commented on #193
Going to close this given that MR 206 is merged.

Proper testing to be done at the end!

[2021-08-16 10:02] CMCDragonkai commented on #193
Only after client-refactoring is merged to master, will start to see CI/CD builds appear.

At that point we will need establish manual Q&A process for those published executables. They are set as pre-releases, so we will just do it manually for now, and later in the future automate tests against executables in different envrionments.

[2021-08-16 10:02] #193 closed, assigned to CMCDragonkai, tegefaulkes

[2021-08-16 10:02] CMCDragonkai commented on #219
Closing this issue as MR 206 merged.

[2021-08-16 10:02] #219 closed, assigned to tegefaulkes, DrFacepalm

[2021-08-16 10:04] CMCDragonkai commented on #227
This will be needed for our release so I'm adding it into our current sprint.

[2021-08-16 10:29] CMCDragonkai commented on #160
Since this is now done in the settings and MR206 is merged. It should be working as soon as client-refactoring is merged.

[2021-08-16 10:29] #160 closed, assigned to CMCDragonkai, tegefaulkes

[2021-08-16 10:30] CMCDragonkai commented on #213
@joshuakarp can you update this issue with the MR that you are working on that addresses this.

[2021-08-16 10:33] CMCDragonkai commented on #227
This will need a new MR too.

[2021-08-17 00:44] joshuakarp commented on #225
To add to this as well, currently we don't check for "liveness" of an active `NodeConnection` object. That is, while the networking domain cleans up any connections that have become inactive or offline, the nodes domain doesn't do such a thing. We do some kind of "activity" check in `NodeManager::pingNode` (checking an already active connection if it's still active, to ascertain whether the node i

[2021-08-17 01:15] joshuakarp commented on #225
Furthermore, we need to be correctly handling networking errors. From the nodes CLI fixes MR:

Some notes regarding this from our sprint meeting a couple of weeks ago (9th August):
* we can view the networking domain's components as singleton instances
* that is, they act as an internal service that we share across our other domains
* when we handle errors with respect to connections, we can't exp

[2021-08-17 03:22] CMCDragonkai commented on #218
I've noticed that the naming of the command files aren't standardised atm.

For example:

[code]

* We already categorize them by directories
* There's a common `command` prefix being used

Let's simplify this. For example:

[code]

Can instead be:

[code]

[2021-08-17 05:28] CMCDragonkai commented on #198
@tegefaulkes you might as well check this too.

[2021-08-17 06:08] CMCDragonkai commented on #211
Remaining unticked testing issues here go to #178.

My post-merge review copied here:

* Standardize the naming for all bin command files: https://github.com/MatrixAI/js-polykey/issues/218#issuecomment-899964024
* CLI GRPC Client should be using direct TLS to the GRPC Client Service: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/207/diffs#note_651473935
* Wondering of

[2021-08-17 06:10] CMCDragonkai commented on #211
@DrFacepalm commentary on?:

* When constructing the session, we can either receive the token from the grpc client service during unlock, or we can read it from a file in the PK client state. Usually we would program the read from file to the async start method of Session. But I can see that would conflict from receiving the grpc client service. So if the Session is constructed with a passed in to

[2021-08-17 06:26] joshuakarp commented on #213
MR created for this issue https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/209

[2021-08-17 09:53] CMCDragonkai commented on #211
MR 202 merged.

[2021-08-17 09:53] #211 closed, assigned to tegefaulkes, DrFacepalm, scottmmorris

[2021-08-17 11:36] DrFacepalm commented on #211
We *DO* read the token during the async start.

We *DO* allow the token to be passed during start, and if it is not passed, it attempts to read it.

I believe I've removed all the references to JWT in the function names..

[2021-08-18 01:18] joshuakarp commented on #215
This is fixed in !202: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202/diffs?commit_id=52430403d56a7aaf2319abf72d77e55c85eedfcb

This issue can be closed once !202 is merged.

[2021-08-18 03:46] tegefaulkes opened #228 "fix/session-and-misc post review issues."
### Specification
Some issues need to be addressed after merging `fix/session-and-misc`

Bin command file names need to be renamed to a standard form.
For example:

[code]

* We already categorize them by directories
* There's a common `command` prefix being used

Let's simplify this. For example:

[code]

Can instead be:

[code]

The sub issues in the task list also need to be completed.

### Add

[2021-08-18 03:55] tegefaulkes opened #229 "Implementing TLS for ClientService"
### Specification
CLI GRPC Client should be using direct TLS to the GRPC Client Service.

### Additional context
reference this comment: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/207/diffs#note_651473935.

An MR has been created for this issue.
https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/210

### Tasks
1. [x] enable TLS connection a

[2021-08-18 03:57] tegefaulkes opened #230 "Explore `CallCredentials` and `SessionCredentials` for GRPC"
### Specification
Check the robustness of the usage of call credentials and `SessionCredentials`.

### Additional context
Reference https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/207#note_652476363 and https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/207#note_652440417

An MR has been created for this issue.
https://gitlab.com/MatrixAI/Engine

[2021-08-18 05:42] #215 closed, assigned to tegefaulkes, joshuakarp

[2021-08-19 01:08] tegefaulkes commented on #198
I removed `"skipLibCheck": true,` from the `tsconfig.json`. It builds fine.
So this issue is resolved unless the error occurs elsewhere besides building.

[2021-08-19 01:22] tegefaulkes commented on #227
Created a MR at https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/211

[2021-08-19 01:35] CMCDragonkai commented on #198
Ok this can be closed when you merge the async tests MR.

[2021-08-20 05:09] joshuakarp commented on #188
After resolving some issues regarding "self-discovery" in `discoverGestalt` https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/202#note_655726653 (where a node discovers nodes in its own gestalt, with claims that point back to itself), some extra points regarding the usage of the sigchain in `Discovery` were brought up.

An aspect of `discoverGestalt` will eventually be it

[2021-08-20 08:02] joshuakarp commented on #149
Ping node no longer establishes a `GRPCClient`: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/184/diffs?commit_id=fffcbb5126d24b3e0de767a91ad97aabf90887f7

[2021-08-20 08:02] #149 closed, assigned to joshuakarp

[2021-08-23 02:22] #228 closed, assigned to tegefaulkes, DrFacepalm

[2021-08-23 02:28] CMCDragonkai commented on #159
We need to implement a test for relaying the hole punching message. This is not meant to be using the notifications domain because it's part of automated connection establishment.

We need to test several situations:

1. Test if we can do this with a designated seed node, this coincides with MatrixAI/Polykey#194 <- **only this one for release**
2. Test if we can do this with any node on the Polyke

[2021-08-23 02:30] CMCDragonkai commented on #227
Don't worry about users being able to register their own provider. We are only going to register our providers upon program startup.

[2021-08-23 03:47] tegefaulkes commented on #227
Ok, I'll focus on just having our provided providers registered for now. We will need split users registering their own providers out as a separate issue.

[2021-08-23 04:47] CMCDragonkai commented on #227
This issue can be closed as soon as you merge the MR. A separate issue can be created for registering their own providers. That's a plugin issue which is way later after release.

[2021-08-23 04:59] CMCDragonkai commented on #229
* CLI communication goes directly to the GRPC server, not through the forward and reverse proxies. This avoids creating unnecessarily expensive proxy objects just to perform a single CLI call.
* This means client service should only be exposed over TLS.
* There should be stub code or pre-existing code that allows the GRPC server to serve TLS.
* CLI and GUI can use TLS but not MTLS. That is client

[2021-08-23 05:29] tegefaulkes commented on #227
https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/211 has been merged.
Closing issue.

[2021-08-23 05:29] #227 closed, assigned to tegefaulkes, joshuakarp

[2021-08-24 06:01] tegefaulkes commented on #229
After digging through the code, I think TLS is already supported by `GRPCServer`, it just needs to be passed a TLSConfig when starting. so we _**should**_ be able to enable TLS by having `PolykeyAgent` start the `GRPCServer` with a `TLSConfig` at `src/PolykeyAgent.ts:324`
[code]
This may enable TLS for both the client service and the agent service though.
If we just want TLS for the client connect

[2021-08-24 06:12] CMCDragonkai commented on #168
Resolving this issue requires us to fully plan out #155. Because if we modify or change our underlying crypto library which is currently `node-forge`, we have to be aware of cross-platform deployments in the future. No point swapping libraries if it just preventing us from being able to use it on mobile phones.

[2021-08-24 06:41] CMCDragonkai commented on #155
In working on core activity 2 of our R&D report, I've discovered some prior context for this particular issue.

This comment https://github.com/MatrixAI/js-polykey/pull/43#issuecomment-644652639 explains how we came to be using `node-forge` as opposed to other cryptographic libraries.

I know that when Polykey project first started, we initially were thinking of using PGP and thus the kbpgp.js lib

[2021-08-24 06:43] CMCDragonkai commented on #229
Yep I left that code there precisely for this possibility.

On 8/24/21 4:01 PM, Brian Botha wrote:

[2021-08-24 08:35] tegefaulkes commented on #229
I have gotten a test case to work with TLS doing an echo command as a test. The client doesn't have to provide any certs for this to work but the code is written to expect them so some modifications need to be made. I've pushed an example of this to https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/210

[2021-08-24 10:05] CMCDragonkai commented on #229
That's right the client shouldn't need to provide a TLS credentials. It
only has to verify that who it's connecting to, when it presents the
certificate, that the certificate is valid for the expected Node ID
which itself is acquired from the node path, or potentially manually
specified.

On 8/24/21 6:35 PM, Brian Botha wrote:

[2021-08-25 01:42] tegefaulkes commented on #229
Looks like the TLS credentials is for the whole server. I don't think I can enable TLS for just the clientService and not the AgentService unless we run two seperate servers for them.

[2021-08-25 02:57] CMCDragonkai commented on #166
Some extra thoughts on this after reading: https://news.ycombinator.com/item?id=28295348 and https://fly.io/blog/api-tokens-a-tedious-survey/.

* The tokens that we use to authenticate our CLI and GUI session should be the same as the tokens we are attempting for our HTTP API. That is the session manager and `sessions` domain is the starting point of this epic. Any development should evolve from t

[2021-08-25 03:03] CMCDragonkai commented on #166
It's important for all services to make use of TLS when connecting to PK. This is true for PK to PK, CLI/GUI to PK, and third parties to PK.

However only PK to PK is expected to be based on mtls, whereas CLI/GUI to PK is just tls. Third parties the same as well. The main reason for this is that you need a PKI system to bootstrap mtls.

To have mtls before mtls, is a chicken or egg problem. Thus b

[2021-08-25 03:09] CMCDragonkai commented on #166
Storage and management of session tokens and eventually these HTTP API tokens are currently done in directly on our DB. **It does not make use of our vault/EFS abstraction**.

If we want dog-food our own creation and secrets management system, does it not make sense to reuse the vaults for storing the session tokens, if we expect users to use the vault system to manage their inter-service API toke

[2021-08-25 03:49] CMCDragonkai commented on #229
Try and see if you can call bindAsync twice. Once for unsecured port, another for a secure port?

But if not then I think having 2 server objects can work as well. One to serve the client server another to serve the agent server. That way 2 different ports.

You'll need to update the ports being shown on the session lockfile or whatever is communicating to the CLI what port to use to connect to.

[2021-08-25 04:17] tegefaulkes commented on #229
I will create separate servers for client and agent services.
I have updated the task list.

[2021-08-25 04:48] CMCDragonkai commented on #155
Regarding the future of using web assembly, here are relevant resources:

* https://www.fastly.com/blog/standard-cryptography-api-webassembly
* https://github.com/WebAssembly/wasi-crypto
* https://stackoverflow.com/questions/48891593/webcryptoapi-vs-webassembly-encryption-module
* https://medium.com/nexenio/a-random-story-on-webcrypto-and-webassembly-6f9e00c73a

The last link is interesting as it

[2021-08-25 13:16] CMCDragonkai commented on #162
Regarding the COW idea for mutating pulled vaults. I want to point to these relevant links:

* https://dev.to/donovanrichardson/adding-a-new-remote-and-merging-unrelated-branches-1mkm
* https://stackoverflow.com/questions/6286571/are-git-forks-actually-git-clones
* https://stackoverflow.com/questions/36123655/what-is-the-git-alternates-mechanism
* https://git-scm.com/docs/git-worktree
* https://st

[2021-08-26 02:09] tegefaulkes commented on #214
Test has been completed for discovery via nodeId and identity.
Tests could be expanded with multiple gestalt configurations, needs looking into.

[2021-08-26 06:13] CMCDragonkai commented on #230
@DrFacepalm can you take over this issue this week/weekend?

[2021-08-26 06:14] CMCDragonkai commented on #155
Another example of wasm and webcrypto usage:

* https://medium.com/cubbit/how-to-build-a-crypto-isomorphic-library-with-javascript-and-webassembly-6fc7aa708437
* https://github.com/cubbit/enigma and https://github.com/cubbit/enigma/issues/16

[2021-08-27 07:25] tegefaulkes commented on #214
This has been merged in, resolving issue.

[2021-08-27 07:25] #214 closed, assigned to tegefaulkes, joshuakarp

[2021-08-27 07:28] tegefaulkes commented on #178
!202 has me merged, closing issue.

[2021-08-27 07:28] #178 closed, assigned to CMCDragonkai, tegefaulkes, DrFacepalm

[2021-08-27 07:33] tegefaulkes commented on #198
!202 has been merged fixing this. closing issue.

[2021-08-27 07:33] #198 closed, assigned to tegefaulkes, scottmmorris

[2021-08-27 07:54] tegefaulkes commented on #229
Re-based on `client-refactoring`.
So far I've split the `ClientService` and `AgentService` into two servers, the clientService has TLS enabled while the agentservice does not. I've split host and port information in PolykeyAgent for each server.

what is left is to confirm that the client communication is over TLS  and that the agent communication still works. and maybe anything else I didn't thin

[2021-08-28 01:17] DrFacepalm commented on #230
Taking a look, im not too sure what we'd prefer here.

![image](https://user-images.githubusercontent.com/31267481/131201055-393d9c76-b810-4719-9ad0-a87164ae98d1.png)

We have two options here, either something like:
[code]
or
[code]

Option 2 seems more robust simply because it seems more supported by the grpc library. In the generated code:

[code]

The last overload shows that the function call

[2021-08-28 04:28] CMCDragonkai commented on #230
Try doing option 2 for unary calls. And for streams leave it as is. I reckon we should matching the call signature even if it is weird.

[2021-08-29 05:11] CMCDragonkai commented on #200
Relevant to #230. @DrFacepalm I wonder if this would actually prevent us from making those signature mistakes when calling the grpc stub functions.

[2021-08-29 05:13] CMCDragonkai commented on #218
Ok it seems that file structure in the `bin` has changed.

What's left is cleaning up all remaining GRPC and Protobuf types. We'll do a once over at the end and we can close this issue and move this standard into the wiki.

[2021-08-29 10:26] CMCDragonkai commented on #159
@joshuakarp I'm curious how exactly are we going to implement a optimised routing system for routing the hole punching relay messages?

The same algorithm can later be used for picking the optimal relay for mesh proxying to defeat symmetric NAT.

I remember we mentioned some usage of kademlia or represenation of "closest" node.

If we just assume that we always use our seed cluster/bootstrap clust

[2021-08-29 10:28] CMCDragonkai commented on #200
@DrFacepalm has achieved this on `post_session-and-misc_fixes` branch.

We'll be using a `type Initial` and `type InitialParameters` since I discovered that haskell calls the parameters except last "init". So Head vs Tail and Initial vs Last is the correct terminology.

[2021-08-29 10:28] CMCDragonkai commented on #200
@tegefaulkes This does also fix #230? Or will that require some changes to the tests?

[2021-08-29 10:46] CMCDragonkai opened #231 "CI/CD to build and sanity check docker container and release executables"
The final built executables coming out of vercel/pkg are not tested when uploaded as pre-release executables.

We should run a final test on those, maybe a simplified test that runs just the `--version` or `--help` page to ensure that the executable actually runs on the target environment. This can help us know whether the final packaged executables are actually working mostly.

This requires our

[2021-08-29 10:48] CMCDragonkai commented on #231
Remember Gitlab provides many CI/CD runners. But I suspect this will require running a separate runner on the last stage. I'm not sure if the configuration allows this. But we must investigate this.

Also consider what additional costs there is, and whether it is free for Open Source, and we have replicated this to the Open Source group.

[2021-08-29 10:56] CMCDragonkai commented on #231
Should also do a hash check to ensure that the expected hashes of the released executables are in fact what we expect. That means during the release stage, we should be calculating the hashes from `nix-build` and then publishing those as well on the release page. Note that the hashes used in the naming currently are nix hashes which are hashes of the input derivation expression, not the build outp

[2021-08-29 11:03] CMCDragonkai commented on #231
This maybe relevant too https://nixos.org/manual/nix/unstable/command-ref/new-cli/nix3-store-make-content-addressable.html

Checking the hash of the release is just about ensuring integrity but it doesn't ensure authenticity. A signature would ensure authenticity. However combining the hash with an "authentic" trusted source is sufficient to ensure authenticity and integrity. Of course end-to-end

[2021-08-30 00:33] joshuakarp commented on #159
@CMCDragonkai Kademlia inherently has a "closeness" mechanism. That is, the XOR value of two node IDs determine closeness (smaller = closer, larger = further away). Remember that with Kademlia, we store more node ID -> node address mappings of the nodes that are "closest" to us: this is the fundamental part of the k-buckets structure.

Isn't this inherently a routing solution?

See this too, strai

[2021-08-30 00:45] CMCDragonkai commented on #159
Kademlia's closeness is used to route to the relevant node that has information on the node ID to IP address. I can see how that might mean that you can trigger a hole punch relay message at that node.

Does this mean you would need to send that as a option/flag that means you want to pass on a hole punching message on the call to resolve a node ID? This would mean resolution and relaying a hole p

[2021-08-30 02:16] tegefaulkes commented on #200
I've been looking into this and I've looked over what @DrFacepalm has done. The utility types works to a degree, but there are 2 complications with it. It seems to be pretty hard to infer the return type from the callback, I haven't found something that works for that yet.

The other problem is that utility types doesn't support overloaded function definitions currently and it doesn't look like th

[2021-08-30 02:27] CMCDragonkai commented on #159
Is the kademlia contact database rebalanced/replicated across the network like a DHT?

Otherwise how does one store a contact if not by being contacted by it and contacting it in turn?

[2021-08-30 03:08] tegefaulkes commented on #230
Looking into the `callCredentials` that you can create when setting up a client connection. I think it's possible for the client to provide metadata for each call automatically.

For example, if we provide the JWT token metadata to the client as a `callCredential` it should provide that each time we make a call. so we don't need to provide it each time we make the call. the documentation on this i

[2021-08-30 03:16] CMCDragonkai commented on #230
Yep the grpc documentation is quite light. I had to delve into the
source code to see how to make use of it. In VSCode this was easy enough
by jumping between the type definitions. But I had to clone the grpc
source code and match up the type signatures to the TS code internally
as well.

On 8/30/21 1:08 PM, Brian Botha wrote:

[2021-08-30 03:26] CMCDragonkai commented on #200
The last 3 comments here https://github.com/microsoft/TypeScript/issues/32164#issuecomment-764660652 may provide a hack for this. Can resolve this later.

[2021-08-30 03:28] CMCDragonkai commented on #224
We must add tests that break the `network` domain connections while a unary calls and streaming calls are taking place and observe and apply tests on that behaviour. I'm expecting some sort of exception to take place on the next `await`/promise at the GRPC client stub and service handler simultaneously. But this should be tested and properly speced out.

[2021-08-30 04:00] joshuakarp commented on #159
In order for Kademlia to function, there are lots of implicit connection establishments taking place. That is, every time you receive `k` closest nodes from another node, the idea is that you would connect to each of these received nodes and query them for their `k` closest nodes. If you don't already have a connection established with them, then you need to send a hole-punching packet across the

[2021-08-30 04:06] joshuakarp commented on #159
Currently no. There's no rebalancing/replication across the network. There's currently 2 ways that nodes are added to the database:
1. This kademlia "discovery" process, of contacting other nodes to find the `k` closest nodes (any found nodes that are able to be connected to are added to our database).
2. I added an initial "sync" to a node when it comes online. That is, it contacts the provided s

[2021-08-30 04:07] tegefaulkes commented on #229
Just tested and confirmed that the `clientService` is working over TLS and the `agentService` is insecure.
I tested both of them with a simple echo test and checking if the client was secure.

The tests are located at `tests/client/PolykeyClient.test.ts:142` `Can connect and echo over TLS` and `tests/agent/GRPCClientAgent.test.ts:204` `Can connect over insecure connection.`

If no other issues pop

[2021-08-30 04:10] CMCDragonkai commented on #159
I think our plan is for the release, we'll stick with the centralised seed node cluster MatrixAI/Polykey#194.

We can put the problem of decentralised relaying to a post-release issue. This issue is more focused on just creating a test-harness for NAT-traversal, so we should focus this issue on this problem.

In the mean time, I'll create a new issue for decentralised relaying.

[2021-08-30 04:21] CMCDragonkai commented on #159
If you have difficulties working on this, I can ask @nzhang-zh or @Zachaccino to help advise.

[2021-08-30 04:24] CMCDragonkai commented on #229
You are catching those exceptions as part of your test expectations right?

On 8/30/21 2:07 PM, Brian Botha wrote:

[2021-08-30 04:34] CMCDragonkai commented on #182
Specced out some additional details for this issue. Task list still requires work. This is scheduled to be post-release.

[2021-08-30 04:37] CMCDragonkai commented on #182
As a note on terminology.

* Hole Punch Relay - Our answer to STUN
* Proxy Relay - Our answer to TURN

[2021-08-30 04:40] tegefaulkes commented on #229
Yes, both tests check if the echo command worked and if the connection was secure with `expect(pkClient.grpcClient.secured).toBeTruthy()`

[2021-08-30 04:50] tegefaulkes commented on #230
I've done some testing now. Looks like you can provide a metadataGenerator to the callCredentials. This will generate new metadata each time a call is done add that to the metadata of the call. Using this we can get the JWT token from the session manager and provide that for each call automatically.

This way we don't have to provide the session token metadata explicitly for each call. if the toke

[2021-08-30 05:04] CMCDragonkai commented on #230
Just remember that `SessionManager` is used by the agent side not
directly from the client side. The client uses the token in its
`Session` state (provided by a lockfile). It then updates the session
state based on return information from the agent which may have been
supplied with info from `SessionManager`.

On 8/30/21 2:50 PM, Brian Botha wrote:

[2021-08-30 06:41] tegefaulkes commented on #230
I have a functioning example of this working now. We wont need to provide the token for every call now.
I've made it optional by optionally passing the `GRPCClientClient` a `Session` object otherwise it defaults to the original behaviour.

If you do try to manually provide the token with this enabled then you'll get a error `ErrorGRPCConnection: 13 INTERNAL: "authorization" metadata cannot have mu

[2021-08-30 07:40] CMCDragonkai commented on #230
That's great. Are you sure you want to pass the entire `Session` object as opposed to just the token data itself? Principle of least power... Etc.

[2021-08-30 08:13] tegefaulkes commented on #230
This way if we update the token inside the `Session` that is reflected inside the metadata. Ideally I could just pass the `CallMetadataGenerator` but that had an issue with scoping. Right now I'm creating the `CallCredential` with `const callCredentials = grpc.credentials.createFromMetadataGenerator(session.sessionMetadatagenerator.bind(session));`.
There might be a better way but this is just wha

[2021-08-30 08:27] CMCDragonkai opened #233 "Try using Unix Domain Sockets between Agent GRPC and Forward and Reverse Proxies"
### Specification

The UDS is a fully local socket implementation now available on all POSIX systems and Windows 10.

It may be a more secure alternative to using TCP sockets between the Agent GRPC and the Forward and Reverse proxies. It certainly reduces the number of TCP ports we are occupying.

GRPC seems to be able to connect or listen on UDS. And Node http/net can also listen/connect on UDS.

[2021-08-30 09:19] CMCDragonkai opened #234 "Using QUIC/HTTP3 to replace utp-native for the Data Transfer Layer in the networking domain"
### Specification

We can separate the networking to 3 layers:

* P2P application layer - e.g. kademlia, automerge, nodes domain
* RPC layer - e.g. grpc (and once considered jsonrpc but it's too late now)
* Data Transfer layer - UTP, Wireguard, QUIC

The Data Transfer Layer is particularly special since it is the lowest part of our stack and is always fundamentally built on top of UDP. These are i

[2021-08-31 00:46] tegefaulkes commented on #229
I'm moving this over to QA since the implementation is done.

[2021-08-31 00:57] tegefaulkes commented on #200
Fixes to #230 has removed the need to provide metadata and call options for most calls now. This has become low priority now. Moving it back to `ToDo`

[2021-08-31 01:31] tegefaulkes commented on #230
Fixed all the GRPC calls by removing the call Credentials and metadata where relevant. All tests are passing, linted and checked that it builds. Unless I'm missing anything this issue should be done.

Refer to this commit for the changes. 70bdcfb1c2204b02bd85393b02ceebe2c3ac5b2f, d977f6a22f8bd71f3a6910189024cbe4202cc6c5

This will be done when https://gitlab.com/MatrixAI/Engineering/Polykey/js-pol

[2021-08-31 05:35] CMCDragonkai opened #235 "GRPC Web Proxy to enable Browser Integration and Eliminate Electron IPC"
### Specification

We can separate the networking to 3 layers:

* P2P application layer - e.g. kademlia, automerge, nodes domain
* **RPC layer - e.g. grpc (and once considered jsonrpc but it's too late now)**
* Data Transfer layer - UTP, Wireguard, QUIC

The RPC layer is what enables us to have rich communication protocols for:

* Unary
* Client Streaming, Server Streaming and Duplex Streaming

At

[2021-08-31 05:36] CMCDragonkai commented on #235
Once we can generate grpc-web stubs and have an in-process proxy. This means the grpc-web stubs should also be exported by js-polykey library to be usable.

[2021-08-31 10:10] CMCDragonkai commented on #230
Awesome.

Although in the future, make sure to plan out the tasks before hand in the issue before starting on it.

[2021-09-01 04:55] tegefaulkes commented on #218
Protobuf definitions have been updated in MR https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/210.

Protobuf definitions have been updated to follow the following standard.
- Serivce and message names are `UpperCamelCase` and message fields are now `snake_case`. So cases where a field was `nodeId`->`node_id`, this results in the message getters and setters having correct

[2021-09-01 07:50] tegefaulkes opened #236 "Ensure Session token remains safe with multiple processes."
An MR has been created for this issue here: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/212

### Specification
The Session `Session.writeToken` in `src/sessions/Session.ts:116` makes use of `proper-lockfile`. However we need to create a test to make sure this functions properly when multiple processes are attempting to update the token file.

The `proper-lockfile` l

[2021-09-01 07:55] tegefaulkes commented on #236
Refer to https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/210#note_664718851 for some context.

[2021-09-01 11:40] CMCDragonkai commented on #190
First library to trial out here is automerge. Especially the issue here regarding persistence: https://github.com/automerge/automerge/issues/331.

Remember our state is actually persistent, it's not just an in-memory dictionary, so it looks like we will need to hook into our DB changes or at a higher level.

Note that I don't believe automerge is a form of gossiping. It's a point to point CRDT. So

[2021-09-01 13:31] CMCDragonkai commented on #190
All the vaults in all the nodes in the same gestalt should be "scannable". That is if nodes are in the same gestalt, then it should be possible to pull vaults from any node.

Scannability means discoverability. Right now one has to interrogate a particular node to know what vaults they have.

Unlike DHT key-values, the vaults are not stored via hash key that balances them among all the nodes. Inst

[2021-09-02 04:25] CMCDragonkai commented on #172
The challenge of concurrent edits to the vault needs to be considered.

If there are multiple CLI calls or GUI calls or GRPC calls to the same vault, and they are editing different files, the commits should be tracked against the files being edited and we also need to consider globbing here. Then the commits can be serialised one at a time.

We need to ensure that isogit actually properly locks wh

[2021-09-02 06:41] CMCDragonkai opened #237 "Pagination Deployment to Service Handlers and CLI Commands and Domain Collections"
### Specification

Pagination is the process by which a client program can acquire a subset of data from a larger stream of data.

Polykey maintains potentially large streams of data:

* Vaults
* Sigchain
* Nodes Database
* Gestalts

Atm, all of this data is either returned in 1 unary call which returns an in-memory deserialised array of data, or it is returned with a stream. This creates a proble

[2021-09-02 09:35] CMCDragonkai commented on #229
Done now. But the session token stuff requires a wiki diagrams and us to work out the exact behaviour.

[2021-09-02 09:35] #229 closed, assigned to tegefaulkes, DrFacepalm

[2021-09-02 09:35] #230 closed, assigned to tegefaulkes, DrFacepalm

[2021-09-02 09:36] CMCDragonkai commented on #230
Done now.

[2021-09-02 09:36] CMCDragonkai commented on #218
This is done now @emmacasolin @joshuakarp please rebase your nodes CLI MR once you start it.

@scottmmorris since @tegefaulkes is working with you on the EFS and vaults, then it's also time to rebase the vaults refactoring.

[2021-09-02 09:36] #218 closed, assigned to tegefaulkes, DrFacepalm

[2021-09-02 09:36] CMCDragonkai commented on #218
Important to keep this standard as we move forward!

[2021-09-03 01:51] tegefaulkes opened #238 "Agent spawning tests require refactoring."
### Specification
The following tests need to reviewed and refactored.
- tests/bin/agent.test.ts > Starting the agent in the foreground > should start the agent and clean up the lockfile when a kill signal is received
- tests/bin/agent.test.ts > Starting the agent in the background > should start the agent and clean up the lockfile when a kill signal is received
- tests/agent/utils.test.ts > spawn

[2021-09-03 05:26] CMCDragonkai commented on #188
There are several situations where you are using leveldb to store a stream of things key to value. While the main key is the primary way of looking up an entry, you may also want to look the entry up via other fields. This is basically DB indexing.

I've gotten around this right now by creating additional sublevels, and just duplicating those keys. See things like the ACL database where I did it w

[2021-09-03 06:13] CMCDragonkai commented on #155
One note about WASM. There are 2 well supported runtimes for WASM:

* wasm3 - supports interpretation
* wasmer - supports JIT and AOT compilation

So that does mean wasmer can compile WASM code to native code. But wasm3 is for interpretation. Why use interpetation?

It appears that in some cases interpretation can be more widely deployed. There are examples of iOS apps using wasm3. https://github.

[2021-09-03 09:29] CMCDragonkai commented on #237
When working on pagination in Prism we discovered one UI/UX issue.

With cursor pagination `direction` is essential for being able to "go back" in pages. If the pagination only allows going forward in pages, that's fine, but that usually is not the full functionality expected for user interfaces. Once you have the `seek` key, if you want to paginate backwards, it can only be done if `direction` is

[2021-09-06 06:31] CMCDragonkai opened #240 "Automatically Retry the CLI Command upon Session Unlocking"
### Specification

MR: https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/213

When a user executes a CLI command without having been authenticated previously the command sent to the agent will be rejected as "unauthorised". Instead of throwing an exception here, we can prompt the user for the root password in order to authenticate the client. Provided we know that the use

[2021-09-07 11:43] CMCDragonkai commented on #220
Expanding on this with regards to EFS:

There are 2 major constraints:

* In EFS, the external API has to support Node Buffers in order to satisfy the FS interface.
* When using `Transfer` on a raw `ArrayBuffer` this transfers the ownership of the buffer to the separate thread and it cannot be used anywhere else in the origin thread. This behaviour is not consistent with how buffers are expected t

[2021-09-07 13:22] CMCDragonkai commented on #166
Related to MatrixAI/Polykey#235 in having a GRPC-web gateway, there are also projects that enable a GRPC-gateway to HTTP Restful API.

* https://github.com/grpc-ecosystem/grpc-gateway - This will not work for Node.js only go-lang projects
* https://github.com/konsumer/grpc-dynamic-gateway - This converts to a JSON HTTP API
* https://github.com/single9/node-grpc-graphql-server - This converts to a

[2021-09-08 01:37] CMCDragonkai commented on #194
To solve this issue, we're going to have to deploy a test-net for the PK network. We can use the nixpkgs development style. The `master` branch represents the currently development PK. Whereas a `release` branch can be used staging into production.

The `master` branch can have CI/CD continuously deploy it to the test net. So whatever is the current master branch is also in released to the testnet

[2021-09-08 01:39] CMCDragonkai commented on #194
The testnet will require its own domain:

[code]

This should allow us to maintain an incremental working system, and invite others to join in testing on the testnet.

[2021-09-08 02:19] CMCDragonkai commented on #213
Due to intermediate resources being created for this interaction between 2 agents to sign each node. We will need deadline to each interaction step.

To simplify, you can have a single deadline for the entire interaction from step 2 onwards.

[code]

Both X and Y would need a deadline starting from step 2.

To implement a deadline, there are 2 ways:

1. Using the underlying GRPC deadline functiona

[2021-09-08 03:35] CMCDragonkai commented on #194
The `master` branch should be auto deployed to a testnet. A separate branch will be made for production deployment.

This gives a few advantages:

1. Most PRs a new devs will assume that feature requests get merged to master. Doesn't require much explanation.
2. Shows development activity front and center, and for people looking at GitHub which are devs, they will probably want to use the testnet.

[2021-09-08 04:44] CMCDragonkai commented on #194
We can reuse the terminology from blockchains and use:

[code]

I like this as this captures the intent and intuition of P2P and blockchain devs.

[2021-09-14 05:30] CMCDragonkai opened #241 "Fix Promise Conventions"
I noticed that sometimes new developers make use of promises incorrectly. Sometimes even I forget an `await` and there is a dangling asynchronous operation here. I think these problems should be caught automatically by a linting system.

I've found 3 rules that can help in some cases:

* https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/return-awa

[2021-09-14 14:48] CMCDragonkai commented on #220
This is now being done in `js-workers`. This will then be usable by both EFS and PK.

[2021-09-15 03:07] CMCDragonkai commented on #209
I've found that you can use benny under ts-node or node, the performance figures don't change. Using `ts-node` which has to compile the typescript first does impose an initial overhead time cost, however there is no impact to the output operations.

It's possible to save a JSON output and a chart.html comparing different operations.

For this to be useful, one has to create a set of of operations,

[2021-09-15 07:06] CMCDragonkai commented on #220
The `@matrixai/workers` package is now capable of doing the above. All examples have been worked out in that repository, we also have benchmarks there to address #209. However these issues are not finished until this is integrated into both EFS and PK.

So first to integrate it into EFS first, then similar benchmarking procedures can be applied there too @tegefaulkes @scottmmorris. The `benches` d

[2021-09-15 07:08] CMCDragonkai commented on #209
This is all done in `js-workers` which shows a template for benchmarking in https://github.com/MatrixAI/js-workers/pull/1.

Will apply this idea to EFS first.

[2021-09-15 07:25] CMCDragonkai commented on #220
* I'm using ES2020 to match the outputs we expect to use in EFS and PK.
* The EFS `workers/`will only have `efsWorker.ts` and `efsWorkerModule.ts`, the other things are all supplied by `@matrixai/workers`. The `efsWorker.ts` is still the script we are using.
* The `efsWorkerModule.ts` doesn't have to inherit from anything from `@matrixai/workers` or even extend the upstream `workerModule`, those f

[2021-09-15 07:56] CMCDragonkai commented on #220
In EFS, we have an opportunity to try and get the encryption and decryption utilities to operate on `ArrayBuffer` instead of Node Buffers. It's still using node-forge for now.

[2021-09-15 08:05] CMCDragonkai commented on #220
The forge library currently has a couple different types in use:

* binary strings
* `forgeUtil.createBuffer` creates `ByteBuffer` from some binary string
* `ByteBuffer` is just an alias for `ByteStringBuffer` - there's a todo for it to match the `DataBuffer` API
* `DataBuffer` is an experimental `ArrayBuffer` backed construct - it still says it's experiment, do not use

Right now we have been usi

[2021-09-15 11:19] CMCDragonkai commented on #220
One problem I realised is that LevelDB doesn't seem to have any support for `ArrayBuffer`. There were some old discussions about support here https://github.com/Level/abstract-leveldown/issues/2. But this means loading from NodeJS is still going to be a `Buffer`, so there will be at very least a copy occurring when doing `efsDecryptWithKey` cause you have to slice copy that into the ArrayBuffer be

[2021-09-15 12:39] CMCDragonkai commented on #220
Ok I've tried this now with node-forge. There's no point in trying to make the encryption/decryption use ArrayBuffer.

1. The `ByteStringBuffer` performs a copy/serialisation to string form internally even with `ArrayBuffer`. There's a TODO to make it support native buffers, but that is not available, and `DataBuffer` is experimental and the types don't match, and it's also not exported by the lat

[2021-09-15 12:44] CMCDragonkai commented on #220
Note that the `TextEncoder` and `TextDecoder` trick doesn't work with binary strings that node-forge uses too.

[2021-09-15 14:49] CMCDragonkai commented on #220
1. Abstracted Workers to share Worker code for PK & EFS
2. Supports the core count setting, which speeds up tests, because you don't need to create massive worker pools
   * one test when from 1000ms to 600ms from 8 cores to 1 core
   * this reduces the need to share worker pools thus reducing the possibility of interference errors
3. Supports worker factories, where the worker scripts can be defi

[2021-09-15 14:49] CMCDragonkai commented on #209
Related to EFS:

1. The block size, larger block sizes are going to gain more encryption/decryption performance when used with worker manager
2. The concurrent number of operations, the more operations there are, the more likely the worker pool is engaged, and the overhead of call and setting up of the pool will be worth it.
3. The batch operation should be encrypting all blocks in parallel rather

[2021-09-15 14:57] CMCDragonkai commented on #220
@tegefaulkes note that with new js-workers, the cores should be set 1 in PK testing.

[2021-09-16 04:55] CMCDragonkai commented on #209
Latest benchmarks from js-workers:

![image](https://user-images.githubusercontent.com/640797/133551654-2f35eb45-79c6-4982-9bdc-765c90193883.png)

This shows that the usage of `Transfer` is equivalent to any normal call to the worker threads. This is a good sign.

Also note the speed of slice copying 1 MiB of data. The default buffer pool size is 8192 or 8 KiB. So a 1 MiB Buffer's ArrayBuffer is e

[2021-09-16 05:01] CMCDragonkai commented on #209
Looks like the primary overhead isn't the copying of data. But the sending and receiving or signalling to the worker threads.

[2021-09-16 07:21] CMCDragonkai commented on #209
![image](https://user-images.githubusercontent.com/640797/133567797-53442f8e-ae2f-462c-b24d-ae78369c6747.png)

![image](https://user-images.githubusercontent.com/640797/133567811-13d95d1b-85f5-48a9-bd27-005c533bed5a.png)

![image](https://user-images.githubusercontent.com/640797/133567826-d1f4fcbd-51ce-41a1-b796-f7d51c04246c.png)

![image](https://user-images.githubusercontent.com/640797/133567843

[2021-09-16 07:24] CMCDragonkai commented on #209
It would seem setting and unsetting the `WorkerManager` would be a matter of whether there are lots of concurrent requests. That is lots of "load" on the EFS. That would mean that one should dynamically set/unset the `WorkerManager` depending on how many concurrent requests there are in the EFS. One can imagine a sort of watermark that gets used before the `WorkerManager` is engaged. Alternatively

[2021-09-16 07:26] CMCDragonkai commented on #209
Load testing in EFS is bit different from benchmarking tools. Since that's about running a single command and testing how long it takes to run it. Load testing is meant to dynamically generate load starting from low load to high load. There are some load testing tools like artillery but they are not small tools, they are bigger suites.

One quick and dirty way is to create a benchmark test that bl

[2021-09-16 07:29] CMCDragonkai commented on #220
I might move DB out to `@matrixai/db` so that both can use the same DB. But some features aren't yet used by PK like the transactions.

[2021-09-16 10:44] CMCDragonkai commented on #220
Doing it here. https://github.com/MatrixAI/js-db Once this is done... all pieces should be ready to integrate into EFS and also PK. The new transaction features are available for PK to use as well. The new DB allows direct entry of buffers as the key, this should speed up any usage of lexicographic-integer as keys instead of having to serialise them as strings. Further as it supports the `raw` par

[2021-09-16 12:21] CMCDragonkai commented on #220
The js-db would have to take a "crypto" interface, and expect EFS and PK to supply those functions as perhaps callbacks. An encryption and decryption function. Right now it would have to work with Node `Buffer`, but later perhaps support the `ArrayBuffer` instead.

[2021-09-17 02:55] CMCDragonkai commented on #209
![image](https://user-images.githubusercontent.com/640797/133716491-a32b5581-52e3-4d6a-88ed-52852195e96e.png)

I had a great idea from yesterday's benchmark. After some simulations, we found out that, with 1.5 ms overhead per worker call, a simple test showed that to be worth parallelising, your task needs to take longer than 1.5 ms. Otherwise it's better to just do the work in the main thread and

[2021-09-17 05:55] CMCDragonkai commented on #220
One problem with abstracting the encryption/decryption, is that we now have this sort of interface:

[code]

I chose `ArrayBuffer` in order to future proof it for webcrypto and to enable it for `Transfer` that is used in threadsjs.

This new type works for both `WorkerManager` and for submitting as a crypto utility object.

However I realised that webcrypto always makes this asynchronous... so the

[2021-09-17 05:58] CMCDragonkai commented on #220
It is easy to wrap sync code as async code. You just wrap it in `Promise.resolve()` but not easy to wrap async code as sync code... it requires a sleep and worker thread which is way too much infrastructure in Nodejs.

[2021-09-17 06:49] CMCDragonkai commented on #220
Something very important:

* All Node Buffer are `ArrayBuffer`
* `ArrayBuffer` are not `Buffer`

So you can pass a Node Buffer wherever that expects an `ArrayBuffer`.

But to make an `ArrayBuffer` a `Buffer` it's easy by `Buffer.from(ab)`.

[2021-09-17 06:56] CMCDragonkai commented on #220
The `@matrixai/db` won't be depending on any crypto functionality. The expectation is that EFS and PK would be supplying these utilities.

In doing so, the crypto functionality is now optional for DB. If it is not passed in, the data won't be encrypted.

However because we want to do some tests of this form, I'm going to be adding example workers and example crypto into the tests code supported by

[2021-09-17 11:29] CMCDragonkai commented on #220
The `@matrixai/db` is now released: https://www.npmjs.com/package/@matrixai/db

[2021-09-17 11:30] CMCDragonkai commented on #220
Now integrating it into EFS.

[2021-09-20 03:05] CMCDragonkai commented on #177
So no both `bootstrap` nor `seed`.

The `mainnet` and `testnet` is more explanatory.

[2021-09-20 07:06] CMCDragonkai commented on #220
This is done in EFS. And with https://github.com/MatrixAI/js-encryptedfs/issues/47 closed and this being done in https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/205. Then this issue should be closed for now. As there's nothing further to do here.

[2021-09-20 07:06] #220 closed, assigned to CMCDragonkai, scottmmorris

[2021-09-20 07:16] CMCDragonkai commented on #209
I would say we're done for this issue. Since we know our results for cryptography and DB usage. I've created a more direct issue for benchmarking to be applied to EFS directly here https://github.com/MatrixAI/js-encryptedfs/issues/50, and that will result in optimal blocksizes.

So for now going to close this, as any further benchmarks can be applied to PK as procedures and have to be done in acco

[2021-09-20 07:16] #209 closed, assigned to CMCDragonkai, scottmmorris

[2021-09-20 07:26] joshuakarp commented on #213
Deadlines will be implemented in a later MR.

[2021-09-20 07:26] joshuakarp commented on #213
MR has been merged https://gitlab.com/MatrixAI/Engineering/Polykey/js-polykey/-/merge_requests/209. Closing issue.

[2021-09-20 07:26] #213 closed, assigned to joshuakarp, emmacasolin

[2021-09-20 07:30] CMCDragonkai commented on #213
@joshuakarp remember if there are new issues that came of out that implementation, you should list them out there too (and cross link under additional context).

[2021-09-21 00:58] joshuakarp opened #242 "Add extra testing for nodes claims process"
### Specification

Currently, there only exists a success test (for both client-side and server-side) and a couple of exception tests (for the server-side, in `GRPCClientAgent.test.ts`). Ideally, this should be extended for all possible exceptions on the server-side, and any other potential problems that can arise during this process. (This was originally omitted due to time constraints - it's sli

[2021-09-21 01:32] joshuakarp opened #243 "Apply `timedCancellable` to `Sigchain` such as the deadline in nodes claim process"
### Specification

From original node claims issue: https://github.com/MatrixAI/js-polykey/issues/213#issuecomment-914837190

This work should be extended into other relevant gRPC calls too.

### Additional context

* there's some good discussion and explanation by Roger of his timeout construct from a call we had a little while ago: https://vimeo.com/manage/videos/599995567 see around 13:00

###

[2021-09-21 02:05] joshuakarp opened #244 "Support read-after-write consistency for `NodeGraph` bucket operations"
### Specification

There's currently an issue of "read-after-write" consistency with sequences of batch operations in the `NodeGraph` buckets database, as `setNode` operations rely on the state of the bucket on insertion.

This problem can be solved by utilising the same system in js-encryptedfs. We'd need to use:
* separate sublevels for each individual bucket index
* `Transaction` snapshot syste

[2021-09-21 02:06] joshuakarp commented on #213
Further issues stemming from this MR have been created:
* adding extra testing for the nodes claims process (and investigating the possibility of server-side mocking to test the client-side) #242
* incorporating deadlines for the nodes claims process (this should also be extended into other domains that use gRPC too) #243
* fixing `NodeGraph` batch operations by supporting read-after-write consist

[2021-09-21 03:50] CMCDragonkai commented on #244
Because the new db being integrated into PK, you should probably
incorporate this into the vaults refactoring MR.

On 9/21/21 12:05 PM, Josh wrote:

[2021-09-23 03:02] CMCDragonkai commented on #174
For AWS Secrets Manager, an example of non-plugin push integration would be scripting `pk` with the `aws` CLI. https://docs.aws.amazon.com/cli/latest/reference/secretsmanager/index.html#cli-aws-secretsmanager

Also see the difference between parameter store and secrets manager here: https://www.1strategy.com/blog/2019/02/28/aws-parameter-store-vs-aws-secrets-manager/

Any work on AWS should be app

[2021-09-23 03:06] CMCDragonkai commented on #174
To avoid the cost of writing push-based plugins, one can provide recipes for scripts that automate the usage of `pk` and third party CLI applications.

Writing plugins that use PK's API and AWS's (or any external) API is lot more difficult compared to just scripting usage of the CLI commands in a shell context. API integrations are likely to be more performant and more flexible, but they are likel

[2021-09-23 04:32] CMCDragonkai opened #426 "Polykey naming and repository structure"
Move to new repo structure:

Polykey
 - js-polykey renames to Polykey
 - keeps all issues in js-polykey
 - license: GPL3 (possible move to APL3)
 - npm: polykey
 - not hosted on nix (it's not an application)
 - supports network API
 - embeddable as a library
 - bin/ code is extracted to Polykey-CLI
 - maintains wiki: theory, reference, guides, tutorials
 - maintains community discussions
 - main R

[2021-09-23 04:36] CMCDragonkai commented on #426
I noticed alot of wiki assets were stored in the repo in order to do MatrixAI/Polykey-Docs#5. @emmacasolin

Those assets are better off being embedded into the wiki repo itself rather than the code repo.

Instructions to do this are here: https://gist.github.com/TT--/14260aef6c0e31fca5b37e7cb3c53020 and https://gist.github.com/subfuzion/0d3f19c4f780a7d75ba2

I've done this before... so I will need

[2021-09-26 04:49] CMCDragonkai commented on #188
The implementation of secondary indexing at `@matrixai/db` level can automate this. The relevant issue is here: https://github.com/MatrixAI/js-db/issues/1

This issue can be kept as separate issue representing the integration work of secondary indexing into:

* acl - perm id, vault id, node id
* gestalts - discovery, adjacency list indexing
* nodes - possibly needed in the future for all sorts of

[2021-09-26 04:55] CMCDragonkai commented on #188
This will lead to #197.

[2021-09-27 01:59] CMCDragonkai commented on #236
The primary thing to understand here is that the multi-process situation here is about the PK client, no the PK agent.

We have a client-server architecture now between clients and agents.

Every single CLI call `pk ...` is a separate execution of the PK client process.

This means there are going to be multiple PK client processes running simultaneously.

The PK GUI is also a PK client, it's just

[2021-09-27 02:00] CMCDragonkai commented on #236
A diagram should be made for this and ported to the sessions wiki that shows the component of multiple clients, a single agent, and the usage of a common session key stored at the HOME directory or client state directory that is being used to authenticate.

A second component diagram can be used to represent a multi-step process (similar to a sequence diagram) but with labelled ordinal arrows.

[2021-09-27 02:21] CMCDragonkai commented on #236
This should illustrate the entire architecture.

![image](https://user-images.githubusercontent.com/640797/134836602-edc1ac84-f05b-4fd3-9392-b44ff80cc983.png)

In addition to this, one should use the same diagram, but illustrate a labelled ordinal actions.

I have to redo the diagram cause asciiflow broke.. so the above is a snapshot.

The labelled ordinal action diagram is actually a "top-down" s

[2021-09-27 02:33] CMCDragonkai commented on #236
Because each `Session` shares the `~/.polykey/client/token`, they need to use a lock to coordinate access. This lock is primarily intended for when the token is updated.

The token is updated on every single call. The PK agent returns a new valid token to be used.

In our case, we expect that any call holds a lock to the token, and if another process discovers that the lock is held, it simply drop

[2021-09-27 02:35] CMCDragonkai commented on #236
This issue is independent of #240, however this should be done first as it in relation to correctness of our system.

And #240 is an enhancement of the UX of using the CLI/GUI.

[2021-09-27 04:03] CMCDragonkai commented on #236
Diagram fixed up and with extra details.

[code]

[2021-09-27 04:09] CMCDragonkai commented on #236
The https://github.com/mafintosh/fd-lock library is a much simpler locking library. Since the concurrency management only requires you to check if the lock is in fact locked and not have to wait/block for the lock to be unlocked, then it can be a much simpler library to use instead of proper-lockfile. BTW I don't think proper-lockfile uses fd-lock.

The proper-lockfile is much older, bigger attack

[2021-09-28 06:20] CMCDragonkai commented on #189
Backchannel system has a section on linking and unlinking: https://www.inkandswitch.com/backchannel/#linking-multiple-devices

Their linking makes use of a shared secret. Not really relevant to us, except for when we generate QR codes, or other ways to allow users to establish a secure connection.

But the unlinking idea is interesting and should be considered for this feature.

[2021-09-28 06:21] CMCDragonkai commented on #190
Backchannel system uses Automerge/CRDT to synchronise this metadata: https://www.inkandswitch.com/backchannel/#linking-multiple-devices.

Because we are doing more than 1 to 1 synchronisation, I believe we would need to combine CRDTs with gossip protocol to spread that information across the gestalt.