[2018-05-03 02:27] CMCDragonkai commented on #1
Done

[2018-05-03 02:28] CMCDragonkai commented on #2
Need to generate signing key for Formbay, so do this afterwards anyway.

[2018-06-13 12:41] CMCDragonkai opened #1 "Experiments with node-tar to use js-virtualfs and random access"
The node-tar is the best tar library in the Node ecosystem.

However it was designed with 3 things:

1. Asynchronous IO
2. Streaming interface
3. Interacting with a real fs
4. Compatibility with loads of tar options.

Since the tar archives that we are manipulating in-memory, we do not need async IO, we don't need streaming since all creation and extraction will be synchronous (even though real ta

[2018-06-13 12:59] CMCDragonkai commented on #1
If the top-level key node is an encrypted tar archive. This means on every mutation to the secrets, you have to pack everything up via tar serialisation and encrypt it again. This can be quite slow.

[2018-06-13 13:06] CMCDragonkai commented on #1
Further problem is that you cannot efficiently splice into a file of different lengths. This would mean every change involves reserialising the entire key node if it is a single tar archive.

It doesn't seem that tar archives are a good medum for maintaining secrets and being able to perform random access and random updates. Instead a directory structure makes more sense. However the encryption be

[2018-06-13 13:13] CMCDragonkai commented on #1
How often do secrets change? It is far more likely that secrets are being read and shared then they are being changed. So it's ok if we have slightly more expensive writes than reads. Still using tar archives any kind of write to become a global serialisation of the entire key node and that's pretty bad.

One way to get around this is that the top level key node is not a tar archive (which means i

[2018-06-13 13:14] CMCDragonkai commented on #1
If we discard the tar concept, we lose a bit. But the main idea is that each secret repository is engaged in voluntary state replication with other keynode peers.

[2018-06-13 13:15] CMCDragonkai commented on #1
That would mean you stop using git as the medium of replication, and instead use something like: https://github.com/mafintosh/hyperdrive Not sure how that will interact with encryption however.

https://github.com/mafintosh/hyperdrive/issues/190

However we lose git version control if we use this. The best way is to either build something that combines version control and p2p state replication aut

[2018-06-14 11:15] CMCDragonkai commented on #1
The direction right now will be to have unencrypted directory for a keynode. And within this directory will be secret repositories.

Each secret repository is an encrypted tar archive. They will be decrypted into memory and unpacked for mutation. Before saving a secret repository onto disk. The contents will be created as a virtual tar archive, encrypted in memory, content hashed with a sha256sum

[2018-07-03 11:26] CMCDragonkai commented on #1
We are no longer using node-tar, instead we are using tar-stream, it's far more conducive to in-memory manipulation.

Since we changed from a global encrypted tar archive to a keynode directory, random access isn't needed as much. Also the main issue is that as we make changes to a secret repository, in order to persist those changes, they must be "reserialised" back into the disk. Reserialising a

[2018-07-03 11:26] CMCDragonkai opened #2 "Investigations into a Random Read and Random Write State Substrate for Keynodes"
Ideally we would want to be able to change secrets (that is write more secrets to a secret repo, remove secrets from a secret repo, or even change the size of a secret file) randomly without doing linear operations like re-encryption and re-serialisation of archive formats. This may even help secret sharing to be more efficient in the future.

* https://en.wikipedia.org/wiki/Disk_encryption_theory

[2018-07-03 11:30] CMCDragonkai commented on #2
Consider existing secret database tech like sqlite.

[2018-07-03 11:30] CMCDragonkai commented on #1
Tracking the secret substrate: https://github.com/MatrixAI/js-polykey/issues/2

[2018-07-03 11:30] #1 closed, assigned to nobody

[2018-07-03 11:37] CMCDragonkai commented on #2
http://www.ciphersbyritter.com/NEWS4/ECBMODE.HTM

[2018-09-12 10:01] CMCDragonkai opened #3 "Spec out the API for js-polykey"
We need to spec out the function types for js-polykey and the data structures that we are managing.

I've written notes on this in the Polykey repository, but they are all over the place and involve some older ideas. Hopefully @ll-aashwin-ll can clean them up and a better spec.

https://github.com/MatrixAI/PolyKey

See README.md, README2.md... etc.

We can discuss the spec here and eventually writ

[2018-09-12 11:43] CMCDragonkai opened #4 "Secret Vault Schema"
Secret bundles (or whatever we shall call them), are just basically a basic filesystem. But to ensure we can have structured access, a schema must be applied to them.

Why would we want structured access? Well the fact that it is a filesystem and not just some binary blob already imposes some structure. The structure of files, directories, symlinks, hardlinks, permissions... etc. Actually we want

[2018-09-12 12:03] CMCDragonkai commented on #4
Also we don't want to go down the path of WinFS. Best to keep it simple! Auto deriving interfaces sound great. But a filesystem where we expect most things to be text would be good enough as well.

[2018-09-18 06:16] CMCDragonkai commented on #6
This appears to give us a way to standardise with freedesktop standards: https://lwn.net/Articles/490518/ @ll-aashwin-ll can you have a look to see if this model would help you develop the spec for the UI side of Polykey?

[2018-09-24 12:23] MeanMangosteen opened #5 "Redundant events in commit messages"
As of now, the logs of commit messages are formed with the granularity of filesystem level changes. That is, Polykey logs any events deemed a change of state according to the filesystem, e.g. creation, modification, removal of a file...

But consider the case where a file: `foo.txt` contains the text:
[code]
You can open this file and make no modifications and write the file again; or delete the e

[2018-09-26 10:30] MeanMangosteen opened #6 "Git alternatives - propagating changes"
We are currently going to use git to propagate changes and version control our secret bundles. The main reasons for this is that it more or less suits our needs and it is well understood system. It will also aid building  a prototype quicker. Below is a discussion of possible version control/ propagation styles and some reasoning why Git appears to be the most appropriate solution for Polykey. In

[2018-09-27 03:09] CMCDragonkai commented on #2
These 2 projects use FUSE to mediate between a filesystem in userspace and encrypted backend on disk somewhere. FUSE is interesting because we can offer a standard FS interface to consumers of Polykey secrets. But to be really secure you would have to either use mount namespaces or file descriptors as capabilities to allow specific processes to access secrets.

* https://nuetzlich.net/gocryptfs/co

[2018-09-28 00:01] CMCDragonkai commented on #3
Hey @ll-aashwin-ll can you post a few summary what you learned regarding Dat HyperDrive/HyperCore here? Last I remember there was some research on the merkle tree. Is there any application to Polykey?

[2018-10-02 08:29] MeanMangosteen opened #7 "Persistence of secret vaults"
Secret bundles will the unit of transfer in Polykey. One property of secret is that they are encrypted at rest. This is due to the fact they are containers of secrets and responsible for providing security for the secrets.

As of now secret bundle persistence will be implemented by naively serialising the secret bundle (using tar) and then encrypting it using the PGP standard.

One pitfall of this

[2018-10-02 09:33] MeanMangosteen commented on #7
Libraries used for creating archives with node:
https://github.com/archiverjs/node-archiver
https://github.com/mafintosh/tar-stream

The latter, as the name, suggests, is a tar stream which means we can pack and unpack tar files without using the file system. Since polykey uses an in memory file system anyway, I can't see a benefit of using this.

[2018-10-02 10:52] CMCDragonkai commented on #7
I had started on figuring out how to integrate an archive system into Polykey a while back using: https://github.com/MatrixAI/js-virtualtar

However in this process, I realise that this is the wrong model. The tar system is just not flexible enough to deal with "insertions" and "deletions" in the middle. This can happen if we are changing the value of a "key" to a different length.

That's why we

[2018-10-02 10:57] CMCDragonkai commented on #3
@ll-aashwin-ll

I think this may be related to the persistence issue of Polykey, even though Dat would be using a native C++ extension that we cannot use in our portability requirements, maybe there's something to learn there.

[2018-10-02 11:31] MeanMangosteen commented on #7
[js-virtualtar](https://github.com/MatrixAI/js-virtualtar) allows indexing (random access) allows still suffers the problem of reserialising the entire entity on any change within the vfs. So we need a way to persist the vfs to desk, and only flush the chunks that changes were applied to. A memory mapped file could allow this--whatever changes we make to the in memory array structure will eventual

[2018-10-02 11:37] MeanMangosteen commented on #7
#2 Merging into one issue.

From @CMCDragonkai
Ideally we would want to be able to change secrets (that is write more secrets to a secret repo, remove secrets from a secret repo, or even change the size of a secret file) randomly without doing linear operations like re-encryption and re-serialisation of archive formats. This may even help secret sharing to be more efficient in the future.

- https

[2018-10-02 11:37] MeanMangosteen commented on #2
#7 Merged into this issue.

[2018-10-02 11:37] #2 closed, assigned to MeanMangosteen

[2018-10-02 12:03] MeanMangosteen opened #8 "Vault sharing via Git"
We want to harness git's abilities to push and pull repositories (i.e. secret bundles). We will only want to implement a pull based model for now. But want to ensure the the keynode pull the repository has is authenticated to access that secret bundle. This can be implementing using PGP. The node that owns the keynode can encrypt the bundle with requesting node's pub key and the node pulling the b

[2018-10-02 12:09] MeanMangosteen commented on #8
A secret bundle can be encrypted with multiple keys at rest. That is, a bundle will be encrypted with the key of every node that bundle it shared with. We also need to look at how send the encrypted bundle in transit. Look into how git implements transmission of repos. Look and at TLS encryption which is used more often for data in transit.

[2018-10-02 12:10] MeanMangosteen commented on #8
There also needs to be a sort of a handshake when pulling a bundle, the puller needs to prove to owner of the bundle that it has a private key that is able to decrypt the bundle, so it can send a signed message.

[2018-10-03 11:28] CMCDragonkai commented on #7
BaseX is a XML database https://github.com/BaseXdb/basex/blob/master/basex-core/src/main/java/org/basex/data/DiskData.java

This means basex basically manages synchronisation from a "tree-like" representation on the client side and is able to make changes to that tree and persist those changes to disk.

I played around with the database before, and I think it sort of had not great performance with

[2018-10-08 08:49] MeanMangosteen commented on #7
One way to address to achieve encryption at rest is to use [Stacked filesystem encryption]https://wiki.archlinux.org/index.php/disk_encryption#Stacked_filesystem_encryption) this would work by mounting the native host fs to a second pseudo-fs (vfs) which would be responsible for [en|de]cryption of secrets (to be confirmed).

Implemenations of stacked fs:
[encryptfs](https://wiki.archlinux.org/inde

[2018-10-12 09:49] MeanMangosteen commented on #7
Previously it was mentioned that we can create a memory mapped file to represent the file system that is the secret bundle. After investigating into ecryptfs and encfs, having an openly visible directory structure is also a viable solution. Both systems utilise the underlying filesystem to maps the contents of an unencrypted directory (known as the upper directory) encrypts it and stores it to a d

[2018-10-12 10:48] CMCDragonkai commented on #7
Whether chunks are encrypted/decrypted vs whether a file is encrypted/decrypted as a unit depends on whether they are using stream encryption/decryption. Doing this should allow some extent of random access within a file. If not, that adds complications to when you create a file descriptor to a file, and write chunks to that file descriptor, does the system buffer up these chunks before fully encr

[2018-10-12 10:57] CMCDragonkai commented on #7
Note that in order to use ecryptfs on NixOS. You need to use `security.pam.enableEcryptfs = true;` in configuration.nix. You then need to activate the kernel module using `modprobe ecryptfs` or you can specify it in the configuration.nix as well. Then you need the `ecryptfs` package: `nix-env -i ecryptfs`. Then you run:

[code]

To remove everything delete `~/.ecryptfs`, `~/Private`, `~/.Private`.

[2018-10-12 11:10] CMCDragonkai commented on #7
Note that if we are intending to write our own block store, we should be able to build on top of library-databases like leveldb, rocksdb or lmdb... etc. Either that or we piggy back off IPFS block service and their repo spec: https://github.com/ipfs/js-ipfs-block-service Might need to dive into FUSE to learn more about this. I think should be split off into a separate issue however and be somethin

[2018-10-21 06:05] CMCDragonkai opened #9 "Synchronous vs Asynchronous API"
The JS that we write can be written synchronous style or asynchronous style.

When interacting with virtualfs, the easiest to use is simply the synchronous system, since there's no IO and so there's no need to wait on anything.

However for the EncryptedFS we will need to perform IO to write the file to disk. Which means if we used synchronous style, it will block the entire JS runtime. This may b

[2018-10-21 06:06] CMCDragonkai commented on #9
It would be a problem for web browsers, but at this moment I don't think Polykey would run in the browser due to other limitations as well. Lack of persistence is one issue. But we may investigate browser based systems that could expose a limited subset of the FS API. But that's for a later concern.

[2018-10-24 11:42] MeanMangosteen opened #10 "Vault Integrity"
A user can is only allows to access the content of a secret bundle if and only if they can have the ability to decrypt everything inside a secret bundle. This is because a secret bundle is the unit of sharing.

Merkle trees have the property that if a key can decrypt a node in the tree, it can also decrypt all subsequent children of that node. Thus, is a user can decrypt the root node of merkle tr

[2018-10-24 11:53] CMCDragonkai commented on #10
Merkle trees don't directly have to do with encryption, more hashing. We need to find out how to apply it to a directory structure first.

[2018-10-24 12:00] MeanMangosteen opened #11 "Defining 'random access' in polykey"
Traditionally, random access implies that granularity at the block level is available when accessing files. However, in Polykey files will be encrypted using pgp which does not offer this definition of random access. This means accessing any chunk of the file will warrant the entire being deciphered. This is okay since for the moment Polykey will mainly be dealing with small files.

From a differe

[2018-10-26 02:30] CMCDragonkai commented on #11
Here are some examples of block allocators that we can use in the future:

* https://en.wikipedia.org/wiki/Memory_pool
* https://en.wikipedia.org/wiki/Orlov_block_allocator
* https://github.com/ipfs/go-sbs/blob/master/design.md
* https://github.com/arneg/GJAlloc
* https://github.com/ipfs/js-ipfs-block-service
* https://github.com/ipfs/js-ipfs-block

https://flyingzumwalt.gitbooks.io/decentralized-

[2018-10-26 02:33] CMCDragonkai commented on #11
Also wanted to re-iterate there are all sorts of "filesystems in a file" implementations around.

* Tar Archives
* HDF5

The key point about those is that they were not designed for read/write or random access. The best systems are actual filesystems backed by a file representing blocks. We started with those first, but then we have pivoted to considering more low level blocks. However if we only

[2018-11-03 09:02] CMCDragonkai commented on #10
If we allow the keynode root keys to change over due to expiry or just change due to security breaches, it means we may need to consider what happens when the person we have shared a vault with changes their root key. It would mean the the share is no longer valid, and how do we update our sharing system such that it takes that new root key. It is possible we may synchronise this update over the k

[2018-11-03 09:13] CMCDragonkai commented on #9
I'm using the kbpgp for key generation right now. I've noticed it uses an asynchronous API (callback pattern).

We will probably convert this to a promise based async/await: https://gist.github.com/samtgarson/3f4fd3ea3485b0db4894a99bc1c8e186 (this shows how to do it with kbpgp).

In JS it is not possible to convert async API into sync API: https://stackoverflow.com/a/29440696/582917

This is why i

[2018-11-03 09:26] CMCDragonkai opened #12 "Multithreading"
After seeing that key generation can take 30 seconds, and that kbpgp is async API based. I have realised that we will probably need multithreading to make this fast. Node now seems to have 2 solutions to the multithreading problem:

* https://nodejs.org/api/worker_threads.html
* https://github.com/audreyt/node-webworker-threads

It seems that the library is matching the webworker API maintaining s

[2018-11-03 09:28] CMCDragonkai commented on #12
https://docs.nativescript.org/core-concepts/multithreading-model

It seems that this part of the code may be platform dependent. We may have to switch between different multithreading solutions depending on the platform.

[2018-11-03 09:29] CMCDragonkai commented on #9
We should begin converting them to async/await pattern as we are using these libraries @ll-aashwin-ll. This will make our codebase more consistent.

[2018-11-05 09:56] MeanMangosteen commented on #7
Previously it had been decided secret bundle, now known as a secret vault, had a single vault key to encrypt all files in the bundle. This would use symmetric block ciphering such as AES. Since streaming i/o or ability to handle unknown data sizes are desirable, and a block cipher is not able to provide these properties, a stream cipher can be used. AES in CTR mode achieves the above properties as

[2018-11-05 09:57] MeanMangosteen commented on #7
References:
https://en.wikipedia.org/wiki/Block_cipher_mode_of_operation

https://en.wikipedia.org/wiki/PBKDF2
https://www.npmjs.com/package/pbkdf2

https://github.com/ricmoo/aes-js

[2018-11-05 10:04] CMCDragonkai commented on #7
The salt for PBKDF2 would have to be the full path including the encrypted name of the file, not the plaintext of the file. So the file name would have to be separately encrypted.

The vault key is still symmetric. The basic idea is that anyone who has the plaintext vault key, along with the filename can then proceed to acquire a "file key" and use that to subsequently stream/block decrypt the act

[2018-11-05 10:05] CMCDragonkai commented on #7
Hey @ll-aashwin-ll can you paste that link where it had the visual display of the vulnerability of using the same key for CTR stream cipher, I think that would be a good reference.

[2018-11-09 06:32] MeanMangosteen commented on #7
https://crypto.stackexchange.com/questions/59/taking-advantage-of-one-time-pad-key-reuse

[2018-11-09 11:52] MeanMangosteen opened #13 "Shared access to vault key violates secrecy"
Imagine two key nodes A and B have synced a particular vault. Now A wants to update/add secrets and does not those secrets to be shared. Since the vault key for this vault is still the same, if B manages to somehow get the encrypted, updated version of the vault it will be able to decrypt it. We need to avoid this issue.

This can be done by never sharing the vault key. There is no need. A vault k

[2018-11-09 11:54] MeanMangosteen commented on #7
CTR mode is not safe for disk encryption.
See: https://en.wikipedia.org/wiki/Disk_encryption_theory#Problem_definition
XTS mode seems to be a suitable choice instead. It allows random reads/writes.

[2018-11-22 04:04] MeanMangosteen commented on #7
There is no longer a single, overaching vault key. Each keynode maintains their own vault key (for any particular vault). See #13 .

Also XTR does not seem suitable. See encfs audit: https://defuse.ca/audits/encfs.htm.

CBC appears to be a better option. Block-level encryption can still be achieved, although with some overhead. See Encfs docs on how they do this for inspiration.

[2018-11-29 04:35] MeanMangosteen opened #14 "Data Integrity and Authentication"
It would be desired if we can offer guarantees to some level that the encrypted data has not been tampered with.

Some possibilities would be using HMAC or cipher modes such as GCM with built-in data integrity mechanisms.

[2018-11-29 04:48] MeanMangosteen commented on #14
This may introduce overheads, so it would be fitting that the feature be optionally enabled by the user.

A quick case study of current solutions:
EncFS [uses HMAC](https://github.com/vgough/encfs/blob/master/DESIGN.md)
GoCryptFS uses[ GCM with additional authenticated data](https://nuetzlich.net/gocryptfs/forward_mode_crypto/) (what is this?)
CryFS [uses gcm](https://www.cryfs.org/howitworks)

[2018-12-20 03:44] CMCDragonkai commented on #4
@ll-aashwin-ll I just realised that Irmin is a database with Git compatible backend: https://github.com/mirage/irmin

Would be interesting to see if we can use that. Since Irmin actually can be compiled to JS.

[2018-12-20 03:45] CMCDragonkai commented on #3
@ll-aashwin-ll Can you update your learnings here (or point to notes wherever they are) and close this issue as I think you've already done this.

[2019-01-17 05:50] MeanMangosteen commented on #8
from #13

--

[2019-01-17 05:51] MeanMangosteen commented on #13
The pertains to #8. Does not need to be a separate issue.

[2019-01-17 05:51] #13 closed, assigned to MeanMangosteen

[2019-01-17 06:40] MeanMangosteen commented on #11
It has been decided that there will be random read/write access. The file will be split into blocks of a size defined by the user or defaults to certain size (4KB).

This way the entire file does not need to be decrypted when reading or writing. Only the chunks relevant to the operation will ciphered and serialised to disk

[2019-01-17 06:53] MeanMangosteen commented on #9
Since encryptedfs will have to preserve nodefs's api so that it can be used in its place, the traditional callback style for async methods will be used, along with sync methods.

A separate module for promisified methods can be made just like nodefs. But since nodefs's promise module is still in an experimental status and not widely adopted, priority should be given to development of the above.

[2019-01-17 07:10] MeanMangosteen commented on #7
GCM is being used. Modern userspace encrypted filesystem are using this: [gocryptfs](https://nuetzlich.net/gocryptfs/forward_mode_crypto/), [CryFS](https://www.cryfs.org/howitworks).

[gcm wiki.](https://en.wikipedia.org/wiki/Galois/Counter_Mode)

It is efficient, provides data authentication and is parallelisable .

[2019-01-17 07:10] #7 closed, assigned to MeanMangosteen

[2019-01-23 09:47] CMCDragonkai commented on #14
GCM may do this automatically. And if so, we can close the issue.

[2019-01-23 09:53] CMCDragonkai commented on #10
This is now solved because:

1. Each key node maintains its own vault key which is never shared
2. Sharing is done directly via transit encryption (encryption in transit is separate from encryption at rest)
3. This means users of a vault are not really sharing the entire vault at rest, but instead doing a point to point sharing with another user (we need some way of establishing that they both hav

[2019-01-23 10:03] CMCDragonkai commented on #7
This is now resolved in https://github.com/MatrixAI/js-polykey/issues/7#issuecomment-429270437 where we are going with a 2 tier architecture of lower and upper. Where the lower represents on-disk fs, and upper is an in-memory fs. And there's a encryption system composing 2 together. So we can transparent read/write in an encrypted way to the on-disk structures. AThis is now resolved in https://git

[2019-01-23 10:22] CMCDragonkai opened #15 "Atomic Writes/Consistent Writes in the Lower FS"
The lower fs provides the persistence of writes to our "files" in Polykey. We allow incremental mutation of "files" in Polykey. So that means given a 1 GiB file, editing the middle of the file doesn't mean rewriting the entire file. It's supposed to just edit and mutate that small partition in the middle.

However let's say that the buffer we are writing into the middle is 10 MiB. Then the problem

[2019-01-23 10:32] CMCDragonkai opened #16 "Automatic Commits for Vault Changes"
Changes to any vault should involve an automatic commit to our Git version control system.

We should try to make this system write sensible messages. And we need to carefully manage the Git commit history and consider issues like diverging histories and merge strategies dealing with incompatible histories. We need to make this as automatic as possible so that end-users do not have to do a manual

[2019-01-23 10:34] CMCDragonkai commented on #3
With regards to Dat persistence, we've moved on with our own design of 2 tier upper and lower.

But Dat P2P may still be of interest, and we need to compare it to Keybase and GPG.

[2019-01-23 11:21] CMCDragonkai commented on #15
@ll-aashwin-ll https://unix.stackexchange.com/questions/464184/are-file-edits-in-linux-directly-saved-into-disk

We should ensure that we fsync before performing any automatic commits. I wonder what atomicity guarantees exist in isomorphic-git.

[2019-01-24 06:39] MeanMangosteen commented on #14
GCM is an authenticated encryption with associated data ([AEAD](https://en.wikipedia.org/wiki/Authenticated_encryption)) scheme. This means it does in fact provide data authentication which implies data integrity. It uses [Galois Field](https://en.wikipedia.org/wiki/Galois_field) multiplication for authentication.

The 'with associated data (AD)' part means that you can feed additional data into t

[2019-01-24 06:39] #14 closed, assigned to MeanMangosteen

[2019-01-24 07:20] CMCDragonkai commented on #14
Do we need an implementation issue then?

[2019-02-05 11:34] MeanMangosteen opened #18 "EFS asyns calls may not be truly async"
As of now, the async calls in the EFS have been wrappers around the sync functions. The sync functions implement all the logic to carry out the the corresponding functionality of the corresponding function and its async counterpart would util process.nextTick(...) to make it async.

However, calling process nextTick() may only push the top level sync function to the event queue. Imagine if the syn

[2019-02-06 11:40] CMCDragonkai commented on #18
The resolution for this issue involves rewriting some of the async versions of EFS functions?

[2019-02-06 11:56] CMCDragonkai commented on #18
Will it be a big rewrite or a smaller rewrite? How much code are talking about here?

[2019-02-06 12:05] CMCDragonkai commented on #2
Need to finish reading this: https://blog.eleven-labs.com/en/openpgp-almost-perfect-key-pair-part-1/

[2019-02-06 12:08] CMCDragonkai commented on #11
@ll-aashwin-ll Please resolve this issue as soon as all current code is following the same conventions.

[2019-02-07 07:22] MeanMangosteen commented on #18
Well one naive solution for the rewrite of async functions, would be to copy the sync function and just replace the sync calls with async ones.

Even if there are large additions in terms of code, the only time spent would be to restructure a few lines to accommodate the new async calls.

But perhaps there is a more elegant way to go about it.

[2019-02-07 07:41] MeanMangosteen commented on #18
Confirming our assumptions.
When utilising process.nextTick() for writes, the output:
[code]
When using async write():
[code]

[2019-02-07 08:10] MeanMangosteen commented on #11
This has been implemented as described above. The plaintext is split in to 4096 byte blocks, each block is encrypted with a seperate and random IV using 256 gcm. The IV is prepended to the ciphertext to form a 'chunk'. That is, the first 16 bytes consisting of the IV, followed by the corresponding 4096 bytes of ciphertext.

**For writes of size < blocksize:** the chunk at the position being writte

[2019-02-07 08:10] #11 closed, assigned to MeanMangosteen

[2019-02-11 10:12] MeanMangosteen commented on #18
To shed some light the this matter: node isn't exactly single threaded. There is the event loop which runs on one thread. At the core of the event loop is a semi-infinite loop utilising the host's OS event notification facilities. For example on linux this is epoll. This is all abstracted away by libuv allowing node to use the same api to interact with system resources across all platforms.

So ev

[2019-02-19 05:09] MeanMangosteen commented on #18
Current async EFS methods have been implemented using native 'fs' async methods. Future EFS methods will follow suit. This issue can be closed.

[2019-02-19 05:09] #18 closed, assigned to MeanMangosteen

[2019-03-01 04:27] ll-aashwin-ll commented on #11
efs is now following the vfs code style

[2019-03-01 06:03] MeanMangosteen commented on #8
Just in case it wasn't clear with the previous comment, ^^ this is not the case anymore. It will only be encrypted with one key. That key is the keynode's symmetric vault key.

[2019-03-05 07:10] MeanMangosteen commented on #9
As discussed in #18 we cannot do it this way because the because 'async' wrapper around sync will the method will be scheduled for execution asynchronously, but it execution itself will still block. Hence we will be using native async calls for efs.

Since the Polykey api does not have to preserve any existing API method signatures, like efs does with fs, it can use modern promise primitives for a

[2019-03-06 01:34] MeanMangosteen commented on #3
Since Polykey will predominantly have IO bound operations, we should definitely have async methods in the API.

From #9

This will provide a much cleaner and future proof API.

Is it still worth having sync methods in polykey?

[2019-03-06 01:35] #9 closed, assigned to MeanMangosteen

[2019-03-07 10:22] CMCDragonkai commented on #3
No it should just focus on async methods.

[2019-03-12 03:22] CMCDragonkai commented on #6
I may not have mentioned this before, but Irmin is potential alternative to using Git directly: https://www.infoq.com/presentations/irmin

Irmin is written in OCaml, but it is possible to compile it to JS. It's also Git compatible.

* https://github.com/talex5/irmin-js/issues/2
* https://github.com/mirage/irmin/issues/117

[2019-04-03 07:44] MeanMangosteen opened #22 "Encryption of vault keys"
Each Vault will have it's own individual symmetric key for aes encryption. This needs to be secret. We also need to determine where to store the encrypted vault key so it can be retrieved easily when encrypting and decryption secrets.

To tackle the first problem, the vault key can be encrypted with the Keynode's public key so only it can only be decrypted with it's passphrase protected private ke

[2019-04-14 09:28] CMCDragonkai commented on #9
This issue is about adding schema to the files that we can store in Polykey. This can aid the user to create structured data in Polykey. Such as a schema for credit card information, a schema for SSH keys, a schema for web username and password... Lastpass has similar things. Main point is that schemas are user created and configurable, so we have to represent our schemas as something that we can

[2019-04-14 09:28] CMCDragonkai commented on #8
Deal with this later.

[2019-04-14 09:28] CMCDragonkai opened #32 "Peer to Peer Architecture"
Inspirations:

* https://github.com/sit-fyi/sit
* Dat P2P
* Libp2p (js libraries available)
* Kademlia

The peer to peer architecture is the architecture in which Polykey Keynodes can discover each other and connect to each other. Note that communication between Polykey keynodes happens over this p2p network. But social discovery occurs via social providers like Keybase which facilitate discovery

[2019-04-14 09:32] CMCDragonkai commented on #6
Android and iOS are also important here. In fact Android and iOS integration I believe actually supersedes browser integration. So you don't really create a "browser plugin" for the mobile phone browsers, but a password manager can be integrated to the OS. For example: https://developer.android.com/guide/topics/text/autofill

[2019-04-14 09:33] CMCDragonkai commented on #6
This issue is will be split up into separate issues for different platforms. This is just research atm.

[2019-04-14 09:34] CMCDragonkai commented on #3
Superseded by #12

[2019-04-14 09:38] CMCDragonkai opened #33 "Social Discovery Network"
Related to MatrixAI/js-polykey#32 but instead focused on the human network instead of the machine network. Keybase now offers the ability for arbitrary services to become to integrate social identity proof to keybase: https://keybase.io/docs/proof_integration_guide

Other social networks may also be possible.

Also relevant discussion: https://news.ycombinator.com/item?id=19639297

[2019-04-14 09:58] CMCDragonkai commented on #2
How many OpenPGP keys should I make?: https://security.stackexchange.com/questions/29851/how-many-openpgp-keys-should-i-make

The primary GPG key is is your profile. Separate primary keys represent completely separate  online/digital identities. Subkeys within that primary key can then be used to divide capabilities like signing/verification and encryption and decryption.

Each online identity can

[2019-04-14 10:07] CMCDragonkai opened #34 "Password Generator"
![image](https://user-images.githubusercontent.com/640797/137249797-38e6ab34-aa32-46c0-8576-5a78e32cd754.png)

Password suggestion/generator is useful for different things. One is for Polykey secrets itself. But another is just generating secrets within the constraints of external systems.

For Polykey secrets, we should use bip39: https://github.com/bitcoinjs/bip39

[2019-04-14 10:12] CMCDragonkai commented on #34
For normal password generation, we need something similar to this: https://www.nayuki.io/page/random-password-generator-javascript

[2019-04-14 10:22] CMCDragonkai opened #77 "Polykey Agent Design"
I've always disliked it when programs create their own subshell/repl, it makes it difficult to integrate. This is OK, if the subshell is presenting a totally different world with different semantics, but with Polykey CLI it should just present a FS interface, and standard Unix tooling can work on it easily.

So if we are not creating a sub-shell within the normal shell, we need to instead integrat

[2019-04-14 10:22] CMCDragonkai commented on #77
The CLI and the agent source code should probably just stay in this repo for now.

[2019-04-14 11:03] CMCDragonkai opened #17 "Master Key Encryption or Missing"
Upon creation of a Polykey keynode, we always generate a master key. Every keynode should have a unique master key as that represents its digital identity. This is because keynodes are participating in a P2P network, and so keynodes should have unique identities.

The user must be offered to encrypt the master key with a master password, or be given the master key, in which case the keynode state

[2019-04-14 11:03] CMCDragonkai opened #49 "Master Key Encryption or Missing"
Upon creation of a Polykey keynode, we always generate a master key. Every keynode should have a unique master key as that represents its digital identity. This is because keynodes are participating in a P2P network, and so keynodes should have unique identities.

The user must be offered to encrypt the master key with a master password, or be given the master key, in which case the keynode state

[2019-04-14 11:03] CMCDragonkai commented on #33
Keynodes have unique digital identities. This makes sense from a programming infrastructure point of view, but we also want to make it easy for humans to share secrets with other humans. To do this, humans must then be able to find out the relationship between keynodes and other humans.

We can take inspiration from keybase to do this. Keybase allows one to federate discrete identities into 1 comm

[2019-04-14 11:12] CMCDragonkai commented on #18
For mobile devices, the state location will be limited to the app's only filesystem.

[2019-04-14 11:13] CMCDragonkai commented on #18
Since this in this repo and not `js-polykey`, this is a concern of the CLI app, and not the core library.

[2019-04-14 11:14] CMCDragonkai opened #19 "Installation Procedure"
Upon installation the command `polykey` will be made available to the `PATH`. This allows them to run the `polykey` command on their terminal.

Upon the initial run of `polykey`:

1. Optional installation of the short alias `pk` (alias is really just something that can be added to the shell or as an additional symlink).
2. Specification of the location of keynode state.
3. Creation of the keynode

[2019-04-14 11:16] CMCDragonkai opened #20 "Crypto Encrypt/Decrypt Commands"
We should have the ability to encrypt symmetrically or asymmetrically.

To do asymmetric, we need to have a "trust database". Technically we could point to any known public key. But by default we would have to be able to choose among any possible known public keys. To make this easier, a short truncated code that locates the public key is possible too. So there may be multiple ways to locate a pub

[2019-04-14 11:16] CMCDragonkai opened #29 "Crypto - Encrypt/Decrypt Commands"
We should have the ability to encrypt symmetrically or asymmetrically.

To do asymmetric, we need to have a "trust database". Technically we could point to any known public key. But by default we would have to be able to choose among any possible known public keys. To make this easier, a short truncated code that locates the public key is possible too. So there may be multiple ways to locate a pub

[2019-04-14 11:16] CMCDragonkai commented on #29
When using the public-key-id we may want to prompt to ensure we are in fact doing the right thing. In case the user made a mistake. So this prompt sort of just shows the key information and confirms if that's correct.

[2019-04-14 11:17] CMCDragonkai opened #21 "Crypto - Sign/Verify Commands"
Signing and verification is competing in the digital signature market. I think this may become a bigger issue in the future especially for non-repudiation.

But we need to make this easy for people to use. So I propose these commands:

[code]

The private-key-id can be any thing that can uniquely identify the private key. So we may potentially store private keys in polykey as a secret and use thes

[2019-04-14 11:17] CMCDragonkai opened #27 "Crypto - Sign/Verify Commands"
Signing and verification is competing in the digital signature market. I think this may become a bigger issue in the future especially for non-repudiation.

But we need to make this easy for people to use. So I propose these commands:

[code]

The private-key-id can be any thing that can uniquely identify the private key. So we may potentially store private keys in polykey as a secret and use thes

[2019-04-15 13:16] CMCDragonkai commented on #29
Standard guideline for the CLI: https://github.com/MatrixAI/PolyKey/blob/master/CLI.md

[2019-04-15 13:16] CMCDragonkai commented on #27
Standard CLI design guidelines: https://github.com/MatrixAI/PolyKey/blob/master/CLI.md

[2019-04-15 13:37] CMCDragonkai commented on #29
What is a public key id?

It can be the entire public key. But that's pretty long (see your SSH public key or GPG public key), so we probably don't want to do that. It can also be a file address to a file containing the the public key, that's also sufficient. But we can also have a short-id similar to how Git commit hashes also have short hashes. Anyway GPG already has short-fingerprint versions o

[2019-04-15 13:42] CMCDragonkai opened #28 "Crypto - Keypair Creation"
It should be possible to create new key pairs. This can be used by other programs for whatever reason, or Polykey may change the master key of the keynode, but this may also involve re-encryption of any symmetric vault keys being used.

This is a low priority feature. Since many other programs usually allow creation of new keypairs to mean new digital identities. But in Polykey we don't really nee

[2019-04-15 13:49] CMCDragonkai commented on #77
Also imagine that one day, I can just plugin a USB. Mount it to any location, and register its location against a Polykey agent. Then I can use it as if it's my designated location. The secrets stay on the USB, and never move anywhere else, thus acting as my personal set of secrets. The only thing that can read/write data from it is an authenticated Polykey client (authenticated once, or by proxy

[2019-04-15 14:06] CMCDragonkai commented on #23
Advanced feature. Leave this to later.

[2019-04-16 03:23] ll-aashwin-ll commented on #18
A minor proposition: I don't think 'state' is the best term to use in this situation. I feel it is a bit abstract, it even wasn't clear to me straight away what you meant by state. We could even make do without the explicit cli option and have something like `polykey init ./tmp`.

[2019-04-16 03:59] CMCDragonkai commented on #18
Keynode is another term.

On 16 April 2019 13:23:34 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-16 04:24] MeanMangosteen commented on #49
If keynodes can be tied to a Polykey user, then we can also utilise subkeys. For instance, when a user creates a Polykey account for the first time a keypair will be generated which is the master/primary keypair which . From the primary keypair you can generate subkeys, which are also keypairs. A subkey can be generated for each keynode under that Polykey user. This way each subkey provides a uniq

[2019-04-16 04:38] CMCDragonkai commented on #49
Subkeys adds some complexity that I need to talk about later. The main issue is that keynodes may not know anything about users. But something is built on top of that connects keynodes to users. So for now I would consider subkeys low priority.

On 16 April 2019 14:24:48 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevi

[2019-04-16 07:33] CMCDragonkai commented on #24
The cool thing about it being a p2p network is that we can get metrics automatically by oberving the network.

On 16 April 2019 17:31:49 GMT+10:00, Maria Foo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-16 07:46] mariafoo opened #25 "Establish relationship between Human digital identities and Keynode clusters"
One user may have multiple keynodes per device and across devices. A method to assign these keynodes to one user is required for the user to easily manage their keynodes (e.g. synchronisation or file management).

[2019-04-16 07:58] mariafoo opened #26 "Secret Management - Create Secrets"
[code]

Maybe `/a` means a vault in this case. So everything is always referenced via `/a/b`. Being a file within the `a` vault.

Another thing is that we may be able to make use of the multiaddr in libp2p so that means keynodes themselves have a p2p peer ID, but then each vault within should also have a unique id as well. I'm thinking some content-addressed ID but I'm not sure... if that may leak

[2019-04-16 07:58] mariafoo opened #30 "Secret Management - Subcommands to interact with Secrets"
After a vault is created. We should be able to get/put secrets into the filesystem.

If we were able to expose the filesystem a real FUSE filesystem on Unix systems, then we would be able to make use any Unix CLI tool to create secrets. However I think this feature can be pushed till later, since the CLI is just a prototype while we focus on releasing a GUI as well (and in the GUI we'll end up tra

[2019-04-16 13:16] CMCDragonkai commented on #24
I've renamed this as before, because this issue actually is about that. But I think this is low priority.

[2019-04-16 13:16] CMCDragonkai commented on #25
Keynodes aren't really "assigned" to users. Users create keynodes, and then we can establish a link between keynodes and a human digital identity.

[2019-04-16 13:57] CMCDragonkai commented on #30
Rewrote the above for some secret command interaction. @ll-aashwin-ll your opinion?

[2019-04-16 14:00] CMCDragonkai commented on #30
As for editing something like this might be possible: https://unix.stackexchange.com/a/282384/56970

It seems in general, it might be possible to pipe the output into an editor. Or pipe it to a file, where you then open the file descriptor but delete the file contents (thus you end up with a read/write descriptor). Then pipe that file back into the same command.

Note that one has to be careful wi

[2019-04-16 14:01] CMCDragonkai commented on #30
I really want to be able to run a polykey command to create a secret, that launches the `$EDITOR` or `$VISUAL` and upon saving, pipe the output to the polykey command without leaking any data on disk. Not entirely sure how to achieve this though.

Oh it seems `vipe` might be the right way to do it. There's also how git launches the editor when you ask to do rebases.

[2019-04-16 14:03] CMCDragonkai commented on #28
Superseded by #26. I've decided to discard the import command since it's possible to have this with unix style subcommands. The only problem is that you don't have an import stage and then within secret storage stage. It's all meshed with the real filesystem all at the same time.

[2019-04-16 14:03] CMCDragonkai commented on #27
Superseded by #26

[2019-04-16 14:04] CMCDragonkai opened #31 "Git backed server for sharing vaults"
TBD.

Should be lower level pull/push style.

However we can also have a higher level sync. But that can also be automated via the polykey agent.

Relevant to MatrixAI/PolyKey#31

[2019-04-16 14:17] CMCDragonkai commented on #30
Based on my reading of https://en.wikipedia.org/wiki/Uniform_Resource_Identifier I think this should mean that we can just use `pk:/a/b`. As well. Or even just `pk:a/b`. But without the root slash it could mean something else like the current context. I don't think it's specified. There are some good discussion about this here? https://github.com/ipfs/in-web-browsers/blob/master/ADDRESSING.md

[2019-04-17 03:08] CMCDragonkai commented on #30
[code]

Launches editor for secret, and allows one to save the file.

It works!

[code]

The above works in ZSH and Bash using automatic fd allocation.

We would do this inside JS which should be alot more robust.

[2019-04-18 06:53] CMCDragonkai commented on #32
@ll-aashwin-ll

Relevant: https://spacemesh.io/use-p2p-lib/

Critique on both libp2p and ethereum's p2p. So that means they wrote their own while basing on inspirations from both. Maybe we could learn from all 3?

[2019-04-19 06:38] CMCDragonkai commented on #2
Work on this is pushed to #25.

[2019-04-19 06:39] CMCDragonkai commented on #25
#2 details how GPG manages human digital identities via their primary key and subkey systems. Especially important as humans take on different personas depending on their environment. Like private identity vs work identity, and in turn means we have different sets of secrets we manage for each persona as well.

[2019-04-19 06:43] CMCDragonkai commented on #4
Punting this to a more higher level design/research issue in Polykey: https://github.com/MatrixAI/PolyKey/issues/9

[2019-04-19 06:43] #4 closed, assigned to MeanMangosteen

[2019-04-19 06:57] CMCDragonkai commented on #10
js-encryptedfs https://github.com/MatrixAI/js-encryptedfs/issues/11 already deals with chunk and file integrity. This is sort of about maintaining integrity of the whole vault. So one should be able to detect whether any part of the vault is corrupted before any kind of access to the vault. This includes the OP's comment about not being able the decrypt any part of the vault, if one part of the va

[2019-04-19 07:04] CMCDragonkai commented on #10
Seems like it is possible considering that ZFS does this as well: https://superuser.com/questions/351079/why-is-zfs-stored-in-a-tree-structure

[2019-04-19 07:06] CMCDragonkai commented on #32
Relevant:

* https://github.com/MatrixAI/js-encryptedfs/issues/11
* https://github.com/MatrixAI/js-polykey/issues/10

[2019-04-19 07:08] CMCDragonkai commented on #29
I think this is more concrete here #6 (and other issues eventually addressing other integration points). Also UI/UX issues should be kept in the Gitlab repos for now.

[2019-04-26 08:48] ll-aashwin-ll commented on #33
I had some trouble importing EncryptedFS into Polykey which is now using  typescript. EFS already had flow type annotations which typescript interpreted as typescript annotations and so the modules weren't integrating nicely with each other. At this stage it seemed better just to port efs over. TS seems to be a lot more strict and thorough than flow, there where a few hiccups in getting all types

[2019-04-26 08:50] CMCDragonkai commented on #33
Does this end up extending to VFS as well? I'd prefer to not need to port that to typescript as well.

[2019-04-26 08:53] ll-aashwin-ll commented on #33
Since I'm using not vfs as extensively, I've just had it to ignore the types in vfs.

[2019-04-26 08:54] CMCDragonkai commented on #33
VFS doesn't export any types, as the flow is completely internal, so it would just be like an untyped JS object when used by EFS probably.

[2019-04-26 08:57] ll-aashwin-ll commented on #33
For any module you import in typescript you have to have a declaration file for the types. So for VFS I just have an empty file while for other I get it from [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)  Then that's more likely the case. I don't get any type information or checking when I'm accessing vfs.

[2019-04-26 09:00] CMCDragonkai commented on #33
Ok that's good for now then.

[2019-04-26 09:10] CMCDragonkai commented on #33
What else needs to be done for this issue to be closed?

[2019-04-30 04:59] MeanMangosteen opened #23 "CLI app architecture"
I'm thinking of using the following libraries in building the CLI app:

For building the core of the CLI:
https://www.npmjs.com/package/oclif

For text styling:
https://www.npmjs.com/package/chalk

For text output and formatting:
https://www.npmjs.com/package/winston

There were some other contenders such as [commander](https://www.npmjs.com/package/commander) and [yargs](https://www.npmjs.com/pac

[2019-04-30 05:32] ll-aashwin-ll commented on #33
Nothing, this will be closed in the upcoming PR.

[2019-05-01 05:23] MeanMangosteen commented on #29
A keynode has one asym key pair but potentially several symmetric keys, one for each vault (as it currently stands). When doing symmetric encryption, which symmetric key is going to be used?

Also what is the `--password` flag specifying? Symmetric keys are password protected. Is this to specify to create a symmetric key from the password? Because then you'd have to start providing other parameter

[2019-05-01 07:11] MeanMangosteen commented on #23
After spending some time on this matter, it seems commander and yargs both are argument parsers first, which you can build a CLI app on top of, while oclif is designed for building CLI apps at it forefront.

[2019-05-01 11:10] CMCDragonkai commented on #29
When doing symmetric encryption, the key is the password. Consider the pass as the shared secret. It can be very long.

On 1 May 2019 15:23:09 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-02 02:18] MeanMangosteen commented on #29
So a pass is a required field then. One cannot do:
`polykey crypto encrypt ./file`
As it is ambiguous as to what the symmetric key is. Passwords can be of varying lengths, whereas symmetric keys have to be discrete sizes (e.g. 128, 256 bits).  It is possible, however, to generate a key based on the password. If using dictionary passwords a salt is also recommended. This can be generated and stored

[2019-05-02 02:21] MeanMangosteen commented on #29
If you meant that the 'password' in fact a symmetric key, that is of correct size and random, then probably better to have a separate flag for that like `--key=[KEY]` or `--keyPath=[PATH_TO_KEY]`

[2019-05-02 05:01] MeanMangosteen commented on #29
We could also utilise pipes. We make it so that the encrypt command only worries about encryption and not key generation.

Usage could be:
`polykey gen-key [pass] | polykey encrypt [file]`
`polykey encrypt [file] [key]`

[2019-05-02 05:45] MeanMangosteen commented on #29
Is the output of this command only going to be be decryptable Polykey? Because it would be convenient. Under the hood the command just uses aes, but it will hard for a user to take the output and go and decrypt it outside polykey using even if they knew aes was being used.

This is because they also need to know the IV that was used during encryption and also the block mode (GCM). Sure we could as

[2019-05-02 06:13] MeanMangosteen commented on #29
Includes this line:

Wouldn't the inverse be better? Wouldn't it it be more useful to store the encrypted output as a file so that it can be moved around and decrypted later? It's also convention to use `-` as the file name to specify output to stdout instead of a file so lots of commands like `tar` and `gpg` follow this. We could do something similar.

[2019-05-02 06:36] CMCDragonkai commented on #29
Without the parameter, it would expect the user to supply it when prompted on the CLI.

We can use key derivation to generate the appropriate size required for the symmetric key.

On 2 May 2019 12:18:07 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-02 08:02] CMCDragonkai commented on #29
It was mainly to make easier to pipe. You can actually detect if the STDOUT is connected to a tty and decide how to deal with that.

Also most of the commands have parameters for specifying the output. Its just that without any parameters, the expected output should be STDOUT as that is conventional for CLI apps.

On 2 May 2019 16:13:26 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

-

[2019-05-02 08:04] CMCDragonkai commented on #29
Definitely avoid this. Encryption should be very easy. It needs to resemble a password protected file. And can the output should also be decryptable by gpg?

On 2 May 2019 15:01:38 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-03 05:20] MeanMangosteen commented on #29
So I've looked into openpgp compatibility and while it's definitely possible, it might not be worth the time trade off. At least at the moment. I've read the spec ([RF4880 ](https://tools.ietf.org/html/rfc4880)) regarding how its symmetric encryption works and there a lot of fancy stuff and configuration going in the headers. Things like old vs new pgp headers, key generation info (hash algo, salt

[2019-05-03 05:34] CMCDragonkai commented on #29
All those config parameters should be defaulted. Allow more advance users to configure it. But it should work out of the box. Yea for now, this is just convenience.

On 3 May 2019 15:20:54 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-03 06:41] MeanMangosteen commented on #29
Then maybe i'll come back to openpgp compatibility later. It's a bit fiddly, and key generation pgp uses isn't one of the widely used like pbkdf2 or scrypt. It (generally) uses 'Iterated and salted string-2-key' which is hard to find as a stand alone implementation of.

[2019-05-03 06:42] MeanMangosteen commented on #29
That's being said, it will be trivial enough to achieve encryption with polykey and decryption with pgp. The inverse will require much more work.

[2019-05-03 06:43] MeanMangosteen commented on #29
To be honest, s2k looks simple enough to implement.

Reference:
https://rays-notebook.info/computing/crypto-gnupg-s2k.html#itersalted

[2019-05-03 06:50] CMCDragonkai commented on #29
One way compatibility is fine. If we encrypt something and its decryptable by gnupg that's great.

On 3 May 2019 16:43:39 GMT+10:00, ll-aashwin-ll <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-09 08:19] MeanMangosteen commented on #27
Implemented albeit primitive for now. Takes in file path for singing/verifying and a key path. Password is prompted if not specified on signing.

[2019-05-09 08:20] MeanMangosteen commented on #29
Implemented albeit primitive for now. Bad pgp support. Encrypted files must use polykey for now.

[2020-04-19 12:13] CMCDragonkai commented on #33
@robert-cronin This is now assigned to you. But this is in the Polykey repo not in js-encryptedfs. We can have separate issues for each repository.

[2020-04-19 12:18] CMCDragonkai commented on #25
@robert-cronin Please talk about here what I mentioned about X.509 certificates and how they represent a "signed" link between a virtual identity "the key" and physical identities "name, address... etc".

[2020-04-20 03:13] robert-cronin commented on #25
As mentioned above, there is an issue of linking of a keynode cluster to a particular physical identity, how does a third party know that a keynode is linked to that identity?  Previous discussion mentioned a certificate authority (CA) as a way that the two can be linked.

In comes the X.509 standard, it defines the format of pub key certificates. It is what is used in TLS/SSL to confirm the ident

[2020-04-28 03:22] robert-cronin opened #24 "Typescript and webpack migration"
This library needs to be migrated to typescript to supersede the flow type annotations and start using webpack. This is relevant to [PolyKey Issue 33](https://github.com/MatrixAI/PolyKey/issues/33).

[2020-04-28 05:05] CMCDragonkai commented on #25
Commit message shouldn't have `WIP` prefix if you intend for it to be merged.

[2020-04-30 06:52] #24 closed, assigned to robert-cronin

[2020-04-30 06:53] CMCDragonkai commented on #25
This is merged now. I didn't bother checking the code since there's nothing necessary to check. Except for how we are exporting the final bundles.

[2020-05-05 09:29] robert-cronin commented on #27
Detached signatures are now implemented in the CLI:
![image](https://user-images.githubusercontent.com/8540764/81051887-1f363780-8ef5-11ea-9186-62bf4a5e87ff.png)
polykey will now also take arbitrary keys for signing/verifying:
![image](https://user-images.githubusercontent.com/8540764/81052334-d29f2c00-8ef5-11ea-8986-9acff55b263b.png)

as a side note, I feel this issue should be transferred to js-

[2020-05-07 07:29] robert-cronin commented on #32
For p2p architecture and sharing vaults, its possible to do it in 2 ways using existing libraries:
- using [libp2p](https://github.com/libp2p/js-libp2p) to setup a tcp connection between two polykey nodes and somehow exposing the git repository via a http connection over the tcp connection.
- using [IPFS](https://github.com/ipfs/js-ipfs) to setup a http gateway and share a bare git repo for pullin

[2020-05-11 10:13] robert-cronin commented on #32
I managed to get a preliminary connection setup with inspiration from [node-git-server](https://github.com/gabrielcsapo/node-git-server). It basically acts as a node backend for  a git http server. The good thing about this is we can adapt it to use EFS to serve the git repo from upperDir (virtualfs).

The reason I had to go this far out is because isomorphic-git does not yet support server like f

[2020-05-12 04:04] robert-cronin opened #40 "Nativescript file system as an EFS lowerDir"
We have built EFS as an isomorphic library which means byo lower file system but we have modelled the lower file system on what is available with the nodejs fs module. This might be a concern when building the PolyKey app in nativescript. Research needs to be done on whether or not the nativescript [file-system](https://docs.nativescript.org/api-reference/modules/_file_system_) module can be direc

[2020-05-12 05:11] CMCDragonkai commented on #40
It probably cannot, so we'll need to adapt it. Should be easy though. Just exception whenever there's an unimplementable operation. Primarily we will work on streams and chunks, chunks can be based on fd seeking or on memory mapping.

On 12 May 2020 14:04:44 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-12 05:48] robert-cronin commented on #31
What is the difference between this issue and #8 ? I think we should close this one

[2020-05-12 06:24] robert-cronin commented on #34
Also needed is someway to verify the entropy of passwords that are passed in by the user. [HKDF](https://tools.ietf.org/html/rfc5869) relies on sufficient entropy in the initial password:

   be able to use HKDF "as-is" due to specific operational requirements,
   or will be able to use it but without the full benefits of the
   scheme.  One significant example is the derivation of cryptographic

[2020-05-12 06:43] robert-cronin commented on #22
I think vault metadata is good to store in a hidden `.vault` folder to keep track of secrets managed by said vault but the symmetric key that feeds into EFS should be derived from PolyKey's asym key. This presents an issue; for a given keyLen, the key is the same for every vault derived from the same PolyKey asym key. One way to avoid this is to derive with a randomly generated salt and store the

[2020-05-18 08:18] robert-cronin commented on #23
It was decided to go with commander

[2020-05-18 08:22] robert-cronin commented on #23
who knew `ctl+shift+enter` closed the issue, oops.
Like I said above, we have chosen to go with [commander](https://github.com/tj/commander.js/) due to its modularity and popularity. This issue will be closed by an upcoming PR that introduces a foundational CLI for existing methods.

[2020-05-19 05:18] robert-cronin commented on #22
Upon further reflection, there is an edge case in which pure key derivation won't work and that is a cycling of the users master key. Upon initialisation, the vault key is derived from this master key but then we must store this somewhere. So as mentioned in the initial comment, we can encrypt the vault with the vault key and then encrypt the vault key in the `.vault` folder using the users master

[2020-05-20 02:02] robert-cronin opened #36 "Peer Store for each Polykey node"
we need to figure out how to layout our storage for peer information in order to keep track of things like which peers are connected, their accepted protocols/address etc. We can draw on inspiration from libp2p: https://github.com/libp2p/js-libp2p/tree/0.28.x/src/peer-store and hyperswarm: https://github.com/hyperswarm/hyperswarm
For now I think something simple and extensible is appropriate.

[2020-05-29 02:01] robert-cronin commented on #31
As was discussed in #32, isomorphic-git does not yet have server like functions, we have have created our own backend git server over http by stitching together code from [node-git-server](https://github.com/gabrielcsapo/node-git-server) and the [http-receiver](https://github.com/isomorphic-git/isomorphic-git/tree/http-receiver) branch of isomorphic-git.
The key thing missing was the uploadPack fu

[2020-06-01 02:31] robert-cronin commented on #32
I have a multicast DNS peer discovery mechanism working now, all you need is the public key of the node you wish to connect to and the handshake occurs over UDP multicast address (`224.0.0.251:5353`).

The requesting node broadcasts a message encrypted with the target node's public key and thus is only decrypt-able by the target node. The message consists of some random bytes as well as the reques

[2020-06-01 02:33] robert-cronin opened #37 "NAT Busting for keynodes behind NAT layers"
We need to be able to connect two keynode pairs that might both be behing NAT layers and not exposed via public IPs.

The way I see it there are two options. We could either incorporate NAT traversal options directly into polykey (UDP hole punching, peer circuit relays, git sharing over ssh port forwarding?).

The other way is to assume all polykey nodes are discoverable on the same virtual networ

[2020-06-03 09:08] robert-cronin commented on #49
As for encrypting the master key, kbpgp does this anyway: https://keybase.io/kbpgp/docs/loading_a_key. You can't do anything without the passphrase, so we can actually store the master key in the polykey folder securely and then prompt the user for the passphrase on crypto operations.

[2020-06-03 10:58] CMCDragonkai commented on #49
Each vault should have their own key, that is unlocked by the master
key, which itself requires the user to supply a password.

On 3/06/2020 7:08 pm, Robbie Cronin wrote:

[2020-06-04 02:06] robert-cronin opened #38 "Passphrase Strength in Key Generation"
I think we should throw an error for a weak passphrase passed into the kbpgp key generation. We can validate password strength with [zxcvbn](https://github.com/dropbox/zxcvbn). They define anything under a score of 2 to be somewhat guessable (guesses < 10^8) so I think its reasonable to error if the user provided passphrase is below this.

Note: this issue is solved in the upcoming PR #35, but I t

[2020-06-04 02:45] robert-cronin opened #39 "Revocation of asymmetric master key and symmetric vault keys"
We need to start thinking about revocation. Particularly revocation of a vault key and how we would propagate it through a PolyKey network.

It will be less common to revoke the master key of a particular keynode and that keynode would become untrustworthy from that point on. This might happen if a user has many sub-keynodes and one of them becomes compromised.

[2020-06-04 02:57] #23 closed, assigned to robert-cronin

[2020-06-04 02:57] #38 closed, assigned to robert-cronin

[2020-06-04 05:02] CMCDragonkai commented on #38
Warn but don't enforce. In fact we can even suggest passwords.

On 4 June 2020 12:06:22 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-06-04 05:46] robert-cronin commented on #38
yeah it makes sense that this should just be a notification to the user on any kind of user interface we implement and the polykey key generation function should just be ignorant to the strength of the passphrase.

I've made it just a warning on the CLI.

[2020-06-04 09:17] robert-cronin commented on #33
I think direct integration for signup/login is possible as well as for peer discovery.

For peer discovery, its quite simple to use keybase [lookup](https://keybase.io/docs/api/1.0/call/user/lookup) api. We can expose a function like `findSocialUser` that takes a `handle` like `robert-cronin` as well as a service like `github` and then queries the keybase network for the pubKey attached to that so

[2020-06-04 09:27] robert-cronin opened #41 "Direct keybase integration - signup/login"
Obviously a user of PolyKey can just initialise a new key-node and have it generate a new digital identity (pub/priv keypair) that is not linked to a social identity. But social proof for PolyKey is a huge opportunity.

We can come up with a way to directly integrate keybase's API for signup and login in order to link a users keybase account with a particular keynode.

I tried to follow the [proof

[2020-06-04 09:47] robert-cronin commented on #41
Actually I've just realised we can generate keypairs with kbpgp and then upload them to whatever keybase user you are logged in as! This is done via [key/add](https://keybase.io/docs/api/1.0/call/key/add)!

So this might settle how we generate sub keypairs for PolyKey and not reuse the primary keybase keypair. I'm still not 100% sure about it because there is a clause that says 'this will replace

[2020-06-04 09:58] robert-cronin commented on #41
I've just realised that it's not really valid to 'download the private key' after login in order to proceed with polykey, I think it is possible with keybase but strongly discouraged: https://github.com/keybase/keybase-issues/issues/160.

The better option would be to login to keybase on whatever device you are using and once its authenticated, upload the public key for social discovery. This seem

[2020-06-04 10:01] robert-cronin opened #42 "Initial Key Generation is slow - progress hooks"
The initial RSA key generation for a key-node setup can sometimes take 20+ seconds. We should integrate some kind of progress display in our CLI and UI applications. kbpgp lets you do this like this:
[code]

[2020-06-05 04:36] robert-cronin commented on #16
Automatic commits will be implemented in the upcoming PR #43, however they still do not address the case of multiple files changed at once since polykey simply does not allow one to modify multiple secrets at once. A commit is made for every action currently possible (`addSecret`, `removeSecret` and `updateSecret` which I have added as a part of the PR)

[2020-06-10 23:31] CMCDragonkai opened #44 "Colliding paths"
There are colliding paths in the `dist` directory because on Windows, its filesystems are case insensitive.

[code]

This should not be done. It should either be `Polykey.js` or `polykey.js`. I think the lowercase makes more sense here if you're producing a library. But also within `dist` should be `dist/bin` for the CLI executables.

[2020-06-11 02:51] CMCDragonkai commented on #40
Things inside bin should not be imported. Bin things should be completely independent, self-contained programs that each result in an CLI executable.

On 11 June 2020 12:09:35 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-06-11 02:52] CMCDragonkai commented on #40
Yea this shouldn't be in bin.

On 11 June 2020 12:06:53 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-06-13 07:24] CMCDragonkai commented on #40
* https://blog.acolyer.org/2016/02/16/capability-myths-demolished/
* https://srl.cs.jhu.edu/pubs/SRL2003-02.pdf
* https://en.wikipedia.org/wiki/Proof_of_work

[2020-06-13 08:36] CMCDragonkai commented on #44
Which PR fixes this? @robert-cronin

[2020-06-15 02:20] robert-cronin opened #45 "Authentication vs. Authorisation of keynodes"
We need to separate the authentication and authorisation of the keynodes. Authentication is verifying that and agent is known and trustworthy or in other words that agent A knows agent B and trusts that person B controls keynode B. Authorisation is treated as the separate issue of what to allow the already _authorised_ agent B to do.

One can also think of half opened vs fully opened connections.

[2020-06-15 05:41] robert-cronin commented on #40
So from our previous meeting I have removed a lot of methods from the Polykey class and put them in their respective classes according to which domain model they belong to.

[2020-06-15 06:00] CMCDragonkai commented on #45
So during our discussion it seems capability model wouldn't really be used. Instead we are using a sort of tinder like algorithm. Both keynodes must trust each other for notifications to be sent to each other. This is important to avoid spam.

But at the same time, please review these resources anyway:

* https://blog.acolyer.org/2016/02/16/capability-myths-demolished/
* https://srl.cs.jhu.edu/pub

[2020-06-15 06:01] CMCDragonkai commented on #40
Can you give a brief description of what was done so I know what was applied on a high level from our discussion.

[2020-06-15 06:49] robert-cronin commented on #40
So the main changes are:
- Move domain model concerns to relevant classes (i.e. vault operations to `Vault.ts`, crypto operations to `KeyManager.ts` etc.)
- Added a web worker for the crypto operations (`KeyManagerWorker.ts`)
- Tied the starting of the multicast peer discovery server to its initialisation
- Made UDP multicast port optional environment variables
- Added ability to add more social d

[2020-06-15 09:55] CMCDragonkai commented on #42
Once you have the experiment done, please post notes up here, and link the PR.

But also... I like using the redux debugger on Chrome. Does vue have something similar? One of the reasons we can continue using redux.

[2020-06-15 10:01] robert-cronin commented on #42
Yes, Vuex has a dedicated tab on the [Vuejs devtools extension](https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en)

[2020-06-15 14:02] CMCDragonkai commented on #40
I'd like to see more integration tests in the near future for this kind of code especially as it interacts with the network. But also all the edgecases, we'll have to plan that out.

I'm going to approve for merging so you can start synchronizing the other work.

[2020-06-15 14:05] CMCDragonkai commented on #40
Woops I was trying the Github merge options. But I think it just left the WIP commits there. Not a big deal, but need to remember to use the squash option, not rebase option.

[2020-06-15 14:09] CMCDragonkai commented on #40
I've rebased and squashed so the master is clean again.

[2020-06-15 14:09] CMCDragonkai commented on #40
Delete the above branch if you don't need it again.

[2020-06-15 14:14] CMCDragonkai commented on #42
In the past, when using Redux, I always paired it up with immutable. Which is pretty cool and useful, but I realised for a lot of things, it was quite heavyweight. So nowadays I recommend going for https://github.com/immerjs/immer first. And only use immutablejs if you really need a persistent advanced data structure, and then finally reaching for a proper database like datascript when you need ad

[2020-06-15 14:17] CMCDragonkai commented on #42
Please also find out what the equivalent to react hooks are in Vue.

[2020-06-15 14:19] CMCDragonkai commented on #42
Also really important are things like memoize or the react combinators that "cache" things. That was one of the issues with React and Redux, trying to minimize the amount of unnecessary re-renders. One had to explicitly indicate this in some cases.

[2020-06-16 01:53] robert-cronin commented on #42
Hooks came to VueJS in version 3: https://blog.logrocket.com/hooks-are-coming-to-vue/
So in react you can `useState(...)` and in VueJS you can just `useData(...)`

[2020-06-16 05:26] robert-cronin commented on #42
I've created a crude example on the `redux-vs-vuex` branch with what I could scrape from the internet. It was quite challenging to get redux to work similar to vuex with all it's `getters` and nice integration into vuejs. I followed this example project: https://codesandbox.io/s/ywr3vpzxnz?file=/webpack.config.js

[2020-06-18 04:49] robert-cronin opened #46 "Git Communication over a gRPC connection"
Currently we have the git server working over an insecure http connection (using nodejs http lib) but we want to eventually have the git server working over an existing connection that has already been secured between two peers.

I have implemented a `ConnectionManager` that creates a single secure connection between 2 peers (e.g. server from peer A and socket from peer B) using mutual TLS, but th

[2020-06-18 04:53] robert-cronin commented on #46
libp2p has a http library that can do http over an existing connection, but it is in go: https://github.com/libp2p/go-libp2p-http/blob/master/p2phttp.go
There isn't one in JavaScript yet.

[2020-06-18 04:58] robert-cronin commented on #46
This website may help in the future:
https://www.codementor.io/@ziad-saab/let-s-code-a-web-server-from-scratch-with-nodejs-streams-h4uc9utji

[2020-06-19 03:41] robert-cronin commented on #46
I have the git client now using an existing connection from the connection manager. Currently this is just a TCP connection from `net.connect(...)` but it should be `tls.connect(...)` in the future (once I get around this one error I was getting regarding invalid self-signed cert).

The trick was a parameter in the connect options called `createConnection(...) => Socket`. I tried for a while to ge

[2020-06-29 13:26] CMCDragonkai commented on #47
@Zachaccino can you have a look at this regarding GRPC.

@robert-cronin can you point to which specific file has the GRPC implementation?

[2020-06-30 01:46] robert-cronin commented on #47
The specific files that have gRPC are [git_server.proto](https://github.com/MatrixAI/js-polykey/blob/add-grpc-server/src/proto/git_server.proto), [PeerManager.ts:Line98](https://github.com/MatrixAI/js-polykey/blob/a0d961b41091bfd09cdf6ce08dd9f63efee3ccdf/src/lib/peers/PeerManager.ts#L98) and [GitClient.ts](https://github.com/MatrixAI/js-polykey/blob/add-grpc-server/src/lib/git/GitClient.ts). Any i

[2020-06-30 04:57] Zachaccino commented on #47
Looks good to me, that said, I don't have much experience working with GRPC in production either.

[2020-06-30 05:51] robert-cronin commented on #46
The HTTP connection will be replaced by a gRPC server and client in order to stay consistent with the rest of the MatrixOS system. This also happens to remove a lot of redundancy because our system is not intended to support other git clients as the general git HTTP protocol demands.

[2020-06-30 05:55] robert-cronin commented on #25
We now have a gRPC server that relies on CA certs in the [js-polykey](https://github.com/MatrixAI/js-polykey) lib. The plan is to have a mechanism in js-polykey to support arbitrary CA's so it's up to this repo to implement the interaction CA. This depends on an existing CA that is hosted at a specific domain and the root certs of which can be passed into `js-polykey`

There is also the idea of ha

[2020-06-30 06:02] robert-cronin opened #48 "PolyKey Node as a Federated Hierarchy of Certificate Authorities (Federation of Trust)"
As an initial solution, polykey lib should implement an interface to allow arbitrary CA's to be used for PKI (related to https://github.com/MatrixAI/PolyKey/issues/25#issuecomment-651558297), however we also want to facilitate a 'web of trust' by allowing polykey nodes to act as certificate authorities.

[2020-06-30 06:12] robert-cronin commented on #18
In the creation of a certain keynode, the cli first asks for location and presents a fs autocomplete interface that starts at the home directory. This happens if there is no keynode location cached in memory ([configstore](https://www.npmjs.com/package/configstore) is currently being used to cache the state)

The node-based applications (e.g. electron) will use `os.homeDir()` to determine the poly

[2020-06-30 06:18] robert-cronin commented on #22
I've sort of squeezed a fix into the upcoming PR. Now the vault keys are stored and managed as metadata by the `VaultManager` class in a `.vault` folder at the root of the polykey path. This is encrypted/decrypted by a `keyManager` that is dependency injected into the `VaultManager` class.

[2020-06-30 06:41] robert-cronin commented on #49
I'm actually thinking for vault keys, we shouldn't store them as the raw keys (I have the keys encrypted at the moment by the keyManager: #22. As was mentioned above, we could use `pbkdf2` based on the master private key and a salt and then just store the salt instead and re-derive the keys when needed, although this might add some time to startup.

[2020-06-30 06:46] robert-cronin commented on #28
This is available in the latest PR #40. Now one can call `generateKeyPair` and have it either replace the primary identity or just have it generate a new key pair for use else where.

[2020-06-30 06:46] #28 closed, assigned to robert-cronin

[2020-06-30 06:47] robert-cronin commented on #10
Vaults now have chunk level-integrity guarantees via the AES-GCM algorithm.

[2020-06-30 06:52] robert-cronin commented on #5
Polykey will now use `vue.js` as its GUI framework.

[2020-06-30 06:55] robert-cronin commented on #39
Revocation of vault key is a non-issue because it is never shared, the vaults are shared over a secure wire with transport layer security and then re-encrypted on the other end with that keynodes own derived sym key.

[2020-06-30 06:56] robert-cronin commented on #42
A progress hook has been created and for the cli it has been used to illustrate the search for primes q and p as a multi-progress bar. For the GUI, this hook can also be used and is general enough for this purpose.

[2020-06-30 06:56] #42 closed, assigned to robert-cronin

[2020-06-30 06:59] robert-cronin commented on #44
Sorry for the late reply. This was fixed in PR #40 I believe. The duplicate paths arose because the cli and the lib had the same name and were compiled to the same directory. The cli is now named `pk.js` and is build to `dist/cli/pk.js`

[2020-06-30 06:59] #44 closed, assigned to robert-cronin

[2020-06-30 07:01] robert-cronin commented on #29
Encrypt/Decrypt commands were implemented in PR #35.

[2020-06-30 07:01] #29 closed, assigned to robert-cronin

[2020-06-30 07:01] robert-cronin commented on #27
Sign/Verify commands were implemented in PR #35.

[2020-06-30 07:01] #27 closed, assigned to robert-cronin

[2020-06-30 07:03] robert-cronin commented on #36
A custom peer store and peer info was implemented in PR #40.

[2020-06-30 07:03] #36 closed, assigned to robert-cronin

[2020-06-30 07:05] robert-cronin commented on #32
Multicast Peer discovery was added in PR #40 and the git server/client is added for p2p vault sharing in PR #43

[2020-06-30 12:14] CMCDragonkai commented on #22
FYI, directories inside home are hidden with `.polykey`, but within `.polykey` you don't need to hide anything anymore, so you can just use normal names. So if we are using `~/.polykey`, then `~/.polykey/vault` is fine. Although does this mean it's the metadata for all vaults, or just 1 vault?

Furthermore, as part of the design spec, I'm sure that `~/.polykey` might just be a "default" location,

[2020-06-30 12:21] CMCDragonkai commented on #48
Web of trust is actually outside of the PKI infrastructure. It was designed to be an alternative to the hierarchical PKI system.

However bridging web of trust with PKI is like having federated hierarchies. So that's what polykey can do. Because Polykey agents act within a hierarchy (thus usable for a corporation or within your personal hierarchy of secrets), but at the same time the ability to sh

[2020-07-03 02:07] robert-cronin opened #50 "IPC communication between agent and client (CLI/GUI)"
The next problem to figure out is how the client and agent, it looks like there are a couple of ways to achieve this:

- Via [gRPC](https://stackoverflow.com/questions/54844882/grpc-server-in-python-with-unix-domain-socket)
- Via NodeJS net module which has support for [windows and unix]( https://nodejs.org/api/net.html#net_ipc_support)

Discovery between the agent and the client also needs to be

[2020-07-03 02:15] robert-cronin opened #51 "Lockfiles to constrain keynodes to a single agent"
Also it is intended to have a single agent per user that can manage multiple keynodes just like a single ssh-agent per user can manage multiple keys. For any particular keynode, it can be registered against a particular agent that represents the authentication context for that keynode.

To prevent multiple agents (i.e. muiltiple users on the same system) from managing the same keynode, we could cr

[2020-07-03 02:16] #16 closed, assigned to robert-cronin

[2020-07-03 02:16] #22 closed, assigned to robert-cronin

[2020-07-03 02:16] #31 closed, assigned to robert-cronin

[2020-07-03 02:16] #32 closed, assigned to robert-cronin

[2020-07-03 04:59] robert-cronin commented on #47
This PR is closed in favour of PR #52

[2020-07-03 06:36] robert-cronin commented on #50
It turns out node grpc doe not support UDS: https://github.com/grpc/grpc-node/issues/258 so I am going with the nodejs `net` module and a proto file/`protobufjs` for the message format

[2020-07-03 07:57] CMCDragonkai commented on #52
Are we able to separate PKI CA functionality from the TLS requirements of GRPC? Because the design of the CA is needed for other things, whereas GRPC just need a TLS certificate (a self-signed cert is fine). I think alot of apps even just expect you to give them a cert, and if it doesn't exist, will generate one like jupyter notebook which auto creates HTTPS server.

[2020-07-03 08:00] robert-cronin commented on #52
Certainly, we can make the PKI just a convenience class and have polykey take a parameter of cert file, key file and a list of root certs for the trusted CAs. that would satisfy the separation requirements I think

[2020-07-03 13:43] CMCDragonkai commented on #52
I believe that the cert file and key file are the ones necessary for the server side. As for the client side, if we are talking about pk clients, they should accept self-signed certs, or not verify against CA roots. Although we could pre-generate certs for polykey when we distribute the application from Matrix AI... but this will require renewal.

If we can bootstrap trust from OS capabilities, th

[2020-07-03 15:20] robert-cronin commented on #52
There was the issue of enforced certificate checking by node grpc so self signed certs don't actually work. Could we just make the agent a trusted CA? Since the agent is already a known location for each user context, it could act as the CA for each newly created polykey agent. But like you said, in the same user context, then it's a non-issue. So the agent as a CA would be more for the issue that

[2020-07-04 01:53] CMCDragonkai commented on #52
I meant other non-polykey programs masquerading as a polykey agent. But I'm not sure if this is even a problem since it seems possible for gpg agent to act like an ssh agent.

On 4 July 2020 01:20:52 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-04 08:17] CMCDragonkai commented on #52
Are you sure that node GRPC enforces CA verification? That seems strange. Usually there should be an option for this.

[2020-07-06 04:32] robert-cronin commented on #52
I've added PKI functionality to the proper domain, which as I understand it is the key manager. Also, the CA requirements are no completely separate and the key manager just accepts certs via a load cert function.

[2020-07-07 03:45] #46 closed, assigned to robert-cronin

[2020-07-07 03:48] robert-cronin commented on #8
Git vault sharing was implemented in PR #43

[2020-07-07 03:48] #8 closed, assigned to robert-cronin

[2020-07-07 03:49] robert-cronin commented on #8
Authentication is done via SSL certs and secure gRPC connection, template authorisation is done in the vault itself by storing a list of pubKeys that can access the specified vault. A better authorisation model can be implemented at a later date.

[2020-07-07 04:29] robert-cronin opened #54 "Prevent webpack from compiling lib code thrice for agent/cli/lib"
Webpack currently has three outputs: a file each for the lib, cli and agent. The core lib code is compiled in all three of these outputs and that is unnecessary. we need to find some way to separate them out.
Here is a useful gist: https://gist.github.com/sokra/1522d586b8e5c0f5072d7565c2bee693

[2020-07-07 07:01] robert-cronin commented on #53
branch has been rebased onto master

[2020-07-07 08:47] CMCDragonkai commented on #54
The lib should be shared. Make lib external with respect to the other 2?

On 7 July 2020 14:29:38 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-07 08:49] robert-cronin commented on #54
Yeah this is a good idea, I think it's best to specify this in the `externals` of each entry point

[2020-07-07 08:57] CMCDragonkai commented on #54
The way lib gets imported will need to be rewritten to point to the locally produced artifact. Or... the lib can be its own npm package. That would piggy back off npm to produce this structure sharing we need.

On 7 July 2020 18:49:26 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-07 09:24] robert-cronin commented on #54
Yeah it was relatively painless with webpack, in the CLI, I have a single relative import that points to the lib dir. All I had to do was add a line in the cli webpack config:
[code]
Works just the same as before, reducing its size from 60KiB to 17KiB. Not really a dramatic change but it removes redundancy.

[2020-07-09 11:57] robert-cronin commented on #53
It seems like there is a lot of redundancy in defining the communication protocol between cli and agent. At first I tried to simply define the cli on the agent and then pass the arguments via the unix domain socket but I ran into some issues especially with controlling the UX on the cli so I went with defining a messaging protocol between the agent and any potential front end. I ended up having wh

[2020-07-09 14:57] CMCDragonkai commented on #53
What do you mean by redundancy here? I suppose grpc has protoc files? Or do you mean you want to "generate" the marshalling code. There are libraries to do this.

[2020-07-09 14:58] CMCDragonkai commented on #53
This MR is too big for me to review. I mean that literally, my browser doesn't load it properly. Won't be able to review from this interface. Are you able to either split it up into separate MRs, if not, we can instead perhaps do this by just merging and it and going through the pieces.

[2020-07-09 14:59] CMCDragonkai commented on #50
Does grpc-node generate marshaling code given proto files?

[2020-07-09 15:00] CMCDragonkai commented on #50
@robert-cronin can you update this issue indicating that UDS does work, and how you achieved it.

[2020-07-09 15:01] CMCDragonkai commented on #50
Clarification with grpc-node https://github.com/grpc/grpc-node/blob/master/PACKAGE-COMPARISON.md it seems to mean that it's not pure JS. Which means potential issues when deploying this on nativescript.

[2020-07-09 15:03] CMCDragonkai commented on #50
Oh I see, grpc-node actually distributes 2 packages. One of them requires C and the other is pure JS. The C one might be able to be compiled to the nativescript platforms. But the pure JS one would be safer, but is missing only a few features. Do we need those and which one are you using?

[2020-07-10 02:48] robert-cronin opened #55 "Exposing different interfaces for use of secrets within polykey"
We need to figure out how to expose the secrets contained within polykey for use in difference contexts.

Some potential interfaces are:
-  clipboard
- stdout,
- a file descriptor
- output to file (or just pipe to file/redirect to file)
- "env variable" injection
- http

[2020-07-10 02:54] robert-cronin commented on #53
Yes I just mean there is a lot of code to convert proto files into javascript and back again. I am going to take a look into `pbts` which is the `protobufjs` cli for generating bundled type definition and javascript files that describe the proto files directly.

[2020-07-10 02:56] robert-cronin commented on #53
I didn't realize it was this big! there are a few things I can do to make it smaller.
Using `pbts` to replace all the code for converting the proto files into javascript should reduce it significantly.

[2020-07-10 03:05] robert-cronin commented on #50
`protobufjs` has the ability to generate JavaScript code that encodes and decodes protocol buffers. It also generates typescript definition files. These are the commands I am using for a `proto` folder defined at the root directory:
[code]

[2020-07-10 03:08] robert-cronin commented on #50
Yeah so it was actually quite simple. The nodejs net module allows one to specify a file path in `net.createServer(...).listen(socketFilePath)` and it takes care of creating the socket file. Closing the server also removes the generated socket file.

[2020-07-10 03:14] robert-cronin commented on #50
Yeah I was originally using `grpc-js` but discovered there was no way to synchronously start the server and let it dynamically choose and available port. In `grpc` you can do it by `const port = server.bind('0.0.0.0:0')` but in `grpc-js` the `bind` function doesn't return anything. The only way to do this is `const port = await server.bindAsync('0.0.0.0:0')` and so its impossible to follow RAII. I

[2020-07-10 04:24] CMCDragonkai commented on #50
Make sure this is documented or auto generated by webpack?

On 10 July 2020 13:05:33 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-10 05:37] robert-cronin commented on #50
I am storing the proto files in a `proto` directory at the project root level and the script to generate it is stored in `scripts/compile_proto.sh` and is also an npm script in `package.json`. I will put something into the readme about this.

[2020-07-10 05:37] robert-cronin commented on #50
Just for future reference, it turns out the only way to import `grpc-js` is `import * as grpc from'@grpc/grpc-js`

[2020-07-10 06:09] CMCDragonkai commented on #50
We don't need to synchronously start and stop the server.

You can still do RAII with async await. Just have a async main function.

See loja-api's server entry point.

On 10 July 2020 13:14:17 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-10 06:33] robert-cronin commented on #50
Not sure what you mean, does loja have a dedicated `Server` class with a normal constructor and then a main function that acts like an `init`? I couldn't find anything like this.

If that's the case, I'm not sure what would be the difference to having a `serverStart` function?

I think there is still a way we can follow RAII, we just start the server asynchronously in the constructor. It's just no

[2020-07-10 08:07] CMCDragonkai commented on #50
Like this (`index.ts`):

[code]

Notice the `try` and `catch`.

Also the main function is basically an IIFE.

[2020-07-10 08:12] robert-cronin commented on #50
oh okay, I did notice this file, but thought it wasn't relevant to `PeerManager` since it is supposed to be initialised as a class instance and not just a function call. I think especially from the point of view of Polykey, the sub components should be composable and not just functions to call.

[2020-07-10 08:17] CMCDragonkai commented on #50
Oh right, so that's an issue. Some classes are not well "encapsulated" since they rely on "session" side-effects. For these things I usually abstract them out with dependency injection so that they are forced to be constructed at the top-level context. Thus that main function above, you see I am forced to create the database pool object there.

[2020-07-13 04:26] robert-cronin opened #56 "Add GitLab CI"

[2020-07-13 04:48] CMCDragonkai commented on #57
We will need to create the mirror repo in gitlab as well.

I'm wondering whether they should all be under an open-source group.

On 13 July 2020 14:26:36 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-13 04:50] robert-cronin commented on #57
I've created a mirror repo via the git url but I'm not sure if this achieves the full integration to show pipeline status on github.

[2020-07-13 09:07] CMCDragonkai commented on #55
Should keep track of this issue too: https://github.com/NixOS/rfcs/pull/59#issuecomment-657252560

[2020-07-13 09:55] #56 closed, assigned to robert-cronin

[2020-07-13 09:55] CMCDragonkai commented on #57
Merged done. Also repo is at https://gitlab.com/MatrixAI/open-source/js-polykey

[2020-07-13 09:56] CMCDragonkai commented on #53
There's a conflict in package.json. This commit will need to be rebased.

[2020-07-13 10:07] robert-cronin opened #58 "Codegen for proto -> js"
So I am trying to figure out the best way to compile proto files so they are resolved properly by webpack as it seems they are not handled properly.

The best way to me looks like first compiling the proto files into javascript using `protoc` or `grpc_tools_node_protoc` (from grpc-tools).

[2020-07-14 07:24] robert-cronin commented on #58
So the following command that works well on windows:
[code]
fails on nixos with `ENOENT` when trying to call `<rootDir>/node_modules/grpc-tools/bin/protoc`

[2020-07-14 07:31] robert-cronin commented on #58
I have been trying to build `grpc-tools` binaries directly from [grpc-node/packages/grpc-tools](https://github.com/grpc/grpc-node/tree/master/packages/grpc-tools) but I am getting an error of `/nix/store/hrkc2sf2883l16d5yq3zg0y339kfw4xv-binutils-2.31.1/bin/ld: cannot find -lgcc`

[2020-07-14 09:40] robert-cronin opened #59 "grpc-js: No connection established"
This error is a little hard to decipher but it occurs when you try to run the server without also running the CA server that they were issued from. Best way to fix is to re-issue the ssl certs with `./scripts/generate_ssl_certs.sh`.

I shall put something in the README along these lines in the upcoming agent PR

[2020-07-14 11:11] CMCDragonkai commented on #53
I'm guessing there's only 1 thing blocking this merge atm:

1. The protoc issue and native compilation of the dependency

This problem is really about understanding how to use nix.

Once this is done, we merge and then start reviewing each part in detail... in preparation for the UI work and the demo integration into Ouroboros and/or Matrix Relay VPN. These 2 will require you to talk to @nzhang-zh

[2020-07-14 11:12] CMCDragonkai commented on #53
In the mean time, can we also get a demo of the `pk` command line.

If you can record that, with https://asciinema.org/ and show that to the team for the all the common use-cases: generating secrets, passing secrets around, renaming stuff, sharing stuff... etc etc.

[2020-07-15 09:49] CMCDragonkai commented on #55
## Environment Variables

So to give an example of environment variables.

In any Unix shell you can set environment variables:

[code]

You can expose these variables to subprograms:

[code]

However subprograms CANNOT set environment variables in the parent process. Which is the current shell.

So how would polykey help in the process of setting environment variables?

There are 2 ways:

1. Is f

[2020-07-15 10:06] CMCDragonkai commented on #55
## Clipboard

Clipboards are a property of the "windowing" system of operating systems. Which means there is not standard API for clipboards. If you are on Linux, you have both X windowing system AND also the Wayland system.  These are 2 completely different APIs as well. If you are on Windows, you probably have some "windows native api"  to hook into. If you are on Android or iOS, again, native A

[2020-07-15 10:47] CMCDragonkai commented on #55
## File Descriptor

This is a theoretically elegant way of passing capabilities around. Because of its advanced nature, it will probably only be used by advanced users like Matrix AI, or other people who really care about security.

A file descriptor is a kernel object representing/and acting like a file. But it doesn't exist on the filesystem. It's not a "named" file.

[code]

Now technically thi

[2020-07-15 11:01] CMCDragonkai commented on #55
## HTTP or GRPC or take your pick of any networked protocol

This interfacing method makes Polykey equivalent to any other password/secret service like Vault or AWS Secret manager.

Basically this requires a third party networked client to send a request message with an authentation token that PK checks, and then returns a response with the relevant secret.

This has a little of complication here,

[2020-07-15 11:44] CMCDragonkai commented on #58
It turns that this https://github.com/grpc/grpc-node/tree/master/packages/grpc-tools package is just a JS shim around a native compiled C++ set of executables.

In fact it doesn't event really use `node-pre-gyp`, since that would require a `binding.gyp` file to exist.

To actually package up https://github.com/grpc/grpc-node/tree/master/packages/grpc-tools we will need to write a C++ Nix derivatio

[2020-07-15 11:48] CMCDragonkai commented on #58
Posted an upstream issue: https://github.com/NixOS/nixpkgs/issues/93173

[2020-07-16 06:26] robert-cronin commented on #51
This wasn't implemented in the linked PR so I'll be removed the `Fixes` keyword

[2020-07-16 06:29] #50 closed, assigned to robert-cronin

[2020-07-16 06:29] #54 closed, assigned to robert-cronin

[2020-07-16 06:29] #59 closed, assigned to robert-cronin

[2020-07-20 02:17] robert-cronin opened #62 "Concurrency read/write for vault operations"
We need to integrate concurrency into our git operations on vaults. Write operations must be FIFO but can be asynchronous to the user. Read operations can be parallel.
With the use of a callback pattern, we can also take advantage of transnational commits.
Some examples of concurrency libs in node.js are [async-mutex](https://github.com/DirtyHairy/async-mutex) and [live-mutex](https://github.com/O

[2020-07-20 04:27] robert-cronin commented on #62
I've added the library `async-mutex` for it's pure typescript implementation and it works just find. All I've needed to do is add a `try-catch-finally` block to all git operations that could be parallel write:

[code]

I've also added in a test to test concurrency with 50 parallel write operations and they all come out sequential on the git logs.

So this can be closed off with PR #60

[2020-07-20 04:46] robert-cronin opened #63 "After roughly commit 58, isomorphic git fails to commit again"
I am getting a strange error with isomorphic git, namely:
[code]
This only occurs after roughly 58 commits and is reliably failing on the 58th commit. I've tested isomorphic git with normal fs and it doesn't seem to be an issue:
[code]

So it seems more likely to be an issue with our implementation and use of isomorphic git and not with isomorphic git itself.

[2020-07-20 04:51] robert-cronin commented on #63
The full error message for clarity:
[code]

[2020-07-20 04:56] robert-cronin commented on #63
For more background, here is the jest test that is failing:
[code]
The `addSecret` method:
[code]
This then calls `commitChanges`:
[code]

[2020-07-20 06:43] CMCDragonkai commented on #63
These sorts of bugs tell us that we need to use a fuzzer or quickcheck equivalent.

On 20 July 2020 14:46:58 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-20 06:47] CMCDragonkai commented on #63
Example of a quickcheck that can be integrated into jest: https://github.com/dubzzz/fast-check

This allows us to quickly do property testing.

I'm not sure how complex it can fuzz, but generally with these sorts of things, you could "enumerate" legal sequences of operations. A command pattern basically.

Then test all the legal sequences of commands and then check if the system passes all of them

[2020-07-20 06:48] CMCDragonkai commented on #51
Lockfiles are not supported on VFS.

This is because lockfiles are platform specific, not agnostic.

And since this is about how the actual fs is stored, we would need to specialize this to the specific fs implementation. On Unix OS, we have flock. But what about windows?

[2020-07-20 06:49] CMCDragonkai commented on #41
My understanding is that the PK public key can be pushed up to the keybase profile just like the GPG and bitcoin addresses.

However a single human identity may have many PK keys. So either keybase allows us to publish a set of public keys (representing secret Points of Presence), or we just have to choose one of them.

[2020-07-20 06:52] CMCDragonkai commented on #62
Once this is available, the concept of a "transaction" can be simulated with JS callbacks.

For example the `CounterImmutable` from js-resource-counter does this: https://github.com/MatrixAI/js-resource-counter/blob/master/test/CounterImmutable.js#L129-L136

The callback is supplied with the data structure to do internal mutating ops.

Note that this is a common pattern across all immutable data s

[2020-07-20 06:53] CMCDragonkai commented on #48
Renamed the title so it sounds cooler.

[2020-07-20 06:56] CMCDragonkai commented on #34
Ah password complexity check is a separate problem from password generation. BIP39 is a good generator for high entropy secrets that is still human readable. It's like Zooko's triangle.

However for user supplied passwords, we can do the check and tell them about the entropy. But I'd like to keep it as a suggestion, and not as enforcement.

To enforce password complexity is complicated, but I'd im

[2020-07-20 06:58] CMCDragonkai commented on #45
Basic sharing should just be done directly through key exchange.

Beyond that, authorization of secrets within the vault really only makes sense with OAuth2.

But the clients of that system would not be PK agents, they would be arbitrary external clients supporting HTTPS/GRPC transports to query a PK agent.

Between PK agents, I'd like to keep it simple and stay with vaults sharing through key exc

[2020-07-20 06:59] CMCDragonkai commented on #30
@robert-cronin Given that you've created the demo already, could we get an update on the status of this issue?

In relation to #3 as well.

[2020-07-20 07:02] CMCDragonkai commented on #12
We're able to reuse what we did in EFS for js-polykey right?

Also is it possible to genericize what EFS does, so that the same thread pool can be shared between all parallel requirements. So if js-polykey needs to use a thread pool, that is the same thread pool as used by EFS.

This way we avoid having to create separate threadpools for every single component that will require parallelism.

[2020-07-20 07:03] CMCDragonkai commented on #10
Does this mean this issue is resolved?

[2020-07-20 07:04] CMCDragonkai commented on #5
I wonder if this is a problem we can solve at a higher level.

If there's no change that we can detect at the higher level, it's just a noop.

On the otherhand what's the harm in allowing this to happen?

[2020-07-20 07:06] CMCDragonkai commented on #49
I imagined that the keys would be stored encrypted (as part of the EFS state), but you have to supply the key to decrypt it.

In Hashicorp vault, the root key encrypts little keys which decrypt the individual vaults. Same thing can happen in our case. Except the passphrase to efs is the little key.

So the question is that given the root key, there must be a way to acquire automatically the little

[2020-07-20 07:30] CMCDragonkai commented on #60
BTW, for the compiled output, I'd recommend not using the minified output here.

Minification is only needed for web apps and the final GUI app.

For this sort of stuff, not-minifying allow us to more easily do diffs in our commits.

[2020-07-20 07:36] CMCDragonkai commented on #60
Most of this is syntax changes right?

Can we merge the simple stuff first like syntax changes and then get to the meat of the stuff in the separate PR?

Also the number of files being changed in docs and dist always ends up blowing up the PR interface.

Is there a way we can not build the docs/dist changes until we need to? So the PRs here can just add functionality, and then just before we merge

[2020-07-22 02:09] robert-cronin commented on #60
Yeah sure, we can stop webpack from minifying with the following option:
[code]
I will do this now and we can minify later

[2020-07-22 02:23] robert-cronin commented on #60
Yeah I agree, the dist and docs folders clog up the review interface. We could always `.gitignore` those folders since they are generated output after all? Or probably the better option would  be to do what we did last time and separate out the commits into a `generated files` commit for docs/dist etc and a `source files` commit for actual changes that need to be reviewed. I think I will maintain

[2020-07-22 02:36] robert-cronin commented on #60
You can now exclude the generated files from a review based on a single commit and I will try to keep it this way with future changes :+1:

[2020-07-22 03:20] robert-cronin commented on #51
ahh yes we probably need an isomorphic implementation of something like [npm/lockfiles](https://github.com/npm/lockfile) although the [source file](https://github.com/npm/lockfile/blob/master/lockfile.js) doesn't look too complicated, we could probably adapt it to an `isomorphic-lockfiles`

[2020-07-22 03:20] CMCDragonkai commented on #60
You can't gitignore it because the dist must exist for npm to pick it up.

I reckon just push dist and docs to the final commit.

But it may have to be in a commit outside of the MR to avoid polluting the interface.

On 22 July 2020 12:24:06 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-22 03:20] CMCDragonkai commented on #60
Oh this works?

On 22 July 2020 12:36:40 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-22 03:25] robert-cronin commented on #41
it looks like keybase doesn't support adding keypairs at the moment: https://keybase.io/docs/api/1.0/call/key/add
Not sure when this will be developed, but we could somehow adapt key storage to [kbfs](https://book.keybase.io/docs/files)? but I don't think it has an API

[2020-07-22 03:50] robert-cronin commented on #41
well there is always the [keybase-bot](https://github.com/keybase/keybase-bot), I am looking into it now and it seems the bot can use `kvstore`  so we can store it there. There are currently bots for `github`, `facebook` etc so we can implement a bot for `polykey` that takes one of the users `paper-key` and is separated from the users account but can also feed messages into teams or individual cha

[2020-07-22 03:57] CMCDragonkai commented on #55
Adding another one...

## External secret stores

There are some other external secret stores that sometimes users have to utilize.

For example to use AWS ECS and to put in secret keys in during deployment we use environment variables. However sometimes these keys should not be exposed to the infrastructure team.

So AWS allows one to get secret variables as paths to the AWS SSM.

So if a user we

[2020-07-22 04:12] robert-cronin commented on #41
here is an example I was playing around with, basically the bot is initialized with a keybase username and a pre-generated `paper-key`:
[code]
and the output:
[code]
notice the teamName defaults to the username, but it could be attached to a particular team within polykey and send automated messages for public keys to facilitate peer discovery

[2020-07-24 02:40] robert-cronin commented on #30
The cli now exposes a sub-command for interacting with secrets, the pattern looks like this:
[code]
Under this sub command, the user can manipulate secrets with the following commands:
[code]

There is still the option of doing away with command options like `--vault-name` and `--secret-name` and just doing something like a file path: `<vault-name>/<secret-name>` but lets just stick with the exist

[2020-07-24 03:18] CMCDragonkai commented on #44
Also I love the idea of fonts for literary design:

* https://paulbradshaw.github.io/using-spark/
* https://github.com/aftertheflood/sparks

[2020-07-24 03:24] CMCDragonkai commented on #44
https://microvis.info

[2020-07-29 15:48] CMCDragonkai commented on #55
Adding another one when I was thinking about integration into Matrix OS and NixOS.

## Pseudo Filesystems

See: https://en.wikipedia.org/wiki/Synthetic_file_system

Basically we can present certain secrets to the user through presenting a pseudo filesystem and automatically mounting it somewhere.

Of course, this involves things like FUSE since Polykey is likely run by non-root user.

On the other

[2020-08-03 01:45] robert-cronin commented on #42
From the ongoing development in this repo, it seems to me that vuex would be the stronger candidate. It fits in quite well with the components, minimal configuration and has much of the same middleware that redux has in the form of plugins.

[2020-08-03 07:40] robert-cronin commented on #19
points 1 and 4 are completed upon installation from our overlay (or possibly nixpkgs in the future) and points 2 and 3 are moved to the running of the app. That is to say creation of new keynodes and location specification of existing keynodes will be the domain of the app and not the installation procedure.

[2020-08-03 07:43] robert-cronin commented on #16
The CLI (which is included with [js-polykey](https://www.npmjs.com/package/js-polykey)) is now deployed via npm. Automatic deployment is still yet to be added, but I think for now it can be manually deployed and I will create a new issue for automatic deployment.

[2020-08-03 08:07] robert-cronin commented on #45
Actually, this doesn't look too challenging, I think we can close it off in PR #43 as well

[2020-08-03 09:52] robert-cronin opened #66 "npm release in gitlab-ci doesn't work"
I am getting the following error when trying to deploy automatically with `npm publish`:
[code]

[2020-08-03 09:53] robert-cronin commented on #66
might have some luck here: https://docs.gitlab.com/ee/user/packages/npm_registry/#uploading-packages

[2020-08-03 10:03] #19 closed

[2020-08-03 14:14] CMCDragonkai commented on #19
One has to differentiate between the GUI and CLI.

Because when someone use the CLI most likely they want to use the CLI version, we could do something like:

[code]

Or some other variation.

[2020-08-03 14:14] CMCDragonkai commented on #19
Or `polykey` calls GUI while `pk` calls CLI.

[2020-08-03 14:16] CMCDragonkai commented on #19
I'm imagining what would happen if someone uses Nix to install js-polykey and then also installs polykey.

You would end up with both, so then 2  separate commands.

However the GUI polykey package should also install the CLI command since it includes it, so users should only really install one or the other.

[2020-08-07 00:50] CMCDragonkai opened #47 "Use upstream nixpkgs for pkgs.nix because this is opensource"
Change pkgs.nix an upstream nixpkgs pin. You already have this in release.nix, just move that over to pkgs.nix.

[code]

Also we won't have any dependencies here that we need that won't be in upstream yet.

But if we do... we will then have an opensource overlay.

[2020-08-07 01:11] CMCDragonkai opened #119 "Windows Default Keynode Path should be AppData/Roaming"
The AppData/Roaming is the official location for application data that is moved with the user profile of the OS.

It makes sense to default it to AppData/Roaming when on Windows.

But on Linux, you should also check for the `$XDG_...` environment variables. Because there is a specific location for linux desktop now: https://wiki.archlinux.org/index.php/XDG_Base_Directory

That only applies for lin

[2020-08-10 01:23] robert-cronin commented on #46
License change has been pushed to master. Closing.

[2020-08-10 01:34] robert-cronin commented on #47
Yeah I like the idea of an opensource overlay to complement our open source projects.

[2020-08-10 02:25] robert-cronin commented on #47
This has been pushed to master.

[2020-08-10 02:25] #47 closed

[2020-08-10 04:52] CMCDragonkai commented on #41
We'll have to use signatures. We cannot add public keys to keybase system. Signatures will be fine, as that's what they use already to indicate ownership of social media profiles. Posting a signature to keybase indicates that the profile has ownership over any keynode that satisfies the signature check. Later other social networks can be approached the same way, by expecting keynode signatures to

[2020-08-10 04:52] robert-cronin commented on #41
Keybase API login can be achieved in JavaScript using https://github.com/keybase/node-login
The idea was to login and post a signature for polykey primary key advertising: https://keybase.io/docs/api/1.0/call/sig/post
But we ran into an error using `node-login` lib:
[code]
The only mention to this error code I could find was this issue on the client repo: https://github.com/keybase/client/issues/5

[2020-08-11 01:49] robert-cronin commented on #55
This should really be split into separate issues so we can tackle them asynchronously.

[2020-08-11 01:51] robert-cronin opened #67 "Environment variables interface"
## Environment Variables

So to give an example of environment variables.

In any Unix shell you can set environment variables:

[code]

You can expose these variables to subprograms:

[code]

However subprograms CANNOT set environment variables in the parent process. Which is the current shell.

So how would polykey help in the process of setting environment variables?

There are 2 ways:

1. Is f

[2020-08-11 01:52] robert-cronin opened #68 "Clipboard interface"
## Clipboard

Clipboards are a property of the "windowing" system of operating systems. Which means there is not standard API for clipboards. If you are on Linux, you have both X windowing system AND also the Wayland system.  These are 2 completely different APIs as well. If you are on Windows, you probably have some "windows native api"  to hook into. If you are on Android or iOS, again, native A

[2020-08-11 01:53] robert-cronin opened #69 "File Descriptor Interface"
## File Descriptor

This is a theoretically elegant way of passing capabilities around. Because of its advanced nature, it will probably only be used by advanced users like Matrix AI, or other people who really care about security.

A file descriptor is a kernel object representing/and acting like a file. But it doesn't exist on the filesystem. It's not a "named" file.

[code]

Now technically thi

[2020-08-11 01:54] robert-cronin opened #70 "Network Interface"
## HTTP or GRPC or take your pick of any networked protocol

This interfacing method makes Polykey equivalent to any other password/secret service like Vault or AWS Secret manager.

Basically this requires a third party networked client to send a request message with an authentation token that PK checks, and then returns a response with the relevant secret.

This has a little of complication here,

[2020-08-11 01:55] robert-cronin opened #71 "External secret store"
There are some other external secret stores that sometimes users have to utilize.

For example to use AWS ECS and to put in secret keys in during deployment we use environment variables. However sometimes these keys should not be exposed to the infrastructure team.

So AWS allows one to get secret variables as paths to the AWS SSM.

So if a user were to be using AWS ECS/SSM then where does polykey

[2020-08-11 01:55] robert-cronin opened #72 "Pseudo file systems interface"
Adding another interface when I was thinking about integration into Matrix OS and NixOS.

See: https://en.wikipedia.org/wiki/Synthetic_file_system

Basically we can present certain secrets to the user through presenting a pseudo filesystem and automatically mounting it somewhere.

Of course, this involves things like FUSE since Polykey is likely run by non-root user.

On the other hand running as

[2020-08-11 01:56] robert-cronin commented on #55
Has been split, child issues:
#67
#68
#69
#70
#71
#72

[2020-08-11 01:56] #55 closed, assigned to robert-cronin

[2020-08-11 02:07] CMCDragonkai commented on #67
For GUI, to do env variable injection, you would need to fork and exec and then make sure the process is inherited by X. Sort of like dmenu. You don't want Polykey to act like a process manager so you don't want to be the parent to all these processes.

Not sure how to do it exactly, but I know dmenu program does this. It is a graphical launcher.

Windows is likely different again.

Is it possible

[2020-08-11 02:08] CMCDragonkai commented on #37
May require intermediate relay Pk keynodes.

Also Twilio offers STUN relays.

[2020-08-11 02:16] robert-cronin commented on #37
This was something I was thinking about, sort of like a hosting service for intermediate keynodes that we could put up on polykey.com or something like that. But I remember something about TWILIOs STUN/TURN being good enough for a first attempt.

[2020-08-11 02:20] robert-cronin commented on #67
I wasn't even thinking about environment variable injection by the GUI, how would it work? I guess you could have polykey-gui open the standard terminal with the environment variables injected in? Or are you thinking something more for triggering other GUIs from polykey-gui with env var injection that way?

I am not too familiar with dmenu :D perhaps it offers this capability

[2020-08-11 02:25] CMCDragonkai opened #74 "Access Audit Log"
Any access to secret vaults should be logged, and maybe we can use the atime of files/directories. I dont remember how directory atimes are updated.

Access logs can go into a file, or go to stderr.

Going to stderr allows users to integrate external audit logging systems.

Going to file means pk will then show the logs over time.

It also means logging format should be structured. There is a sysl

[2020-08-11 02:25] CMCDragonkai commented on #74
It can show who/what/when/how.

[2020-08-11 02:26] CMCDragonkai commented on #72
Out of all interfaces, this one is the lowest priority. It is also the most complex.

[2020-08-11 03:25] robert-cronin commented on #67
From discussion, it looks like, at least for UNIX systems, double fork+exec is sufficient to launch a GUI program with environment variable injection. This is what happens from the application launcher anyway. Any apps launched this way become orphaned and picked up again by systemd. If they are launched by a terminal, they become child processes of that terminal process.

So in this way, polykey

[2020-08-11 04:25] robert-cronin commented on #73
Pipeline successful. This PR is now ready for review and merge.

[2020-08-11 04:52] CMCDragonkai commented on #73
Why is there so many docs changed? I wonder if docs should just be a CI/CD artifact that gets deployed into gh-pages or something.

[2020-08-11 05:07] robert-cronin commented on #73
Docs have to be regenerated with every commit to point to the commit hash. This is obviously redundant for non-release commits. I'd like to put doc generation into CI/CD. Perhaps I do that now then? it would simplify the review process. The way I've seen it done before is push to a new branch called something like `gh-pages` and only push to that branch on new tags. Then github pages can reference

[2020-08-11 07:41] robert-cronin commented on #37
After looking into STUN/TURN/ICE in more detail, there are a few concerns that make it less straightforward than originally thought. So STUN/TURN/ICE work exclusively with the WebRTC framework which only works in the browser environment. So first of all, it makes more sense that this would be an implementation of the `PolyKey-Electron` and `PolyKey-Nativescript` repo's.

Secondly, when considering

[2020-08-11 08:07] robert-cronin commented on #37
Looks like there is an issue with running `electron-webrtc` on nixos:
![image](https://user-images.githubusercontent.com/8540764/89873231-b1cd2d80-dbec-11ea-8226-bb6c32750aa2.png)
This looks like it cannot create a new electron process.

[2020-08-11 08:13] robert-cronin commented on #37
There is also another issue with letting the agent communicate with the front end `electron-renderer` process. Don't we want the polykey nodes (which are run by the agent as a daemon or by the `electron-main` process to be available at all times for peer queries/requests? If you close the PolyKey window, it will be minimized to the system tray and the `electron-renderer` process will stop working.

[2020-08-11 15:26] CMCDragonkai commented on #60
What's the relationship between this PR and #73? Should this be merged first?

[2020-08-11 15:31] CMCDragonkai opened #75 "Move docs directory to gh-pages"
Instead of every PR generating docs which is now a pain. We should move these to the gh-pages branch so they can be presented on the github pages website.

Furthermore, pushing to gh-pages branch can be done by the CI/CD automatically.

It's basically pushing to the gh-pages branch, so the CI/CD just need to be configured with the relevant key to do so.

Would make it easier for me to review the P

[2020-08-11 15:49] CMCDragonkai commented on #6
So we are definitely using git and not changing to anything else for now. However I think irmin is worthwhile to explore, it seems really fascinating but so difficult to make use of. In Polykey such a database would have to be compiled to JS and sufficient usage documentation would have to make sense. And I'm still trying to figure out in what sense it is distributed. Seems like the distribution i

[2020-08-11 15:49] #6 closed, assigned to robert-cronin

[2020-08-11 15:55] CMCDragonkai commented on #73
Created a new issue for the docs problem #75. And yes I've used gh-pages to great effect. @nzhang-zh can help with configuring the gitlab CI/CD settings to have the right keys to commit/push to gh-pages branch. Not sure if that means a deploy key has to be used and whether that would be a Github API token.

[2020-08-11 16:05] robert-cronin commented on #73
Nice, setting environment variables for CI/CD is fairly straightforward, we just need to use a nix image with git installed for the building and pushing so our new custom nix image will come in handy. Just need a script for the building/ pushing process.

[2020-08-11 16:06] CMCDragonkai commented on #73
We wouldn't want to embed the secret in the image. It needs to be injected from the CI/CD settings.

[2020-08-11 16:07] robert-cronin commented on #73
I would add in a deploy phase for building web pack and publishing to npm but there is a road block in #66 that has to be solved before that happens.

[2020-08-11 16:10] robert-cronin commented on #60
#73 can be merged first, it is a separate addition that doesn't include any dedicated testing (the testing for that addition will be added in here)

[2020-08-11 16:50] CMCDragonkai commented on #66
Pretty sure it should just be `polykey`, not `js-polykey` right? The `js-` prefix was only intended to disambiguate for our libraries with the same name on Github.

However, we may be using our vendor prefix `@matrixai` for many other things.

I don't think `Polykey` main app can be distributed on npm.

[2020-08-11 16:51] robert-cronin opened #52 ".env file exposed on mvp branch"
For whatever reason, . gitignore doesn't include . env and this has led to my (free) twilio account credentials being exposed. This needs to be fixed ASAP and I will generate new tokens. Not really a big deal but could have been more serious.
We can look forward to the day when the .env file is not needed and can be substituted with polykey secret injection.

[2020-08-11 16:51] robert-cronin commented on #52
also an issue on master

[2020-08-11 16:53] CMCDragonkai commented on #52
Lol. I just wrote an issue in our orientation about people making mistakes here. But the .env should always be ignored, that's why it's always in our demo repos. Is this your private twilio account?

[2020-08-11 16:59] robert-cronin commented on #52
what good timing I have haha.
Yeah i think the create-vuejs-project command  overwrote it. There is a lesson in here about not using external templates.

Yeah it's just an account I created a few days ago for testing. No big deal.

[2020-08-11 17:02] robert-cronin commented on #66
there was an issue with having the pname the same as one of the dependencies in nixos. it's not case sensitive either so it's not a simple matter of having polykey for the lib via npm and PolyKey for the GUI via nixpkgs

[2020-08-11 17:05] robert-cronin commented on #66
@matrixai/polykey should disambiguate. Shall I rename it to that then and deprecate [js-polykey](https://www.npmjs.com/package/js-polykey)?

[2020-08-12 01:46] CMCDragonkai commented on #66
Yes

On 12 August 2020 03:05:24 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-08-12 01:50] CMCDragonkai opened #76 "Vault Schema"
Vault schemas describe the content of a vault and limits the media types that is allowed to go into the vault files.

A vault can have an attached schema. When a schema is attached, it autogenerates the marshaling code and acts like a validation layer.

This allows us to represent things like credit card data, or username password combos, or tls certificates, public and private keys.

Can reuse id

[2020-08-12 02:07] #52 closed

[2020-08-12 02:49] robert-cronin commented on #77
The points discussed here are largely addressed already in the agent code. What is left is the expiry on the auth for unlocking a polykey node. This will be up to the agent to control and it can re-lock after a specific time period.

[2020-08-12 03:09] robert-cronin commented on #30
secrets are now referenced on the CLI with the format `<vaultName>:<secretName>`
The only thing remaining is to develop the editor for the secrets. I will make a new issue for this

[2020-08-12 03:18] robert-cronin opened #78 "Secret editor on the CLI"
This issue is based on https://github.com/MatrixAI/js-polykey/issues/30#issuecomment-483919937
Basically we want to be able to do something like
[code]
and have it open in the default editor.

Here is how you do it in shell:
[code]
we just need to figure out how to have it triggered in JavaScript

[2020-08-12 03:18] #30 closed, assigned to robert-cronin

[2020-08-12 04:22] CMCDragonkai commented on #78
Here you would use `$EDITOR` as the default editor. If it is not defined we may just error out.

On 12 August 2020 13:18:15 GMT+10:00, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-08-12 04:25] CMCDragonkai commented on #78
Oh this is easy. Create a temporary file, open a fd to it, delete it the file on fs, write the secret contents to file, then open an editor the fd (which is read/write).

Note that the editor may be making a copy so we can't guarantee that they are editing the temporary file.

But when saved you can then take that fd and seek to beginning and then save to the secret.

However this is not that impo

[2020-08-12 05:03] robert-cronin commented on #75
apparently the best way to deploy to the `gh-pages` branch is via a [github deploy token](https://docs.github.com/en/developers/overview/managing-deploy-keys)

[2020-08-12 08:21] robert-cronin commented on #73
With the new PR #79 created for the separate docs issue, I think there is nothing holding this PR back from being merged.

[2020-08-12 09:40] CMCDragonkai commented on #73
Ok we merge this first, and then we merge #60. I think #60 should be merged sooner than later, so we can have a proper test harness for subsequent extension.

All the comments above should be turned into new issues to resolve so it doesn't block this PR.

[2020-08-12 09:43] CMCDragonkai commented on #79
Can you link all the authentication details here as well. And what kind of token are we using, and what env variable.

* https://github.com/cli/cli/issues/851
* https://github.com/cli/cli/issues/1229

[2020-08-13 08:37] robert-cronin commented on #37
I am currently in the process of building a custom STUN/TURN functionality into `js-polykey`. I thought I should document my progress here.

So it looks like STUN/TURN is not strictly linked to WebRTC and there have been attempts to replicate the functionality in nodejs:
https://www.npmjs.com/package/stunsrv
https://github.com/summerwind/node-stun
https://github.com/enobufs/stun

I am currently tr

[2020-08-16 00:45] CMCDragonkai commented on #73
Conflicts must be resolved. Then merge away. The number of PRs is increasing!

[2020-08-16 00:46] CMCDragonkai commented on #73
And also comments need to be turned into issues.

[2020-08-17 02:50] CMCDragonkai opened #80 "Integrating PKCS #11 standard for accessing HSM"
Polykey could be used to access HSM.

In particular we can maintain some information in available HSM on the target platform instead of just sitting in in `~/.polykey`.

Or perhaps even an entire keynode could be put into the HSM. Right now we just need a posix filesystem.

Not entirely sure, but I suspect support of HSM would enable alot more corporate usage. And this includes TPM, ARM secure enc

[2020-08-17 02:51] CMCDragonkai commented on #80
* https://github.com/PeculiarVentures/graphene
* https://github.com/PeculiarVentures/node-webcrypto-p11

[2020-08-17 02:53] CMCDragonkai commented on #3
This issue could be closed soon with a spec for the Polykey api. At least an initial spec that we can iterate on. It can be in the docs directory. But generated docs is different from written docs. We would need to separate the 2.

[2020-08-18 01:52] robert-cronin opened #81 "Make secret path format (<vaultName>:<secretName>) regex more multi-platform"
Currently we have a pathRegex of the following:
[code]
Some further considerations for Unix and Windows can be found here:
https://superuser.com/questions/358855/what-characters-are-safe-in-cross-platform-file-names-for-linux-windows-and-os
We need to account for all the combinations on both types of file systems.

[2020-08-18 01:55] robert-cronin opened #82 "Exception Hierarchy for Structured Error Handling"
We need to create a new exception hierarchy for the library and CLI commands. This will allow structured error handling for Polykey.

VirtualFS does this with `errno` library and it tells the user/developer something similar to a trace (which function called it and what error code it was)

Linked to https://github.com/MatrixAI/PolyKey/issues/51

[2020-08-18 01:57] robert-cronin commented on #81
I should also mention this includes the environment variable naming which is the last capturing group in the above regex.

[2020-08-18 02:01] robert-cronin opened #83 "Separate CLI commands into separate files."
They are currently in single domain specific files like `Secrets.ts` or `Peers.ts` but we should probably separate them into folders and commands like this perhaps:
[code]

[2020-08-18 02:02] robert-cronin commented on #83
There was also a suggestion to use Haskell onion layering as a guide for the format:
https://www.parsonsmatt.org/2018/03/22/three_layer_haskell_cake.html
https://news.ycombinator.com/item?id=12604767
Also thinking of the commands as MVC and structuring them in such a way that we can compose commands in novel ways in the future.

[2020-08-18 02:13] #67 closed, assigned to robert-cronin

[2020-08-18 03:00] robert-cronin opened #85 "Add STUN functionality"
With #84, js-polykey will have all it needs to do NAT traversal reliably with just TCP hole punching and TURN relay server functionality. In the grand scheme of things, however, this is not completely adequate as it leaves out STUN functionality. With thousands of private nodes connecting to a single public node, TURN sockets will fill up quickly and a the relay traffic will become a burden on inf

[2020-08-18 03:01] robert-cronin commented on #37
As per #84, NAT traversal will be left as TCP hole punching and TURN functionality for now. STUN functionality has been separated into issue #85

[2020-08-18 09:08] CMCDragonkai commented on #82
The reason I used errno in js-virtualfs was to match the errors from
POSIX filesystems.

In js-polykey there's no analogue. So a custom exception hierarchy is fine.

Make sure to use the `ts-custom-error` library to do this though.

On 8/18/20 11:55 AM, Robbie Cronin wrote:

[2020-08-18 10:51] CMCDragonkai commented on #73
Nice.

[2020-08-19 04:35] robert-cronin opened #86 "Peer Communication Mixes Packets"
Sometimes you get the wrong message type being received from a request to peer when sending multiple requests at once. This should not happen and is because we're not handling the sockets properly. Right now, we are reusing the sockets with nodejs `setKeepAlive`, but I suspect we are reusing sockets for concurrent requests and not discriminating between the end of the request/response cycle. This

[2020-08-19 04:36] robert-cronin commented on #86
This bug turned up on direct p2p communication and via an intermediary TURN Peer when trying to clone multiple vaults concurrently

[2020-08-19 06:01] CMCDragonkai commented on #86
Can you explain what is your protocol being used when sending messages? I thought it would be GRPC and we shouldn't have to deal with multiplexing problems. You're not using raw TCP frames right?

[2020-08-19 06:45] CMCDragonkai commented on #39
I think this issue can be changed to be about key-rollover. As in rekeying a vault or the master key. This can be done interactively.

[2020-08-19 07:17] CMCDragonkai commented on #45
Some points of discussion...

## Push Authority

1. Keynodes all have unique keypairs
2. For push authority, there is a Source keynode and Target keynode.
3. Target keynode must know the public key of the Source keynode, and must have in its access control list, a entry tuple of push permission, source keynode public key, and unique vault id
4. The unique vault id is identifying a vault that alrea

[2020-08-19 08:58] robert-cronin commented on #86
originally, all peer sharing was done via gRPC, but I changed it halfway through implementing the TURN server as gRPC is not byo socket and we need that to control the sockets.

Now that I have a working implementation of packet relay, I've realised that this is not really the case at all as we don't need to access the sockets of the GitServer/GitClient, we just need to relay the packets.

I will

[2020-08-19 09:00] robert-cronin commented on #86
background on gRPC load balancing, might be relevant here: https://grpc.io/blog/grpc-load-balancing/

[2020-08-19 09:39] robert-cronin commented on #37
Here is the general process for peer communication over a public TURN node:
Stage 1: peerA sets up a TURN relay connection to peerC
[code]
Stage 2: peerA opens a connection to the git server and relays all packets to and from peerC's TURN server
[code]
Final stage: peerB wants to connect to peerA so it queries the known, public intermediary: peerC. PeerC responds with peerA's relayed address and p

[2020-08-19 09:40] robert-cronin commented on #37
This is not really conforming to the TURN RFC's or message protocol's, so let's call it a custom NAT traversal protocol for now

[2020-08-19 09:43] robert-cronin commented on #45
I think we also need a `vault-id` that is static and generated upon vault creation. This is required for push/pull request messages so the source and target can agree on which vault they are talking about regardless of the `vault-name` which is not guaranteed to be globally unique.

[2020-08-19 13:25] CMCDragonkai commented on #45
Just leaving some links here in case we do something where we can push a commit chain and have that match to some vault.

* https://en.wikipedia.org/wiki/Hash_chain
* https://en.wikipedia.org/wiki/Merkle_tree

[2020-08-19 14:01] CMCDragonkai commented on #45
One issue is that if the target keynode has to know the vault id to create the ACL entry to allow the source keynode to push. How does the target keynode know what vaults are available on the source keynode?

The target keynode can scan the source keynode. But atm, they can only see keynodes that the source keynode has made available to be pulled.

There may be situations where the source keynode

[2020-08-19 14:03] CMCDragonkai commented on #45
I'm also realizing we are creating a system that uses asymmetric cryptography but also ACLs, but it's "communicating" ACLs. It doesn't seem to fit the capability paradigm at all here.

[2020-08-19 14:16] CMCDragonkai opened #87 "Zero Merge Commits"
I want to explore the idea of making Polykey NEVER have a merge conflict.

How do we do this? Well we must limit the control surface of pushes/pulls and changes so that this can never occur.

One idea is this. As soon as a vault has been pushed to a keynode. If that keynode changes that vault. It doesn't mutate that vault. Instead what happens is that the vault is forked, and represents a new vaul

[2020-08-19 15:30] CMCDragonkai opened #88 "Interactive Response Latency"
One of our acceptance tests can be for interactive response latency:

https://www.pubnub.com/blog/how-fast-is-realtime-human-perception-and-technology/

Using opentracing techniques we can even isolate where the latency comes from in our applications.

I suspect optimizing our cryptographic performance will be important. This includes making use of parallel thread pool to do the cryptography async

[2020-08-20 02:18] CMCDragonkai opened #89 "Delay Tolerant Networking"
We expect Polykey keynodes to go online and offline all the time. While it appears as soon as it is possible we can share vaults between keynodes. I wonder if we take some ideas from DTN:

https://en.wikipedia.org/wiki/Delay-tolerant_networking

It seems that it should mean that it would be possible to pause communication and when re-established continue working.

Just research for now.

[2020-08-20 11:59] CMCDragonkai commented on #50
So if we want to continue using gRPC between client and agent and not just agent to agent, then we would like to have gRPC support UDS because UDS inherits OS permissions whereas localhost can be sniffed by any program on the machine even executed by other users. However at the moment the node implementation of gRPC does not support UDS. It is possible to support if these 2 issues were to be resol

[2020-08-20 12:01] CMCDragonkai opened #90 "Optimizing IPC communication between agent and client (CLI/GUI)"
At the moment, the IPC communication is "bulky" (and not efficient?) and is not using a standard RPC system.

If we change the communication between Agent and Client to gRPC, we have to beware of the security implications: https://github.com/MatrixAI/js-polykey/issues/50#issuecomment-677600761 (basically we have to use mTLS to secure it).

The advantage is that clients can then be operating over t

[2020-08-20 12:09] CMCDragonkai commented on #90
Also: https://security.stackexchange.com/questions/176319/what-is-the-most-secure-way-of-transferring-a-secret-between-2-processes-running

The agent will be listening for clients.

Any process can try to establish connection to the agent. But only legitimate clients can connect.

How are legitimate clients identified? It seems like the master pub/priv keypair will need to be used, and then an est

[2020-08-20 12:11] CMCDragonkai commented on #90
At any case, we have to establish a proper protocol for authenticating clients to the agent. And these clients have full control over the agent. And then figure out how CLI programs can "authenticate" to the client and stay authenticated. We could use a JWT as a token the client saves in its temporary directory which is only readable/writable by the user. This would be sufficient. And the JWT has

[2020-08-20 12:16] robert-cronin commented on #90
I should probably explain what I meant by bulky. For any solution that uses gRPC, one only needs to specify a service and the rpc signatures within the proto files and the rest is taken care of (i.e. gPRC/HTTP2 will automatically route each method call to the right place on the server and make sure no packets get mixed between subsequent calls of the same function)

Since gRPC in nodejs doesn't su

[2020-08-24 06:11] robert-cronin commented on #60
We now have 60 tests running to success, here are some noteworthy changes made to the library code:

- added in `PK_LOG_PATH` and `PK_SOCKET_PATH` environment variable options, purely for creating a separate agent environment for testing.
- separated the git backend and frontend into testable modules that don't depend on `vaultManager`.

These tests now also cover the agent and cli code

[2020-08-24 09:00] robert-cronin commented on #60
This PR is now ready for review @CMCDragonkai

[2020-08-25 01:41] robert-cronin commented on #60
I've noticed the jest tests fail in the pipeline because of the agent tests. This might be because the agent cannot connect in the nodejs image we use for the pipeline.

The tests are also throwing because there is no mock CA to test our secure connection.

I will create a new issue for this, I suspect the solution is using our new nix image instead of nodejs for our jest testing.

[2020-08-25 01:56] robert-cronin opened #91 "Jest tests are not successful in gitlab pipeline"
The first issue is that the socket file at `/run/user/0/polykey/S.polykey-agent` cannot be accessed. I am not sure what underlying architecture the nodejs image has but this makes sense if the path doesn't exist.

One solution is to change the socket path for the tests to a temporary directory, which seems to have worked for the CLI tests.

The other issue is that our tests rely on mock CA certifi

[2020-08-25 02:26] robert-cronin commented on #91
We can actually just do the tests without a secure connection, testing gRPC secure vs. insecure is probably not relevant anyway.

Also, this type of testing might be more pertinent when we give polykey the ability to act as a CA.

In light of this, I might just make the testing conditional on the presence of the CA certificates so the pipeline can continue running successfully.

[2020-08-25 03:07] robert-cronin commented on #91
There was another issue that was occurring and that was the default shell was sometimes not set as `process.env.SHELL` in nodejs, so I gave it a default of `sh` if it couldn't find it. All tests are now passing in the nodejs docker image.

[2020-08-25 03:48] robert-cronin commented on #91
The gitlab-runner that gitlab uses seems to be different than the gitlab-runner that we can run in our local machine as the tests get stuck on gitlab. The tests run through just fine, it's just that some process prevents it from running through completely. The local `gitlab-runner` has no such issue.

[2020-08-25 03:52] robert-cronin opened #92 "gitlab-runner tests run through fine locally but hang on gitlab.com"
This is the last output on the pipeline:
[code]
There re no open handles detected when running locally so I am not sure what is happening here.

[2020-08-25 03:53] robert-cronin commented on #60
Pipeline is successful, but hangs as described in #92. This is a specific issue with gitlab, so we can go ahead and merge.

[2020-08-25 03:54] #3 closed, assigned to robert-cronin

[2020-08-25 03:54] #62 closed, assigned to robert-cronin

[2020-08-25 03:54] #91 closed, assigned to robert-cronin

[2020-08-25 04:39] CMCDragonkai commented on #92
This can happen if an async test wasn't properly structured/awaited for. You should have a look around.

[2020-08-25 04:39] CMCDragonkai commented on #60
Nice! This will be useful as we are doing the training soon.

[2020-08-25 04:41] CMCDragonkai commented on #60
@robert-cronin

These 2 env variables should be mentioned in the `.env.example`. I don't see it there.

Furthermore the `shell.nix` might want to set them according to project-local `./tmp` directory.

[2020-08-25 04:43] robert-cronin commented on #60
Im not sure it makes much sense to put them in .env, they are purely for testing and in that case we would need to include that file in a commit

[2020-08-25 05:14] robert-cronin commented on #92
yeah it's most likely either worker-threads not exiting or a polykey agent not winding down so we will have to deal with tear down properly.

[2020-09-02 12:21] CMCDragonkai commented on #79
I'm going to start working this out now that CI is working.

[2020-09-03 09:11] robert-cronin commented on #92
This has been solve, the issue was that there was UDP sockets continuously broadcasting their peers presence on the multicast address and was not stopping upon the termination of the agent process. Simple fix was to use `clearInterval` to stop the broadcasting and allow the socket to disconnect.

[2020-09-03 09:55] CMCDragonkai commented on #92
Should indicate in the PR that fixes this.

[2020-09-03 09:57] CMCDragonkai commented on #92
Do you know about RAII? It's important way of managing resources like sockets for OOP languages. Also we might find a bracket pattern. Problem is that JS objects don't have a destructor. But I worked around this in js-virtualfs using things like ref links in resource counter and having managing classes that would explicitly close/destroy things on some counter.

[2020-09-03 09:59] CMCDragonkai opened #93 "Explore removing webpack"
As done in typescript-demo-lib the webpack shouldn't be needed in cli and library applications.

But then path resolution requires an alternative such as module-alias.

In the src we have the cli scripts that are compiled. There can't use the module alias as it overrides typescripts path resolution. Instead you can add module alias afterwards, perhaps as an extra js script on top.

Anyway no bundl

[2020-09-04 03:26] robert-cronin commented on #92
yeah I know about RAII, it didn't help much in this situation, the agent process was killed and it's corresponding JS object even set to undefined after the tests but it didn't work.
So perhaps we can do something similar to VFS but the issue was that the UDP socket is constantly broadcasting and there's no counter mechanism that would make sense here. Anyway, it's now all taken care in the `agent

[2020-09-04 04:50] CMCDragonkai commented on #92
Yea in that case, the explicit stop command should be executed on OS signals.

So you need https://nodejs.org/api/process.html#process_signal_events for this.

At least on the CLI that is.

The relevant signals are:

[code]

They all mean slightly different things.

Generally `SIGINT` for our app will mean to close it gracefully. Same with `SIGTERM`. So we will do the same thing for both signals.

[2020-09-07 11:22] CMCDragonkai commented on #79
From our discussion about docs generation. The reason why there's so much changes on every commit is because the docs are attempting to have links to the source code. For this sort of docs, it makes sense not to commit these to the same source as the repo. So even if we leave it on master like in https://github.com/TypeStrong/typedoc/pull/474 it is still better for us to push to gh-pages.

In orde

[2020-09-07 15:12] CMCDragonkai commented on #79
It's about as far as I got here:

* https://github.com/MatrixAI/TypeScript-Demo-Lib/pull/9
* https://gitlab.com/MatrixAI/open-source/typescript-demo-lib/-/jobs/725022875

Failed on:

[code]

Strange, seems to mean that `gh pr create --base "gh-pages" --fill` failed.

But the other stuff worked.

Mean while:

![image](https://user-images.githubusercontent.com/640797/92401137-6b79d880-f170-11ea-8fd2

[2020-09-07 15:38] CMCDragonkai commented on #79
It seems that the bot is capable of forking with https://github.com/MatrixAI-Bot but I still get failures to create the PR to TypeScript-Demo-Lib.

Alternatively the bot could autopush to the gh-pages branch. But then we have to use branch-protection rules to prevent the bot from being able to push to other branches. This seems more complicated to do permission-wise.

[2020-09-07 15:45] CMCDragonkai commented on #79
https://github.com/cli/cli/issues/1633

[2020-09-08 03:42] robert-cronin commented on #75
docs are now viewable from https://matrixai.github.io/js-polykey/
this issue remains open due to the requirement to get CI/CD releasing docs automatically.

[2020-09-08 05:30] CMCDragonkai commented on #75
Looks really nice.

[2020-09-08 12:46] CMCDragonkai opened #95 "File watching interface"
Related to #69 or #72

We can see that there are many tokens that exists in config files littered on people's computers. Whenever you use anything that requires authenticated usage, this ends up going into files like `~/.config/...`. This includes SSH keys and GPG keys and `GITHUB_TOKEN` or cachix token or `~/.aws/credentials` or ... etc.

Point is, how does one synchronize these secret locations

[2020-09-08 12:49] CMCDragonkai commented on #75
I'm going to mark this as done. We can create a separate issue for auto-generation later. That will be in issue in TypeScript-Demo-Lib, and not here.

[2020-09-08 13:12] #75 closed, assigned to robert-cronin

[2020-09-08 13:13] CMCDragonkai commented on #79
Closing this as we are not doing this until it is successful on TypeScript-Demo-Lib.

[2020-09-08 13:14] CMCDragonkai commented on #79
@robert-cronin I'm hoping any changes here are already in the other PRs.

[2020-09-14 02:48] robert-cronin commented on #90
so from [this discussion](https://github.com/MatrixAI/js-polykey/pull/84#discussion_r486275119), one way to do this is to have teh agent/client communications over the local network and have a token based access like OAuth2.0 for the client which means the client needs to hold state.

[2020-09-14 02:52] robert-cronin commented on #90
Eventually we should have one `grpc.Server` and that can add multiple services like `PeerService` and `AgentService`.

[2020-09-14 03:04] robert-cronin commented on #90
There was also some discussion on having a single agent managing a single polykey instance. At first, I thought this wasn't the right way to go since the way have it now is a single agent per user and only has one socket and is fairly scalable to many nodes on a single computer. This might in fact be the way to go but we will have to discuss these tradeoffs.

As for the 1 to 1 approach, if the age

[2020-09-14 03:25] CMCDragonkai commented on #90
Yes I think 1 agent to 1 PK store. Different PK stores are meant to have
different agents.

Also you actually can have different sockets, since its all over
localhost with different ports. With UDS its just different socket
paths. Totally fine.

On 14/09/2020 1:05 pm, Robbie Cronin wrote:

[2020-09-14 03:53] robert-cronin opened #96 "xstate model for communication transitions"
We can use xstate to model the communication transitions in polykey.

linked comment: https://github.com/MatrixAI/js-polykey/pull/84#discussion_r486280990

[2020-09-14 03:55] CMCDragonkai commented on #96
Make sure to share notes with @DrFacepalm

[2020-09-14 04:08] robert-cronin commented on #90
there is also an issue of discovery, lets say a client wants access to node path `~/SomePKState`, then how does it find out that its served on port `28473`? Perhaps one way to do it is to actually have the discovery over that UDS port. This way the 'authorisation' server that is used in OAuth2.0 could also be done via this UDS port.

[2020-09-14 04:31] CMCDragonkai commented on #90
If you're talking about client to agent:

Client's shouldn't be specifying the the node path. They have no
knowledge of that unless they themselves are starting it.

Also you can put a temporary port/pid lockfiles in the pkstate
directories. You can see this as `x.pid` files but also these files
might then store the PID, or the port that it is bound to.

If you're talking about p2p discovery then.

[2020-09-14 05:05] robert-cronin commented on #90
yeah that might be a better idea, I hadn't thought to use the actual node path, which both client and agent know about, as a discovery mechanism for which port it is served over.

At them moment the default port is stored as a part of the peer info in the polykey state folders, in case it doesn't exists yet it will autofind a port unless a port is set with the environment variable `PK_PORT`

[2020-09-14 05:15] robert-cronin opened #97 "Add a DHT for Content Discovery"
The DHT will mostly be useful for discovery of nodes that do not have social discovery like automated child nodes of a real person's primary keynode.

It also probably won't be useful until we have a large number of nodes like a large federated hierarchy which becomes unruly to manage if machine nodes are progenitors to other machine nodes. Also, as far as I can tell, DHT is mostly used for conten

[2020-09-14 05:15] robert-cronin commented on #97
Relevant issue: https://github.com/MatrixAI/js-polykey/issues/32

[2020-09-14 05:35] robert-cronin opened #98 "improved domain modelling"
We have a reasonable separation of concerns with good domain modelling, but dependency visualisation with arkit has shown up some overly dependent connections to `PeerManager`:
![dependencies](https://user-images.githubusercontent.com/8540764/93047332-dc4c5380-f68e-11ea-8f5b-6ca887115600.png)

Alot of these connections are to classes that should be managed by `peerManager` directly. This can be ac

[2020-09-14 06:40] robert-cronin commented on #98
Another concern for domain modelling is the distinction between `PeerClient` (the gRPC client) and the `PeerConnection` class as well as `PeerService` and `PeerServer`. These probably need to be renamed to something less confusing

linked comment: https://github.com/MatrixAI/js-polykey/pull/84#discussion_r487681931

[2020-09-14 09:29] robert-cronin opened #99 "custom agent socket path not working properly"
I have a mechanism for setting a custom socket path with an environment variable `PK_SOCKET_PATH` but in the testing when I employ this, it seems like the node paths get registered against the normal socket path in `/run/user/1000/polykey/`. Need to look into this further.

[2020-09-14 09:53] robert-cronin commented on #99
I think it actually has something to do with using the same config store for all agents under the same userspace, this definitely needs to change in light of our new requirement of having multiple agents running in the same userspace.

[2020-09-14 10:17] robert-cronin commented on #99
This issue has been resolved.

[2020-09-14 10:17] #99 closed, assigned to robert-cronin

[2020-09-15 06:25] CMCDragonkai commented on #37
Once the PR #84 is merged, while it fixes this issue. And @robert-cronin please summarize here in what situations does this cover. Specifically what kind of NAT architecture does this bust. Because there multiple kinds of NAT architectures.

A new issue should be created to verify that the specification of TURN and STUN and compare it to our implementation and see if we need to cover other NAT arc

[2020-09-16 02:31] robert-cronin opened #100 "Support all NAT types for hole punching"
At the moment we have a UDP hole punching implementation that covers full-cone NAT as all it's doing is mapping an internal host:port address to an external host:port address. This is a weak implementation as any actual use of polykey is likely to find itself behind either a port-restricted cone NAT or symmetric NAT.

Any hole punching solution probably won't work with symmetric NAT so the relay c

[2020-09-16 02:32] robert-cronin commented on #37
I have created a new issue for supporting all NAT types so it doesn't get forgotten when this one is closed shortly. https://github.com/MatrixAI/js-polykey/issues/100

[2020-09-16 02:43] robert-cronin opened #101 "verification of our STUN/TURN implementation"
We need to decide if it's appropriate or even useful for us to make our NAT traversal implementation conform to the STUN/TURN RFCs. There is something to say about having a full-blown STUN/TURN implementation, which I can see 2 main benefits of:

1) with conformance to the RFCs, we can be confident that NAT traversal will work in all situations that STUN/TURN work in.
2) our implementation will be

[2020-09-16 02:44] robert-cronin commented on #37
verification of STUN/TURN issue: https://github.com/MatrixAI/js-polykey/issues/101

[2020-09-16 04:22] CMCDragonkai commented on #101
You should still review the RFCs to see if anything was missing. Like the review we did yesterday and we found out that symmetric NAT problem.

On 16 September 2020 12:44:11 pm AEST, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-09-16 07:55] robert-cronin opened #102 "Break up PolykeyAgent and PolykeyClient classes based on domain models"
Right now there are 2 large files; one for the agent and one for the client. This is not very cohesive and needs to be split into separate files based on some good domain modelling.

[2020-09-17 01:57] robert-cronin opened #103 "Abstract all NAT traversal away from the user"
At the moment we have a few methods to control setting up the relay and udp hole punch (i.e. requesting it from a sepcific peer) but this should be done automatically without the users help.

Also, the `relayPeerPublicKey` should be removed from the `PeerInfo`

[2020-09-17 02:06] robert-cronin opened #104 "type checking within commander custom option processing"
in some of our commander options, we are requesting base64 or numbers. Commander allows you to format these with functions in the default parameter: https://github.com/tj/commander.js/#custom-option-processing. We should do things like this with these functions:
[code]
[code]

[2020-09-17 02:20] robert-cronin opened #105 "1 to 1 relationship between agent and polykey store"
We should have one agent to one polykey instance and then the agent comms can be put on the main grpc port.

[2020-09-17 03:12] robert-cronin opened #106 "move crypto ops in keymanager to dedicated crypto class"
There are a few crypto operations in the key manager like encrypt and verify etc. These don't have anything to do with managing keys directly, so they should be put in their own class.

[2020-09-17 03:14] robert-cronin opened #107 "Quality of life improvements"
There are 4 main points to this as outlined in https://github.com/MatrixAI/js-polykey/pull/84#issuecomment-691671347 :
1. Quality of Life improvements and abstraction/modelling improvements and design improvements and standardisation and Quality Assurance stuff.
2. Proper model based testing and property testing using xstate-test and fast-check.
3. Spec sheet that can derive UML diagrams... and so

[2020-09-17 03:17] robert-cronin opened #108 "Kademlia DHT for multi-hop relay/NAT traversal"
This is kind of a cleanup as well as an extension of existing features. At the moment we have a NAT traversal based on public peers but a polykey node can have only one relay peer set. We want this to be completely abstracted away from the user.

Kademlia will provide this ability. Any node can act as a relay peer. Kademlia is usually used for content routing but in our situation, the content will

[2020-09-17 03:32] robert-cronin opened #109 "Default port for TCP and UDP"
We have decided on a default port of `1314` for polykey but there is an issue of port conflicts if there are multiple pk instances serving on the same ip address. We need some way to check first if a port is taken. There might be a way to do this in gRPC but if not we can take some ideas from here: https://stackoverflow.com/questions/19129570/how-can-i-check-if-port-is-busy-in-nodejs/35251815#:~:t

[2020-09-17 03:53] #37 closed, assigned to robert-cronin

[2020-09-17 03:53] #86 closed, assigned to robert-cronin

[2020-09-17 03:53] #92 closed, assigned to robert-cronin

[2020-09-17 07:05] CMCDragonkai commented on #109
This is fine. One just does the default port and if it fails we error out and ask the user to provide a different port.

On 17 September 2020 1:32:57 pm AEST, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-09-18 09:42] robert-cronin opened #111 "Add a proper logging system to the CLI (handle verbosity levels)"
We need to handle verbosity levels properly, at the moment the verbosity flags are not being used.

We can take a look at the [winston](https://www.npmjs.com/package/winston) library for logging.

[2020-09-18 11:14] CMCDragonkai commented on #111
I think our existing logging system is fine. We can construct our own
levels, I think I suggested how to do this already.

On 9/18/20 7:42 PM, Robbie Cronin wrote:

[2020-09-22 05:59] robert-cronin commented on #94
ready for review, all tests have been updated and are passing locally :+1:

[2020-09-22 11:40] CMCDragonkai commented on #94
What is this `api/generated/*`? What is making this and why do we need it?

[2020-09-22 11:40] CMCDragonkai commented on #94
Tests are failing on gitlab too. Something to do with the agent simulation.

[2020-09-23 02:22] robert-cronin commented on #94
the generated folder contains the API server and client code generated from `swagger-codegen`. I've kept the generated code outside the src folder to follow the precedent.

[2020-09-23 02:23] robert-cronin commented on #94
I will fix these and re-commit :+1:

[2020-09-23 02:23] CMCDragonkai commented on #94
I'm wondering if we can just write our API directly without generating code. Like the way we do it in Ouroboros. It seems like a lot of code that is generated.

On 23 September 2020 12:22:17 pm AEST, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-09-23 02:33] robert-cronin commented on #94
We are already kind of doing this, I will get rid of the stuff we don't need from the generated folder. Also I guess we don't really need to generate the client? we're really only using it for testing.

To be honest, we could get away with just using the generated yaml file and write all the logic ourselves in the src directory.

[2020-09-23 03:02] robert-cronin commented on #94
Here are the changes made in this PR:
1. Add CA functionality (generating root cert/keypair, responding to certificate signing request by other peers and services)
2. Add gRPC service to agent to replace the custom `net.Socket` we were using before (also uses the CA module to generate client and server certificates to secure the agent/client communications)
3. Add HTTP API (this was to serve the C

[2020-09-25 09:09] CMCDragonkai commented on #94
Why does npm testing keep failing.

[2020-09-25 09:36] CMCDragonkai commented on #94
Is there an issue for the openapi/swagger/HTTP Api integration. Seems like this PR brings that in as well.

[2020-09-25 09:37] CMCDragonkai commented on #94
Can you review the workflow of the netboot system, and see if polykey solves netboot's requirements?

[2020-09-25 09:42] CMCDragonkai commented on #94
We need to review 2 things.

Whether this solves the iPXE Netboot problem. And the mapping/relationship between this and the smallstep commands. Does pk now act as both the CA and the CA client where small step is separating this into 2 commands.

For the iPXE netboot problem, we need to have a meeting about this. But have a read of this: https://ipxe.org/crypto

Primary usecase of the CA function

[2020-09-25 10:04] CMCDragonkai commented on #94
What are all the files in `test/lib/api/client` for? There's alot of generated files there.

[2020-09-25 10:04] CMCDragonkai commented on #94
Also why not remove webpack entirely at this point?

[2020-09-25 10:08] CMCDragonkai commented on #94
Ever since we removed `dist` from typescript demo lib, does that mean here we no longer have dist anymore?

[2020-09-25 10:09] CMCDragonkai commented on #108
The "relay" is just an ephemeral concept used encapsulated inside the pk system. It should never be exposed to the end user. The end user should not need to specify anything or know anything about relays UNLESS it's a special circumstance, or the user is doing something custom. Like ourselves Matrix AI.

[2020-09-28 03:11] robert-cronin commented on #94
We still have dist, but I should probably get rid of it in favour of our new approach and in light of it still being uploaded to npm if its in .gitignore (overridden with .npm_ignore)

[2020-09-28 04:40] robert-cronin commented on #94
client folder in tests has been removed, we are now just using `http.request`

[2020-09-28 05:37] robert-cronin commented on #94
I am just making some ascii diagrams for understanding so I will post them here as I go and put them into the readme once finished.
Here is how mutual TLS is supported by our polykey CA system:
1) Peer A requests a certificate (can act as both client and server certificate for mtls)
[code]

2) Peer B requests a certificate (can act as both client and server certificate for mtls)
[code]
3) mTLS con

[2020-09-28 06:24] robert-cronin commented on #94
The following is how the CA functionality is exposed over HTTP for external services
1) external service (e.g. web server) asks for a signed certificate over HTTP.service is challenged and returned the signed certificate if successful:
[code]
2) client (e.g. browser) gets the root certificate from the CA peer via HTTP:
[code]
3) one way TLS connection is established:
[code]

[2020-09-29 09:59] CMCDragonkai commented on #94
Add in some design notes regarding code signing:

* https://github.com/smallstep/certificates/issues/147
* https://en.wikipedia.org/wiki/Non-repudiation

Basically it means the x509 certificates can be used for lots of things. And it is up the CA to give these capabilities.

[2020-09-29 10:00] CMCDragonkai commented on #94
Another thing we need to understand is that certificates have "capabilities".

These are encoded as Key Usage Constraints and Extended Key Usage Constraints.

Examples include "Code Signing" which enables the certificate to be used for signing digital artifacts.

Most commonly is the certificate is used for `TLS Web Server Authentication, TLS Web Client Authentication`. These 2 are what is necessa

[2020-09-29 10:04] CMCDragonkai commented on #94
What is the role of CSR for Polykey?

The CA **does not** generate certificates.

It is the "leaf" nodes that generate certificates, and then ask the CA to sign them.

Whether the CA signs them or not depends on a CSR process.

Let's use an example. For Let's Encrypt, it just needs to know whether the requester/provisioner "owns" the domain that it's asking to get. This is why they have a bunch of

[2020-09-29 10:56] CMCDragonkai commented on #94
* Every Keynode has a Root Keypair (this root keypair is used for vault keypairs, and also its public key represents the identity of the keynode)
* Every Keynode also as a Root x509 Certificate
* What is the relationship between the Root Keypair and the Root x509 Certificate?

There's a few options here:

1. Start with the root keypair and then use a KDF to generate the root x509 certificate pair.

[2020-09-29 11:10] CMCDragonkai commented on #94
Once the keynodes have a root certificate. Instead of presenting the root public key around. They present the root certificate to other keynodes.

However for social sharing we still want to preserve the ability of using ECDSA (ed25519) keys since they very short. They can be easily read out and written down and published in text form wherever.

However during the "keynode discovery phase", the ke

[2020-09-29 11:13] CMCDragonkai commented on #94
Once a keynode is a CA. We need to expose several features:

1. Signing CSRs given by token-authenticated clients (this requires the OAuth2 PR #64 to finish)
2. We can verify things
3. Do pretty what smallstep CA does.
4. It hosted and exposing the CA functionality...
5. Providing a GET endpoint for the root and intermediate certificate

[2020-09-29 11:18] CMCDragonkai commented on #94
One benefit of doing this is that as soon as the keynodes have root public certificates. Then it is possible to use them for mTLS between Polykey keynodes for their GRPC connection.

This unifies peer to peer and agent to peer transit security with the identity system of keynodes. So that simplifies ALOT of things.

[2020-09-29 11:25] CMCDragonkai commented on #103
This is related to #108, in order to abstract the hopping, we have to use the Kademlia system.

[2020-09-29 11:28] CMCDragonkai commented on #101
This is related to #100. TURN is covered by the usage of relay and kademlia. So in a way I'm not sure how closely it will follow the standard.

But STUN isn't always reliable. Using UDP to achieve this is possible, but I think there were some issues with the current implementation which wouldn't work where the NAT operated like a normal router.

The Tetra project should be verified to actually sim

[2020-09-29 11:28] CMCDragonkai commented on #101
I think mobile-NAT busting we will leave that after the MVP (this might actually be achieved by our Kademlia-TURN).

[2020-09-29 11:50] CMCDragonkai opened #53 "MVP Target October 31st"
Current status 29th September 2020:

1. CA
2. OAuth2 (this is providing an HTTP integration)
3. Cleanup + NAT fixing
4. Polykey Desktop GUI
5. Integration into Ouroboros experiment
6. All the rest of existing issues that's labelled with the MVP milestone on the project board

Target is 31st October 2020.

[2020-09-29 11:52] CMCDragonkai commented on #53
Once MVP here is done, development doesn't stop, but we start sales/marketing/grants/funding arrangements.

[2020-09-29 11:56] CMCDragonkai commented on #53
I think @DrFacepalm can share some patterns from typescript-demo-spa into the GUI work from no onwards too.

[2020-09-29 11:57] CMCDragonkai commented on #53
Updated milestone to match the target date.

[2020-09-30 02:58] robert-cronin opened #112 "Add code signing ability to Polykey CA"
as per https://github.com/smallstep/certificates/issues/147, a useful feature for the CA we use would be code signing and is laid out in the x509 standard. We are currently using [node-forge](https://github.com/digitalbazaar/forge) as our x509 library and this does have the code-signing extension enabled and can be set as follows:
[code]

[2020-09-30 02:59] robert-cronin commented on #112
relevant to https://github.com/MatrixAI/js-polykey/pull/94#issuecomment-700600049

[2020-09-30 03:01] robert-cronin opened #113 "Create the link between root keypair (kbpgp) and CA keypair (node-forge)"
As per https://github.com/MatrixAI/js-polykey/pull/94#issuecomment-700626997, there are a few options for doing this:

1. Start with the root keypair and then use a KDF to generate the root x509 certificate pair.
2. Start with the root x509 certificate pair, and then use a KDF to generate the root keypair
3. Use the public-key of the root keypair as the actual public key of the x509 certificate
4.

[2020-09-30 03:46] #48 closed, assigned to robert-cronin

[2020-09-30 03:46] #105 closed, assigned to robert-cronin

[2020-09-30 05:07] robert-cronin opened #114 "Add json schema for request/response components in openapi spec"
In order to aid validation, we can replace the existing component definitions in `openapi.yaml` with json schemas, for example:
[code]
and for `Pong.json`:
[code]
Note we have to use draft-00 as that is what openapi supports.

[2020-10-02 08:09] nzhang-zh opened #115 "CLI unclear help message for `polykey vaults new`"
Haven't checked other subcommands but the help message for `pk vaults new` does not mention required argument.

[code]

This does not return error but also doesn't do anything. Maybe nicer to get an error message?

[code]

Realized I need to supply a vault name but help message does not indicate this argument.

[code]

[2020-10-08 04:26] robert-cronin opened #116 "Add optional fields to Agent.proto for Haskell clients"
Haskell codegen apparently does not implicitly set fields as optional like typescript does so we should prefix optional fields with the optional keyword. @nzhang-zh

[2020-10-09 04:57] robert-cronin commented on #64
Below are a 2 demos from the new OAuth2 HTTP API (both are using bearer tokens issued by the CLI). Note we are not using any kind of login system as polykey does not need to be used to login to any other service nor is any other service going to be integrated into polykey, the OAuth2 code is purely for HTTP based clients that cannot use the pk cli.

Via Swagger Docs:
![Polykey OAuth2 Bearer Token

[2020-10-11 09:28] CMCDragonkai commented on #64
Nice only 43 file changes this time!

[2020-10-11 09:35] CMCDragonkai commented on #64
A few comments from our discussion:

* The primary reason for OAuth is so that applications that are HTTP-based can integrate into Polykey as an alternative to GRPC (which is used internally between Polykey keynodes and Matrix OS)
* Therefore graphical choosing of scopes is probably an unnecessary feature. This feature is more designed for the cases whether one might "login to Polykey from Faceboo

[2020-10-11 09:35] CMCDragonkai commented on #64
But that swagger system is REALLY cool.

[2020-10-11 09:39] CMCDragonkai commented on #64
This PR seems to be still in-progress, I see a lot of `console.log` still. I think it's more efficient if we simplify this according to the comments above, and then merge, and start on the cleanup PR, because my review from the previous PR still stands.

[2020-10-12 04:50] robert-cronin commented on #54
So like you alluded to, some of the breaking changes include the removal of typings for `$store`, the packages yet to be upgraded (there are a few new features that could replace these packages anyway) and general syntax changes

So here are all the things relevant to polykey:

Vue 3:
https://v3.vuejs.org/guide/migration
1) new global API: https://v3.vuejs.org/guide/migration/global-api.html#a-new

[2020-10-12 05:04] robert-cronin commented on #106
this is already done

[2020-10-12 05:04] #106 closed, assigned to robert-cronin

[2020-10-12 05:06] robert-cronin commented on #112
This is just a simple matter of switching the flag to true when creating/requesting cert but the main thing is having this feature be usable from the cli or gui and I think its generally done by archiving source code and signing the resulting file which we can already do via `pk crypto sign code.tar`

[2020-10-12 05:06] #112 closed, assigned to robert-cronin

[2020-10-12 05:07] robert-cronin commented on #102
PolykeyClient is now superseded by a codegen client. The agent file remains one big file however

[2020-10-12 07:27] robert-cronin commented on #64
control on the cli is now done via `pk oauth...`

[2020-10-12 09:06] robert-cronin commented on #64
OAuth2 tokens are now using JWT and API is on HTTPS:
![Polykey with JWT and HTTPS](https://user-images.githubusercontent.com/8540764/95727742-2f74ee80-0cad-11eb-876e-0302437ace80.gif)

[2020-10-13 00:22] robert-cronin commented on #115
after discussion with @nzhang-zh, the command should also throw an error when there is no vault name specified which doesn't currently happen

[2020-10-13 01:53] robert-cronin opened #117 "Memory leak - agent does not shutdown upon restart/stop commands"
This was a bug picked up by @nzhang-zh and it causes the polykey agent processes to hang indefinitely and not shutdown upon restart and stop commands.

[2020-10-13 02:56] robert-cronin commented on #116
so the optional prefix has been deprecated in proto3 and the haskell-grpc codegen lib doesn't accept optional keywords so we might have to find another way around this bug in Agent

[2020-10-13 02:56] #116 closed, assigned to robert-cronin

[2020-10-13 03:00] robert-cronin commented on #115
new vault command on cli has been changed to have a dedicated, required vault name parameter so it will alert you if its not specified:
[code]
I've also added a `(required)` prefix to make it more clear which are needed from the help message:
[code]

[2020-10-13 04:44] robert-cronin commented on #64
All 80 tests updated and successful on local build :+1:  ready for review/merge

[2020-10-13 04:46] #70 closed, assigned to robert-cronin

[2020-10-13 04:46] #83 closed, assigned to robert-cronin

[2020-10-13 04:46] #109 closed, assigned to robert-cronin

[2020-10-13 04:46] #115 closed, assigned to robert-cronin

[2020-10-13 04:58] robert-cronin commented on #117
This is now solved

[2020-10-13 04:58] #117 closed, assigned to robert-cronin

[2020-10-13 06:05] robert-cronin commented on #114
I think this is now redundant, we don't have any schema's anymore, the new secret command is now using a post to `/secrets/<vaultName>/<secretName>` and the body is `text/plain`

[2020-10-13 07:24] robert-cronin commented on #90
This is already fixed I think, but I will confirm and close in the upcoming PR

[2020-10-13 08:45] robert-cronin commented on #77
the timeout functionality for locking the agent is now implemented and defaults to 15 minutes but can also be specified on the cli:
`pk agent unlock -pp passphrase -t 60 #unlocked for 1 hour`

[2020-10-13 08:45] robert-cronin commented on #77
this functionality is locked to the KeyManager and is always on for security purposes.

[2020-10-13 12:27] CMCDragonkai commented on #114
Shouldn't we allow application/octet-stream for arbitrary bytes?

On 13 October 2020 5:05:35 pm AEDT, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-14 03:43] robert-cronin commented on #114
I have added in `application/octet-stream` which provides a file upload button in the swagger docs, so we now have support for arbitrary bytes working nicely too :+1:

[2020-10-14 04:09] robert-cronin commented on #102
This is probably less ideal to break up into different sub files since the class needs to conform to the interface generated by gRPC.
I tried doing it initially, but it just didn't really seem to make it better.

[2020-10-14 08:43] CMCDragonkai commented on #54
For @gideonairex, the first thing to do after you have setup the https://github.com/MatrixAI/Typescript-Demo-Spa and a usable Vue playground, is to start on *this* issue.

This issue is about migrating the current repo's code to be based on the Typescript-Demo-Spa and also integrate vue3 and vuex4.

This means the current UI can be just ported over.

In addition to this, we also need to update the

[2020-10-14 08:48] CMCDragonkai commented on #54
To clarify 4. The node process seems unnecessary because all side-effects are occurring in the js-polykey agent. However if we cannot connect via GRPC from the chrome browser process, then we have to rely on the node process as an intermediary to do this. This is not ideal, but if that's the case, then we just have to do this way.

@robert-cronin did you find out if it was possible to eliminate th

[2020-10-14 08:49] CMCDragonkai commented on #54
@robert-cronin can you explain the 4 branches:

![image](https://user-images.githubusercontent.com/640797/95965992-56225900-0e56-11eb-82bf-e2f3761ce21a.png)

If @gideonairex starts on this, should he be working off the `mvp` branch since it was last updated 14 days ago?

[2020-10-14 08:58] CMCDragonkai commented on #54
Few things I've discovered:

1. In the package.json, remove pretty much everything, push back the typescript-demo-spa stuff, and then add in dependencies as you need them. There's a lot of stuff that's no longer being used or necessary.

Very important to understand is that we want to use the minimal set of dependencies possible.

All other dotfiles can just be removed and replaced with what is co

[2020-10-14 09:06] CMCDragonkai commented on #53
1. ~~CA~~
2. ~~OAuth2 (this is providing an HTTP integration)~~
3. Cleanup + NAT fixing <- @robert-cronin is working on this atm: https://github.com/MatrixAI/js-polykey/pull/118
4. Polykey Desktop GUI <- @gideonairex  is working on this atm: #54
5. Integration into Ouroboros experiment <- @nzhang-zh is working on this
6. All the rest of existing issues that's labelled with the MVP milestone on the

[2020-10-14 09:08] CMCDragonkai commented on #119
@robert-cronin hey this is really supposed to be in js-polykey right? Not Polykey.

[2020-10-14 09:17] CMCDragonkai commented on #118
Fixing and having proper testing for the NAT traversal is important here for our 31st October target. That way by November we should all be dogfooding Polykey and using it to share secrets. And with @nzhang-zh integrating it into the Matrix OS, that means we can use it to handle our secrets for the Ouroboros experiment!!!!

[2020-10-15 03:15] robert-cronin commented on #119
yes! transferring now

[2020-10-15 03:17] robert-cronin commented on #54
yeah you're right, that name isn't all that descriptive but yeah the mvp branch is the branch @gideonairex should be working from :+1:

[2020-10-19 04:00] gideonairex commented on #53
Current Updates

1. Was able to make it run on the local machine.
<img width="1277" alt="Screen Shot 2020-10-19 at 11 58 55 AM" src="https://user-images.githubusercontent.com/6386061/96400179-adcc1600-1202-11eb-9b05-202544209f47.png">

**Todo**
1. Update to vue 3.x
2. Update to vuex 4.x

**Approach**
1. Will run the app without backend for now and focus on the migration.

[2020-10-19 08:30] gideonairex commented on #53
@CMCDragonkai

so after running it in my local. There were issues in upgrading to vue3.

1. Had a roadblock on **vue-loader** as its being used in our compiler electron-webpack . This vue-loader is dependent on vue-template-compiler  https://github.com/electron-userland/electron-webpack/blob/5ad2481e1b90f3c290d4fa63879b9620f88887de/packages/electron-webpack/src/configurators/vue/vue.ts#L33. Had a

[2020-10-22 04:53] robert-cronin opened #120 "keypair generation command/pregenerating a keynode"
We might need to pre-generate a keynode and move it somewhere else (e.g. generating a keypair on a local machine and putting it in metadata to start an EC2 instance with). Currently there is only `pk agent init` command that also starts polykey and thus also automatically generates all the other folders needed to run polykey (.peers, .pki etc). Instead we just want to generate the keynode as that

[2020-10-22 05:00] robert-cronin opened #121 "unlock keynode upon start command"
the `pk agent start` command only starts the agent, but it should also unlock the node when starting. This requires an extra parameter to the start command of `--private-passphrase`

[2020-10-22 15:41] robert-cronin commented on #53
I guess it doesn't have to look completely polished, as long as we can have a working prototype we can install on all our computers and start iterating with feedback from the matrix team.

I am aiming to have the PR sent off by either tomorrow afternoon or sometime on Monday, after that I can jump onto the app and build out the new backend part of the app that controls the pk agent. @gideonairex y

[2020-10-22 21:47] CMCDragonkai commented on #53
Yea it doesn't need to look polished. Just porting over existing interface, with targets of opportunity for adding features. Main thing is that the team can start using it.

On 23 October 2020 2:42:14 am AEDT, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-22 21:50] CMCDragonkai commented on #120
Can you make sure all those directories are in 1 keynode state directory?

Also once in the subdirectory they don't need to be hidden folders. So no need for the dot prefix.

Only the default home directory needs the dot prefix. Everywhere else is user specified.

On 22 October 2020 3:54:07 pm AEDT, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Plea

[2020-10-28 02:29] robert-cronin commented on #98
This is done. We now have much better domain modelling and our dependency flow is looking much less cyclical and more grouped around domains:
![dependencies](https://user-images.githubusercontent.com/8540764/97383359-5fa4ca00-1908-11eb-83ad-96db4ca8ecdc.png)

[2020-10-30 02:53] robert-cronin commented on #107
I would say this is largely done now, we have a lot of improvements in our domain modelling as well as our . We also now have a rough spec in the form of xstate machines for our most important transitions and hopefully later we can take that spec and use it in our implementation as well. UML diagrams are still not a thing, but we have our dependency graph which is looking much better now.

[2020-10-30 02:54] CMCDragonkai commented on #107
Where's your new dependency graph?

[2020-10-30 02:54] CMCDragonkai commented on #107
Post it on slack when you have it!

[2020-10-30 04:01] robert-cronin commented on #96
We now have xstate models for most of the important transitions in polykey, including the DHT, KeyManager unlocked/locked, peer connections while pulling/cloning vaults etc.
There are certainly more things to model but this should be done when we are ready to integrate xstate as an implementation feature of polykey.

[2020-10-30 04:04] robert-cronin commented on #118
going ahead and merging :+1:

[2020-10-30 04:05] #77 closed, assigned to mariafoo, robert-cronin

[2020-10-30 04:05] #90 closed, assigned to robert-cronin

[2020-10-30 04:05] #96 closed, assigned to robert-cronin

[2020-10-30 04:05] #98 closed, assigned to robert-cronin

[2020-10-30 04:05] #102 closed, assigned to robert-cronin

[2020-10-30 04:05] #103 closed, assigned to robert-cronin

[2020-10-30 04:05] #107 closed, assigned to robert-cronin

[2020-10-30 04:05] #108 closed, assigned to robert-cronin

[2020-10-30 04:05] #111 closed, assigned to robert-cronin

[2020-10-30 04:05] #114 closed, assigned to robert-cronin

[2020-10-30 04:05] #119 closed, assigned to robert-cronin

[2020-10-30 07:54] robert-cronin commented on #100
This is now implemented in latest PR

[2020-10-30 07:54] #100 closed, assigned to robert-cronin

[2020-10-30 07:56] robert-cronin commented on #97
DHT is now implemented for FIND_NODE protocol

[2020-10-30 07:56] #97 closed, assigned to robert-cronin

[2020-10-30 07:59] robert-cronin commented on #69
From previous discussion, this shall be moved out of the MVP milestone.

[2020-10-30 08:01] robert-cronin commented on #68
From discussion, this will be removed from the MVP milestone.
The MVP milestone will employ a clipboard interface from the electron API and this issue will be left for integration into the cli/js-polykey

[2020-11-03 02:37] robert-cronin opened #57 "make multicast peer finding trigger-able"
At the moment, the find function is not implemented in the gui (only on the cli).
The find command uses the multicast address to listen for broadcasts from other peers and this should be triggered automatically if the keynode is unable to find a peer on an old address but should also be trigger-able by the user.
Edit: this find function on the gui should also show the ip/port pair that the peer wa

[2020-11-03 03:34] robert-cronin opened #122 "cycling of main keypair"
for this we already have the option of generating a new keypair with `replacePrimary = true` but there also needs to be a re-encryption of vault keys and encrypted metadata with the new keypair.

[2020-11-03 03:39] robert-cronin opened #123 "files in hidden folders should not be hidden as well"

[2020-11-03 03:41] robert-cronin opened #124 "make oauth2 scopes more explicit"
at the moment the oauth2 scopes for write_vaults/write_secrets also contain permissions for read access but this should be more explicit for the user to define.

[2020-11-03 03:43] robert-cronin commented on #124
We can also have dynamic scopes for more granular control over which vaults/secrets can be accessed. For example, access to a specific vault called `a` might be defined as `write_vault_a` or even attached to a token on initialisation with: `pk oauth token new -s 'write_vaults write_secrets' --vaults 'vault1 vault2'`

[2020-11-04 00:11] #53 closed

[2020-11-06 02:31] robert-cronin opened #126 "addPeer should return the peerId derived from the publicKey"
at the moment the addPeer command only returns a boolean but it should instead return the peerId derived from the publicKey for later identification purposes.

[2020-11-06 03:00] robert-cronin commented on #125
This is ready to be merged

[2020-11-07 05:32] CMCDragonkai commented on #125
@robert-cronin can you comment on the relationship between this and https://github.com/MatrixAI/TypeScript-Demo-Lib/issues/5 and https://github.com/MatrixAI/TypeScript-Demo-Lib/pull/13

Also remember to put description into PRs. Even dot points.

[2020-11-09 02:29] robert-cronin opened #127 "NAT traversal for the case of only 2 nodes and 1 is private"
At the moment the NAT traversal is only designed for the case of one public node and 2 private nodes but we should also consider the case where we have one public and one private node.

[2020-11-11 02:29] robert-cronin opened #128 "Backup Key File In Case User Forgets Keynode Passphrase"
make a key file for backup for unlocking the keynode - currently we only have root keypair (i.e. passphrase ). However the user can forget his passphrase and its better that we have a backup keyfile that could still unlock the keynode
@gideonairex

[2020-11-12 07:05] robert-cronin opened #129 "CLI - process.exit(0) interferes with spawn command for `pk secrets env`"
We have a process.exit(0) command in the `actionRunner` for the CLI and this was to prevent the CLI from hanging from any reason when the commands were completed but this is now causing the `pk secrets env` to stop working

[2020-11-12 07:19] robert-cronin opened #131 "social discovery is not working as intended"
At the moment we have exposed `pk peers social` interface for finding peer users via social discovery services like keybase, but it is not working as intended and failing with an error of `fetch is not defined`. We will also need to find some way to put social proof on a user's keybase (our first integration) by means of a signed `polykey.proof` file in the user's public path so it can be directly

[2020-11-19 07:35] robert-cronin opened #132 "Set an alias for a particular peer"
at the moment, the only way to identify a peer in the store is via a hash string of the public key (peerId), but this is not very user friendly. A great idea from @gideonairex is to extract the userId from the public key and set that at the top of each PeerInfo to be browsed by the user or even add in the ability to set a local alias for a particular peer.
This might be accomplished through the us

[2020-11-24 04:09] robert-cronin commented on #130
After some testing with flamegraph, it turned out swagger-ui and a few loops were the cause of the idle CPU usage. The loops include multicast broadcasting and the peerDHT trying to connect to unconnected peers. The latter looks to be the biggest source of inefficiency so I think it should initially try to connect to those peers and if its not able to after maybe 3 tries, it stops trying unless th

[2020-11-24 04:11] robert-cronin commented on #130
This is with swagger-ui:
![image](https://user-images.githubusercontent.com/8540764/100047722-1fc0fc00-2e4e-11eb-902a-cf6536fc2e91.png)
This is without:
![image](https://user-images.githubusercontent.com/8540764/100047744-2ea7ae80-2e4e-11eb-9012-7da60f5de154.png)

[2020-11-24 06:14] robert-cronin opened #133 "Split client and agent tls credentials into separate files"
currently they are in the one config.json file but Agent (and probably other clients) require them to be in separate files.
@nzhang-zh

[2020-11-24 07:15] CMCDragonkai commented on #130
Hmm is there a way to optimise the connection establishment itself? Does it involve alot of cryptography atm?

If it is an interval problem, we could do exponential backoff.

But another question is why are we trying to connect to unconnected peers atm?

On 24 November 2020 5:44:29 pm AEDT, Robbie Cronin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse

[2020-11-24 08:45] gideonairex opened #60 "Installation and Bootstrap implemantation"
### Installation and Bootstrap implementation

Screens to be implemented

- [x] 1. Installation
- [x] 2. Bootstrap
  - [x] 2.1 Initial screen filled Key Node
  - [x] 2.2 Initial screen empty Key Node
  - [x] 2.3 Creating Key Node
  - [x] 2.4 Recovery Code

[2020-11-25 07:58] robert-cronin opened #134 "BooleanMessage should be replaced with just thrown errors in Agent.proto"
The BooleanMessage is being used for success flags in the agent/client gRPC communication channels but this is redundant since if there is any error that stops the completion of a command, it is thrown and picked up by the client side error handler.
We will replace these BooleanMessage's with EmptyMessage

[2020-11-25 09:12] CMCDragonkai commented on #130
Will this PR also fix the high CPU usage? I didn't see an issue for that.

[2020-11-26 04:14] robert-cronin opened #135 "High CPU Usage While Idling"
So something noticed by both @nzhang-zh and myself is a high CPU usage while the polykey-agent is in idle or even while locked. I think I have traced most of this to interval network requests in the multicast broadcasting and peer DHT querying. As suggested in https://github.com/MatrixAI/js-polykey/pull/130#issuecomment-732703877, we could do expontential backoff for peerDHT querying if peers bein

[2020-11-26 07:54] robert-cronin commented on #113
within node-forge, we can do something like this to make the x.509 certificate the one and only piece of sharing needed for peer to peer contact. For example the kbpgp public key and peerAddress can be encoded in the public cert via attributes:
[code]
where `1.3.1.4.1` and `1.3.1.4.2` are custom OIDs that we can use specifically for encoding polykey specific attributes and this works just fine in

[2020-11-27 01:34] CMCDragonkai commented on #130
Can you update the title of this PR since it seems to address alot more than UDP hole punching.

[2020-11-27 01:35] CMCDragonkai commented on #130
BTW, high cpu usage when idling is critical to mobile deployment. @gideonairex

We need ways of hooking in events that occur on mobile like 4g vs wifi, battery vs powered... etc.

These would impact any background processing or discovery processes.

CPU usage for js-polykey is really important to optimize!

[2020-11-27 01:35] CMCDragonkai commented on #130
If @gideonairex has experience here, maybe he can help?

[2020-11-27 01:37] CMCDragonkai opened #136 "Gestalt Identity and Identity Augmentation"
@robert-cronin and @gideonairex please refer to the meeting on this topic of social discovery to keynode discovery to fill out the requirements for this issue.

Are you guys able to edit? If not, just post a comment below to understand what we need to do here.

[2020-11-27 02:25] robert-cronin commented on #130
Updated title to the two major things being addressed by this PR.
As for the events on mobile, there are some plugins we can use in nativescript:

- powerinfo (i.e. battery vs charging): https://market.nativescript.org/plugins/nativescript-powerinfo/
- connectivity info (4g vs wifi): https://docs.nativescript.org/ns-framework-modules/connectivity

[2020-11-27 02:29] CMCDragonkai commented on #130
Cool so the plugins will be useful to trigger those events, but then js-polykey needs the hooks as "governor" to govern all of its loops so that the user which is Electron Polykey or Native Script Polykey can know how to optimize the usage of js-polykey.

By "governor" I mean this: